<template>
<!--
  Box is a component that is used throughout the whole project as a menu-like component. Almost all of the transitions between
  pages are routed through 'Box'.
  Composed of a title, icon, additional info (assessors names etc.), linkName (which page to route to), linkParams (what to send in the route),
    -->
<div>
  <div :class="soon ? `soon box` :  `clickable box`" @click="tryRouting()">
    <h4 class="title">
      {{title}}
    </h4>
    <span v-if="soon"><b-badge pill variant="light" class="badge">coming soon</b-badge></span>
    <h6 v-if="groupsPage" class="num-people">משתתפים: {{numPeople}}</h6>
    <img v-else v-visible="iconPath" :src="iconPath" class="image" />
    <b-row v-if="additionalInfo && additionalInfo.length" class="add-info">
      <b-col v-for="info of additionalInfo" :key="info.id">
          {{info.name}}
      </b-col>
    </b-row>
  </div>
</div>
</template>

<script>

export default {
  name: 'Box',
  props: {
    title: String,
    icon: String,
    soon: Boolean,
    additionalInfo: Array,
    linkName: String,
    linkParams: Object,
    params: Object,
    groupsPage: Boolean,
    numPeople: Number
  },
  computed: {
    iconPath () {
      // The icon of the box component
      if (!this.icon) {
        return null
      }
      return require('../../assets/' + this.icon + '.png')
    }
  },
  methods: {
    // downloadGrades () {
    //   alert(2)
    //   axios.get(`http://localhost:8000/gibush/download_grades/?myun_id=${this.linkParams.gibush_id}`)
    //     .then((response) => {
    //       alert(1)
    //     })
    // },
    tryRouting () {
      // Route to the necessary page
      if (!this.linkName) {
        alert('No link specified for ' + this.title)
        return
      }
      this.$router.push({ name: this.linkName, params: this.linkParams })
    }
  }
}
</script>

<style scoped>
.box {
  border: #2c3e50 1px solid;
  margin: 10px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.clickable:hover {
  border: #2c5050 2px solid;
  cursor: pointer;
}

.clickable:active {
  box-shadow: none;
  background-color: #fbfbfb;

}

.image {
  margin-top: 14px;
  width: 50%;
  height: 50%;
}
.num-people{
  margin-top: 53px;
  padding-bottom: 28px;
}

.title {
  margin-top: 15px;
}

.add-info{
  transform: translate(0%, -25%)
}

.badge {
  position: absolute;
  margin-top: 20px;
  padding: 10px;
}

.soon {
  opacity: 0.5;
}
</style>
