<template>
  <div>
    <b-row style="padding-top: 10px; padding-bottom: 5px;" v-for="comment in comments" :key="comment">
      <b-col>
        <h5 style="padding: 3px;" class="text-center border rounded border-dark">{{comment}}</h5>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'AllCommentsSozio',
  props: {comments: Array},
  data () {
    return {

    }
  }
}
</script>

<style>

</style>
