<template>
  <div data-spy="scroll">
    <b-row @click="switchMembers(member.full_name, member.id)" style="padding-top: 10px; padding-bottom: 10px;" :class="member.chosen ? 'member border-top chosen-person' : 'member border-top'" v-for="member in (key, teamMembers)" :key="key">
      <b-col cols="4">
        <b-avatar v-if="member.soldier_values.media && member.soldier_values" variant="primary" :src="`${pathOfServer}${member.soldier_values.media}`"></b-avatar>
        <b-avatar v-else variant="primary"></b-avatar>
      </b-col>
      <b-col><p>{{member.full_name}}</p></b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'ChooseMemberComments',
  props: {teamMembers: Array},
  data () {
    return {
      pathOfServer: process.env.ROOT_API
    }
  },
  methods: {
    switchMembers (name, id) {
      this.$emit('ChangeMember', [id, name])
    }
  }
}
</script>

<style>
.member:hover{
  cursor: pointer;
  background-color: lightgrey;
}
.chosen-person {
  background-color: lightblue;
}
</style>