<template>
  <div>
    <b-table striped hover
             :items="items"
             :fields="fields">
      <template v-slot:cell(name)="row">
        {{ row.item.name }}
      </template>
      <template v-slot:cell(score)="row">
        <b-form-input v-model="row.item.score"/>
      </template>
    </b-table>
    {{ items }}
  </div>
</template>

<style>
  body {
    padding: 1rem;
  }
</style>

<script>
export default {
  name: 'EditableTable',
  data () {
    return {
      fields: {Name: 'name', Score: 'score'},
      items: [{name: 'Joe', score: 33}, {name: 'Sue', score: 77}]
    }
  }
}
</script>
