<template>
  <div>
    <b-table striped hover :items="items"></b-table>
  </div>
</template>

<script>
export default {
  name: 'GlobalTable',
  data () {
    return {
      fields: ['שם', 'דירוג'],
      items: [
        { 'דירוג': 40, 'שם': 'Dickerson' },
        { 'דירוג': 21, 'שם': 'Larsen' },
        { 'דירוג': 89, 'שם': 'Geneva' },
        { 'דירוג': 38, 'שם': 'Jami' }
      ]
    }
  }
}
</script>
