<template>
    <h2>
      <strong>
        {{ text }}
      </strong>
    </h2>
</template>

<script>

export default {
  name: 'Header',
  props: ['text']
}
</script>

<style scoped>
  h2 {
    opacity: 0.8;
    text-align: right;
  }
</style>
