<template>
    <h3 class="text-right">
      {{ text }}
    </h3>
</template>

<script>

export default {
  name: 'SubHeader',
  props: ['text']
}
</script>

<style scoped>
  h3 {
    opacity: 0.8;
    text-align: right;
  }
</style>
