<template>
<!-- exactly the same as the ChooseGroup page but goes to a list of participant page instead of insert values -->
  <div>
    <group-assessor-file v-on:finishAssessor="showFile = false" :trigger="showFile" :stage="letterToNum[$route.params.level_phase]" :myunId="Number($route.params.gibush_id)"></group-assessor-file>
    <modal-form
      @FinishSplit="trigger = false"
      :show_modal="trigger"
      :level_phase="String($route.params.level_phase)"
      :myun_id="String($route.params.gibush_id)"
    />
    <resplit-groups
      @CancelSplit="reSplit = false"
      @ReSplit="trigger = true; reSplit = false"
      :show_modal="reSplit"
    />
    <assign-assessor
      @FinishAssignGroup="assignAssessor = false"
      :trigger="assignAssessor"
      :stage="stage_num[$route.params.level_phase]"
      :myunId="Number($route.params.gibush_id)"
    />
    <b-row>
      <b-col cols="6">
        <h2 class="text-right opacity-8"><strong>קבוצות</strong></h2>
      </b-col>
      <b-col cols="3">
        <b-dropdown pill class="float-left" variant="primary" right text='הורד קבצים'>
          <b-dropdown-item class="text-right" @click="downloadSozio()">סוציומטרי</b-dropdown-item>
          <b-dropdown-item class="text-right" @click="showFile = true">הערכות מגבשים</b-dropdown-item>
          <b-dropdown-item class="text-right" @click="downloadGroups()">קובץ קבוצות</b-dropdown-item>
        </b-dropdown>
      </b-col>
      <b-col>
        <b-button class="float-right" variant="danger" @click="reSplit = true">חלק שוב</b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-button @click="assignAssessor = true" class="float-right" variant="warning">שייך מגבש</b-button>
      </b-col>
    </b-row>
    <div v-if="!loaded">
      <b-spinner variant="primary" label="Spinning" />
    </div>
    <div v-else class="dashboard">
      <box
        v-for="(group, index) of groups"
        :key="index" :title="`קבוצה ${String(group.group_id)}`" :params="group" :groupsPage="true" :numPeople="group.people_in_group"
        :additionalInfo="[{id: 1, name: group.assessor1_name}, {id: 2, name: group.assessor2_name}]"
        linkName="ParticipantListGroup" :linkParams="{gibush_id: $route.params.gibush_id, level_phase: $route.params.level_phase, group_id: group.group_id, groupDetails: group}"
      />
    </div>
  </div>
</template>

<script>
import ModalForm from '../../../components/ModalForm'
import ResplitGroups from '../../../components/ResplitGroups'
import AssignAssessor from '../../../components/AssignAssessor'
import Box from '../../../components/Box/Box'
import axios from 'axios'
import GroupAssessorFile from '../../../components/GroupAssessorFile'

export default {
  name: 'Groups',
  components: {Box, ModalForm, ResplitGroups, AssignAssessor, GroupAssessorFile},
  data () {
    return {
      assignAssessor: false,
      temp_list: [],
      groups: [],
      stage_num: {
        a: 1,
        b: 2
      },
      trigger: false,
      reSplit: false,
      loaded: false,
      showFile: false,
      letterToNum: {
        'a': 1,
        'b': 2
      }
    }
  },
  methods: {
    downloadGroups () {
      axios({
        url: `${process.env.ROOT_API}/download_groups/?myun_id=${this.$route.params.gibush_id}&stage=${this.stage_num[this.$route.params.level_phase]}&group_id=`,
        method: 'GET',
        responseType: 'blob'
      }).then(response => {
        var newBlob = new Blob([response.data])
        if (window.navigator && window.navigator.msSaveOrOpenBlob) {
          window.navigator.msSaveOrOpenBlob(newBlob)
          return
        }
        const data = window.URL.createObjectURL(newBlob)
        var link = document.createElement('a')
        link.href = data
        link.download = 'all_group_file.csv'
        link.click()
      })
        .catch(error => {
          alert(error)
        })
    },
    downloadAssessors () {
      axios({
        url: `${process.env.ROOT_API}/assessor_evaluation_pdf/?myun_id=${this.$route.params.gibush_id}&stage=${this.stage_num[this.$route.params.level_phase]}&group_id=`,
        method: 'GET',
        responseType: 'blob'
      }).then(response => {
        var newBlob = new Blob([response.data])
        if (window.navigator && window.navigator.msSaveOrOpenBlob) {
          window.navigator.msSaveOrOpenBlob(newBlob)
          return
        }
        const data = window.URL.createObjectURL(newBlob)
        var link = document.createElement('a')
        link.href = data
        link.download = 'assessors.zip'
        link.click()
      })
        .catch(error => {
          alert(error)
        })
    },
    downloadSozio () {
      axios({
        url: `${process.env.ROOT_API}/sozio_pdf/?myun_id=${this.$route.params.gibush_id}&stage=${this.stage_num[this.$route.params.level_phase]}&group_id=`,
        method: 'GET',
        responseType: 'blob'
      }).then(response => {
        var newBlob = new Blob([response.data])
        if (window.navigator && window.navigator.msSaveOrOpenBlob) {
          window.navigator.msSaveOrOpenBlob(newBlob)
          return
        }
        const data = window.URL.createObjectURL(newBlob)
        var link = document.createElement('a')
        link.href = data
        link.download = 'sozio.zip'
        link.click()
      })
        .catch(error => {
          alert(error)
        })
    }
  },
  created () {
    // TODO: Get relevant groups by gibush_id
    axios.get(`${process.env.ROOT_API}/gibush_group/?myun_id=${this.$route.params.gibush_id}&stage=${this.stage_num[this.$route.params.level_phase]}`)
      .then((response) => {
        for (let item in response.data) {
          this.temp_list.push(response.data[item])
        }
        let indexExists
        let exists
        for (let list1Index in this.temp_list) {
          let fullName = this.temp_list[list1Index].first_name + ' ' + this.temp_list[list1Index].last_name
          exists = false
          for (let list2Index in this.groups) {
            if (this.temp_list[list1Index].group_id === this.groups[list2Index].group_id) {
              indexExists = list2Index
              exists = true
            }
          }
          if (fullName === 'undefined undefined') {
            fullName = 'לא שויך מגבש'
          }
          if (exists) {
            this.groups[indexExists].assessor2_name = fullName
          } else {
            this.groups.push({group_id: this.temp_list[list1Index].group_id, assessor1_name: fullName, people_in_group: this.temp_list[list1Index].people_in_group})
          }
        }
        this.loaded = true
      })
      .catch(function (error) {
        console.log(error)
      })
  },
  watch: {
    loaded () {
      if (!Object.entries(this.temp_list).length) {
        this.trigger = true
      } else {
        this.trigger = false
      }
    }
  },
  computed: {
    gibushId () {
      return this.$route.params.gibush_id
    }
  }
}
</script>

<style scoped>
  h1 {
    margin: 30px;
  }
  .dashboard {
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
</style>
