<template>
<!-- soziometry page -->
 <div>
   <info-received v-on:FinishReceive="showReceived = false" :time="800" :text="popupText" :trigger="showReceived"></info-received>
   <new-group v-on:FinishNewGroup="diffGroup = false" :stage="stage_num[$route.params.level_phase]" :trigger="diffGroup" :sozio="true" :gibushId="Number(this.$route.params.gibush_id)"></new-group>
   <b-row>
    <b-col cols="7">
      <h2 class="text-right opacity-8"><strong>סוציומטרי: קבוצה {{Number($route.params.group_id)}}</strong></h2>
    </b-col>
    </b-row>
    <transition name="fade1">
      <div v-if="!fillerSelected" class="beginning">
        <b-row>
          <b-col cols="4">
            <h3>מי ממלא?</h3>
          </b-col>
          <b-col cols="4">
            <b-form-select size="lg" v-model="selectedFiller" :options="fillers"></b-form-select>
          </b-col>
        </b-row>
        <b-row style="padding-top: 100px;">
          <b-col cols="4">
          </b-col>
          <b-col cols="4">
            <b-button size="lg" variant="primary" pill @click="diffGroup = true">לקבוצה חדשה</b-button>
          </b-col>
        </b-row>
      </div>
    </transition>
    <transition name="fade">
    <div v-if="fillerSelected">
     <b-row>
       <b-col cols="3" id="filler_select">
         <b-form-select v-model="selectedFiller" :options="fillers"></b-form-select>
       </b-col>
     </b-row>
     <b-row id="subject-list">
       <b-col cols="12">
         <subject-list v-on:Posted="postedSozio" :groupId="Number($route.params.group_id)" :stage="stage_num[$route.params.level_phase]" :filler="selectedFiller" :listParticipents="fillers"></subject-list>
       </b-col>
     </b-row>
    </div>
    </transition>
 </div>
</template>

<script>
import axios from 'axios'
import SubjectList from '../../../components/SubjectList'
import InfoReceived from '../../../components/InfoReceived'
import NewGroup from '../../../components/NewGroup'

export default {
  name: 'Soziometry',
  components: {SubjectList, InfoReceived, NewGroup},
  data () {
    return {
      diffGroup: false,
      fillerSelected: false,
      popupText: 'הנתונים התקבלו בהצלחה, עובר למלש"ב הבא',
      stage_num: {
        a: 1,
        b: 2
      },
      stage_group: {
        a: 'first_stage_group',
        b: 'second_stage_group'
      },
      selectedFiller: -1,
      fillers: [
        {value: -1, text: 'מי ממלא?'}
      ],
      showReceived: false,
      grades: []
    }
  },
  watch: {
    selectedFiller () {
      // selected filler set to true
      if (this.selectedFiller !== -1) {
        this.fillerSelected = true
      } else {
        this.fillerSelected = false
      }
    }
  },
  created () {
    this.fetchData()
  },
  methods: {
    nextMember (a) {
      // goes to next page when posted grades
      let count = 0
      let choosePerson
      for (let person of this.fillers) {
        let exists = false
        for (let grade of this.grades) {
          if (grade.filler_participent_id === person.value && person.value !== -1) {
            exists = true
          }
        }
        if (!exists) {
          if (count === 1) {
            choosePerson = person.value
          }
          count++
        }
      }
      if (count === 1) {
        choosePerson = -1
      }
      this.selectedFiller = choosePerson
    },
    postedSozio () {
      // shows the popup that received  and updates the data that we have
      this.showReceived = true
      this.fetchData(true)
    },
    fetchData (check) {
      // gets all the grades of the people and puts check next to people who have filled already
      this.fillers = [{value: -1, text: 'מי ממלא?'}]
      axios.get(`${process.env.ROOT_API}/participent_list/?myun_id=${this.$route.params.gibush_id}&${this.stage_group[this.$route.params.level_phase]}=${this.$route.params.group_id}`)
        .then((response) => {
          for (let participent in response.data) {
            this.fillers.push({'value': response.data[participent].id, 'text': response.data[participent].first_name + ' ' + response.data[participent].last_name})
          }
          axios.get(`${process.env.ROOT_API}/sozio/?${this.stage_group[this.$route.params.level_phase]}=${this.$route.params.group_id}`)
            .then((response) => {
              this.grades = response.data
              let temp = response.data
              for (let person in this.fillers) {
                let count = 0
                for (let grade of temp) {
                  if (grade.filler_participent_id === this.fillers[person].value) {
                    count++
                    if (count === 1 && !this.fillers[person]['text'].includes('\u2713')) {
                      this.fillers[person]['text'] = '\u2713' + ' ' + this.fillers[person].text
                    }
                  }
                }
              }
              if (check) {
                this.nextMember()
              }
            })
          return true
        })
        .catch(function (error) {
          alert(error)
        })
    }
  }
}
</script>

<style>
.fade-enter-active {
  transition: opacity 1.2s;
}
.fade-leave-active{
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.fade1-enter-active {
  transition: opacity 1.2s;
}
.fade1-leave-active{
  transition: opacity 0.2s
}
.fade1-enter, .fade1-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
#filler_select{
  left:5%;
  position: absolute;
}
#subject-list{
  padding-top: 70px;
  width: 100%;
}
</style>
