<template>
  <div>
    <b-form-checkbox
      id="checkbox"
      v-model="status"
      name="checkbox-1"
      button
      :button-variant="variant"
    >
      {{title}}
      <b-icon
        v-if="icon.length > 0"
        :icon="icon"/>
    </b-form-checkbox>
  </div>
</template>

<script>
export default {
  name: 'FilterCheckbox',
  props: {
    title: String,
    variant: String,
    subscribe: String,
    icon: String
  },
  data () {
    return {
      status: false
    }
  },
  watch: {
    status (val) {
      this.$emit(this.subscribe, val)
    }
  }
}
</script>

<style scoped>
  b-checkbox {
    color: green;
  }
</style>
