<template>
  <div>
    <b-card no-body>
      <b-tabs card>
        <b-tab title="חברי הצוות" active>
          <b-card-body>
            <b-card-title>דירוג חברי הצוות</b-card-title>
            <b-card-sub-title class="mb-2">דירוג חברי הצוות עפ"י רמתם המקצועית. 1 מציין את הדירוג הגבוה ביותר ו-10 את הנמוך ביותר</b-card-sub-title>
            <GlobalTable />
            <b-button href="#" variant="primary" class="float-left">שלח</b-button>
          </b-card-body>
        </b-tab>
        <b-tab title="אמינות">
          <b-card-body>
            <b-card-title>דירוג חברי הצוות</b-card-title>
            <b-card-sub-title class="mb-2">דירוג חברי הצוות עפ"י רמתם המקצועית. 1 מציין את הדירוג הגבוה ביותר ו-10 את הנמוך ביותר</b-card-sub-title>
            <EditableTable />
          </b-card-body>
          <b-card-text>Tab contents 2</b-card-text>
        </b-tab>
        <b-tab title="תנאי לחץ">
          <b-card-text>Tab contents 2</b-card-text>
        </b-tab>
        <b-tab title="בחירות">
          <b-card-text>Tab contents 2</b-card-text>
        </b-tab>
        <b-tab title="פיקוד">
          <b-card-text>Tab contents 2</b-card-text>
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>

<script>
import GlobalTable from '../../../components/Core/GlobalTable'
import EditableTable from '../../../components/Core/EditableTable'
export default {
  name: 'TeamMembersScore',
  components: {EditableTable, GlobalTable}
}
</script>

<style scoped>

</style>
