<template>
  <div>
    <header class="mb-3">
      <Header text="הערכת צוות"></Header>
      <SubHeader text="טפסי הערכת צוות"></SubHeader>
    </header>
    <nav class="mb-3">
      <b-row>
        <b-col>
          <b-form-select v-model="SozioNumber" :options="sozio" @change="fetchData(); GetCheckedFiles();"/>
        </b-col>
        <b-col>
          <b-form-select v-model="DocumentNumber" :options="documents" @change="fetchData()"/>
        </b-col>
      </b-row>
    </nav>
    <main>
      <div>
        <b-tabs
          v-if="formSelected"
          v-model="currentpage"
          content-class="mt-3"
          @input="fetchData()"
        >
          <b-tab v-for="page in pages" :key="page.id" :title="page.title">
            <component :is="page.component"
                       :SozioNumber="SozioNumber"
                       :DocumentNumber="DocumentNumber"
                       :fillers="fillers"
                       :listLoaded="listLoaded"
                       :selectedLeaders="selectedLeaders"
                       @changeTab='changeTab'/>
          </b-tab>
        </b-tabs>
        <div
          v-else
        >
          אנא בחרו טופס
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import axios from 'axios'
import Header from '../../../components/Core/Header'
import SubHeader from '../../../components/Core/SubHeader'
import Dropdown from '../../../components/Core/Forms/Dropdown'
import GlobalTable from '../../../components/Core/GlobalTable'
import TeamMembersScore from './TeamMembersScore'
import RouteSoziometry from '../../../components/TeamAssessmentTabs/RouteSoziometry'
import trustworthy from '../../../components/TeamAssessmentTabs/Trustworthy'
import Freindship from '../../../components/TeamAssessmentTabs/Freindship'
import TeamLeads from '../../../components/TeamAssessmentTabs/TeamLeads'
import NoMatch from '../../../components/TeamAssessmentTabs/NoMatch'
import Form from '../../../components/TeamAssessmentTabs/Form'
import CommanderFeedback from '../../../components/TeamAssessmentTabs/CommanderFeadback'
import TeamFeedback from '../../../components/TeamAssessmentTabs/TeamFeedback'

export default {
  name: 'TeamAssessment',
  components: {TeamMembersScore, GlobalTable, trustworthy, TeamLeads, CommanderFeedback, TeamFeedback, Freindship, NoMatch, Form, RouteSoziometry, Dropdown, SubHeader, Header},
  data () {
    return {
      currentpage: 0,
      SozioNumber: null,
      DocumentNumber: null,
      members: [],
      listLoaded: false,
      selectedLeaders: [],
      documents: [{value: null, text: ` בחר מספר טופס`}],
      pages: [
        {id: 1, title: 'דירוג', component: RouteSoziometry},
        {id: 2, title: 'אמינות', component: trustworthy},
        {id: 3, title: 'חברויות', component: Freindship},
        {id: 4, title: 'פיקוד', component: TeamLeads},
        {id: 5, title: 'אי התאמה', component: NoMatch},
        {id: 6, title: 'טופס נוסף', component: Form},
        {id: 7, title: 'מפק"צ', component: CommanderFeedback},
        {id: 8, title: 'צוות', component: TeamFeedback}
      ],
      sozio: [{value: null, text: `בחר מספר סוציומטרי`},
        {value: 1, text: 1},
        {value: 2, text: 2},
        {value: 3, text: 3},
        {value: 4, text: 4}
      ],
      func: [this.sozioData, this.trustworthyData, this.Freindship, this.teamLeadsData, this.noMatchData, this.formData, this.commanderFeedback],
      fillers: [],
      baseUrl: 'http://127.0.0.1:8000/route/sozio'
    }
  },
  computed: {
    formSelected () {
      return this.SozioNumber && this.DocumentNumber
    }
  },
  created () {
  },
  mounted () {
  },
  methods: {
    changeTab () {
      this.currentpage = this.currentpage + 1
    },
    GetCheckedFiles () {
      let count = 0
      let previewText = ''
      this.documents = [{value: null, text: ` בחר מספר טופס`}]
      if (this.SozioNumber === null | this.SozioNumber === undefined) {
      } else {
        console.log(process.env)
        axios.get(`${this.baseUrl}/filled_documents/?team_id=${this.$route.params.team_id}&sozio_stage=${this.SozioNumber}`)
          .then((response) => {
            for (let participent in response.data) {
              count = count + 1
              if (response.data[participent].check === true) {
                previewText = `\u2713 ${count}`
              } else {
                previewText = count
              }
              // if we will want to know the participant
              this.documents.push({value: response.data[participent].id, text: previewText})
              // this.documents.push({value: count, text: previewText})
            }
          })
          .catch(function (error) {
            alert(error)
          })
      }
    },
    Freindship () {
      this.selectedLeaders = []
      this.fillers = []
      axios.get(`${this.baseUrl}/Freindship/?team_id=${this.$route.params.team_id}&sozio_stage=${this.SozioNumber}&document_number=${this.DocumentNumber}`)
        .then((response) => {
          for (let participent in response.data) {
            response.data[participent].soldier_values.id = response.data[participent].id
            response.data[participent].soldier_values.checked = response.data[participent].checked
            this.fillers.push(response.data[participent].soldier_values)
            if (response.data[participent].checked === true) {
              let first_name = response.data[participent].soldier_values.first_name
              let last_name = response.data[participent].soldier_values.last_name
              this.selectedLeaders.push({id: response.data[participent].soldier_values.id, name: `${first_name} ${last_name}`})
            }
          }
          this.listLoaded = true
        })
        .catch((error) => {
          alert(error)
        })
    },
    sozioData () {
      this.fillers = []
      axios.get(`${this.baseUrl}/SozioRoute/?team_id=${this.$route.params.team_id}&sozio_stage=${this.SozioNumber}&document_number=${this.DocumentNumber}`)
        .then((response) => {
          this.initializeFillers(response.data)
        }).catch(function (error) {
          console.log(error)
          alert(error)
        })
    },
    trustworthyData () {
      this.fillers = []
      axios.get(`${this.baseUrl}/TrustWorthy/?team_id=${this.$route.params.team_id}&sozio_stage=${this.SozioNumber}&document_number=${this.DocumentNumber}`)
        .then((response) => {
          this.initializeFillers(response.data)
        })
        .catch(function (error) {
          console.log(error)
          alert(error)
        })
    },
    noMatchData () {
      axios.get(`${this.baseUrl}/NotMatch/?team_id=${this.$route.params.team_id}&sozio_stage=${this.SozioNumber}&document_number=${this.DocumentNumber}`)
        .then((response) => {
          this.initializeFillers(response.data)
        })
        .catch(function (error) {
          console.log(error)
          alert(error)
        })
    },
    formData () {
      axios.get(`${this.baseUrl}/CopingWithStress/?team_id=${this.$route.params.team_id}&sozio_stage=${this.SozioNumber}&document_number=${this.DocumentNumber}`)
        .then((response) => {
          this.initializeFillers(response.data)
        })
        .catch(function (error) {
          console.log(error)
          alert(error)
        })
    },
    teamLeadsData () {
      this.fillers = []
      axios.get(`${this.baseUrl}/FitCommander/?team_id=${this.$route.params.team_id}&sozio_stage=${this.SozioNumber}&document_number=${this.DocumentNumber}`)
        .then((response) => {
          this.initializeFillers(response.data)
        })
    },
    commanderFeedback () {
      this.fillers = []
      axios.get(`${this.baseUrl}/CommanderFeedback/?team_id=${this.$route.params.team_id}&sozio_stage=${this.SozioNumber}&document_number=${this.DocumentNumber}`)
        .then((response) => {
          if (response.data) {
            this.fillers = response.data[0]
            console.log(this.fillers)
          }
        })
    },
    fetchData () {
      if (this.SozioNumber && this.DocumentNumber && this.currentpage !== 7) {
        this.func[this.currentpage]()
      }
    },
    initializeFillers (response_data) {
      this.fillers = response_data
    }
  }
}
</script>

<style scoped>
</style>
