<template>
  <b-dropdown id="dropdown-1"
              v-bind:text="text"
              variant="primary"
              class="m-md-2">
    <b-dropdown-item v-for="item in items"
                     :key="item">
      {{ item }}
    </b-dropdown-item>
  </b-dropdown>
</template>

<script>
export default {
  name: 'Dropdown',
  props: ['text', 'items']
}
</script>

<style scoped>

</style>
