<template>
  <b-col>
    <b-form-select v-model="selected"
                   :options="options">
    </b-form-select>
  </b-col>
</template>

<script>
export default {
  name: 'FormSelect',
  props: {
    title: String,
    numbers: Array
  },
  data () {
    return {
      selected: null,
      options: []
    }
  },
  mounted () {
    this.createOptions()
  },
  methods: {
    createOptions () {
      this.options = [
        {value: null, text: ` בחר מספר ${this.$props.title}`}
      ]
      console.log(this.numbers.length)
      for (let i = 1; i <= this.numbers.length; i++) {
        console.log(`${this.numbers[i].check} sadsdas`)
        if (this.numbers[i].check === true) {
          this.options.push(
            {value: i, text: `'\u2713' ${this.$props.title} ${i}`}
          )
        } else {
          this.options.push(
            {value: i, text: `${this.$props.title} ${i}`}
          )
        }
      }
    }
  }
}
</script>
