<template>
  <div id="app">
    <main-layout />
  </div>
</template>

<script>
import MainLayout from './pages/MainLayout'
export default {
  name: 'App',
  components: {MainLayout}
}
</script>

<style>
#app {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
