<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html dir="rtl">  
    <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
        <title>דף בעברית</title>
        <style type="text/css">
            @font-face {
            font-family: Arial;
            src: url("C:\Windows\Fonts\Arial.ttf");
            }
            @page {
                size: {{'A4'}};
                margin: 1cm;
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    margin-left: 9cm;
                    margin-right: 9cm;
                    height: 1cm;
                }
            }
            table {
                font-family: Arial;
                border-collapse: collapse;
                width: 100%;
                }

            td, th {
                border: 1px solid #dddddd;
                text-align: right;
                direction: rtl;
                padding: 8px;
                -webkit-transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
                -o-transform: rotateY(180deg);
                -ms-transform: rotateY(180deg);
                transform: rotateY(180deg);
                }
            .title{
                font-family: Arial;
                font-size: 15px;
            }
            .header{
                font-family: Arial;
                font-size: 30px;
            }
            .paragraph{
                font-family: Arial;
                font-size: 15px;
            }
        </style>
    </head>    
    <body dir="rtl" style="text-align: right;">
        <h1 class="header" style="text-align: right;"> 
        ירטמויצוס ספוט
        </h1>
        <p class="paragraph">
        !תחא םעפמ רתוי גוריד ותוא לע רוזחל ןיא .ךמש דיל 0 ןמס - גרדת לא ךמצע תא
 )הצובקב םישנא המכ יולת(x ןמס םיאתמ תוחפ יכה לש ומש דיל .׳וכו 2 ןמס וירחא אבה לש ומש דיל ,״גוריד״ רוטב 1 הרפסה תא ןמס רתויב םיאתמה לש ומש דיל
 .הדיחיל םתמאתה תניחבמ תווצל ךירבח לכ תא גרדל ךילע
        </p>
    <table dir="rtl">
            <tr class="title" style="text-align: right;">
                <th>ןויצ</th>
                <th>םש</th>
            </tr>

        {% for item in mylist %}
        <tr class="el-table">
           <th>  </th>
           <th> {{item.last_name}} {{item.first_name}} </th>
        </tr>
        {% endfor %}
    </table>
        <div id="footerContent">
            {%block page_foot%}
                Page <pdf:pagenumber>
            {%endblock%}
        </div>
    </body>
</html>