<template>
<!-- page to evaluate participant -->
<div v-on:keydown="enterPost">
  <info-received v-on:FinishReceive="showReceived = false" :time="timePopup" :text="popupText" :trigger="showReceived"></info-received>
  <new-group v-on:FinishNewGroup="diffGroup = false" :stage="stage_num[$route.params.level_phase]" :trigger="diffGroup" :gibushId="Number(this.$route.params.gibush_id)"></new-group>
  <b-row>
      <b-col cols="7">
        <h2 class="text-right opacity-8"><strong>הערכת מגבש: קבוצה {{Number($route.params.group_id)}}</strong></h2>
      </b-col>
    </b-row>
    <b-row id="title">
      <b-col cols="8">
        <h4 id="stage">{{title}} {{translation[$route.params.level_phase]}}</h4>
      </b-col>
      <transition name="fade">
        <b-col cols="3">
          <b-form-select v-if="chosenAssessor" :state="assessorState" id="assessor-box" v-model="selectedAssessor" :options="assessorOptions"></b-form-select>
        </b-col>
      </transition>
      </b-row>
    <transition name="fade1">
      <div v-if="!chosenAssessor" class="beginning">
        <b-row>
          <b-col cols="4">
            <h3><span style="color: red;">*</span>בחר מעריך</h3>
          </b-col>
          <b-col cols="4">
            <b-form-select size="lg" v-model="selectedAssessor" :options="assessorOptions"></b-form-select>
          </b-col>
        </b-row>
        <b-row style="padding-top: 100px;">
          <b-col cols="4">
          </b-col>
          <b-col cols="4">
            <b-button size="lg" variant="primary" pill @click="diffGroup = true">לקבוצה חדשה</b-button>
          </b-col>
        </b-row>
      </div>
    </transition>
  <transition name="fade">
  <div v-if="chosenAssessor" :class="chosenAssessor ? 'show': 'no-show'">
      <b-row class="new-row">
        <b-col cols="4">
          <p class="prompts"><span style="color: red;">*</span>שם המלש"ב:</p>
        </b-col>
        <b-col cols="5">
          <b-form-select :state="participantState" class="float-right" v-model="selectedParticipant" :options="participantOptions"></b-form-select>
        </b-col>
      </b-row>
      <b-row class="new-row">
        <b-col cols="4">
          <p class="prompts"><span style="color: red;">*</span>הכנס ציון:</p>
        </b-col>
        <b-col cols="5">
          <b-input :state="gradeState" autocomplete="off" class="float-right" :type="'number'" v-model="assessGrade"></b-input>
        </b-col>
      </b-row>
      <b-row class="new-row">
        <b-col cols="4">
          <p class="prompts"><span style="color: red;">*</span>הערה מילולית:</p>
        </b-col>
        <b-col cols="6">
          <b-form-textarea :state="commentState" autocomplete="off" v-model="comment" placeholder="כתוב הערה..." rows="5"></b-form-textarea>
        </b-col>
      </b-row>
      <b-row>
        <p style="color: red;">{{invalidInput}}</p>
      </b-row>
      <b-row class="new-row">
        <b-button id="continue-button" v-on:click="postGrade()" :pill="true" variant="primary">שלח</b-button>
      </b-row>
    </div>
    </transition>
</div>

</template>

<script>
import axios from 'axios'
import httpStatusCodes from '../../models/status-codes'
import InfoReceived from '../../components/InfoReceived'
import NewGroup from '../../components/NewGroup'

export default {
  name: 'AssessorEval',
  components: {InfoReceived, NewGroup},
  data () {
    return {
      diffGroup: false,
      popupText: '',
      countExist: 0,
      timePopup: 850,
      finishedAll: false,
      nextAssessor: false,
      chosenAssessor: false,
      showReceived: false,
      stage_num: {
        a: 1,
        b: 2
      },
      group_id: this.$route.params.group_id,
      stage_group: {
        a: 'first_stage_group',
        b: 'second_stage_group'
      },
      translation: {
        a: "א'",
        b: "ב'"
      },
      title: 'שלב',
      invalidInput: '',
      selectedParticipant: 'placeHolder',
      selectedAssessor: 'placeHolder',
      assessGrade: null,
      comment: '',
      participantOptions: [
        {'value': 'placeHolder', 'text': 'בחר מלש"ב'}
      ],
      assessorOptions: [
        {'value': 'placeHolder', 'text': 'בחר מעריך'}
      ],
      existGrades: [],
      commentState: null,
      gradeState: null,
      assessorState: null,
      participantState: null
    }
  },
  watch: {
    selectedParticipant () {
      // watches selected parricpant and chanegs grades and comment accordingky
      if (this.selectedParticipant !== 'placeHolder' && this.selectedAssessor !== 'placeHolder') {
        let exists = false
        for (let existGrade of this.existGrades) {
          if (existGrade.stage === this.stage_num[this.$route.params.level_phase] && existGrade.assessor_id === this.selectedAssessor && existGrade.soldier_id === this.selectedParticipant) {
            this.assessGrade = existGrade.grade
            this.comment = existGrade.comment
            exists = true
          }
        }
        if (!exists) {
          this.comment = null
          this.assessGrade = null
        }
      } else {
        this.comment = null
        this.assessGrade = null
      }
    },
    selectedAssessor () {
      // on change activates checkAssessors
      this.checkAssessors()
    }
  },
  created () {
    // gets all relevant information (assessors, participants in group and grades)
    this.getGrades()
    axios.get(`${process.env.ROOT_API}/assessor_group/?group_id=${Number(this.$route.params.group_id)}&stage=${Number(this.stage_num[this.$route.params.level_phase])}&myun_id=${Number(this.$route.params.gibush_id)}`)
      .then((response) => {
        for (let Assessor in response.data) {
          this.assessorOptions.push({'value': response.data[Assessor].id, 'identity_number': response.data[Assessor].identity_number, 'text': response.data[Assessor].first_name + ' ' + response.data[Assessor].last_name})
        }
      })
      .catch(function (error) {
        console.log(error)
      })
    axios.get(`${process.env.ROOT_API}/participent_list/?myun_id=${this.$route.params.gibush_id}&${this.stage_group[this.$route.params.level_phase]}=${this.$route.params.group_id}`)
      .then((response) => {
        for (let Assessor in response.data) {
          this.participantOptions.push({'value': response.data[Assessor].id, 'text': response.data[Assessor].first_name + ' ' + response.data[Assessor].last_name})
        }
      })
      .catch(function (error) {
        console.log(error)
      })
  },
  methods: {
    checkAssessors () {
      // sets the grades and stuff and puts a check next to particpant that has been filled by the chosen assessor
      if (this.selectedAssessor !== 'placeHolder') {
        this.chosenAssessor = true
        for (let participant in this.participantOptions) {
          let count = 0
          let exist = false
          for (let grade of this.existGrades) {
            if (grade.assessor_id === this.selectedAssessor && grade.soldier_id === this.participantOptions[participant].value) {
              count++
              exist = true
              if (count === 1 && !this.participantOptions[participant].text.includes('\u2713')) {
                this.participantOptions[participant].text = '\u2713' + ' ' + this.participantOptions[participant].text
              }
            }
          }
          if (!exist && this.participantOptions[participant].text.includes('\u2713')) {
            this.participantOptions[participant].text = this.participantOptions[participant].text.substring(2)
          }
        }
      } else {
        this.chosenAssessor = false
      }
      if (this.selectedParticipant !== 'placeHolder' && this.selectedAssessor !== 'placeHolder') {
        let exists = false
        for (let existGrade of this.existGrades) {
          if (existGrade.stage === this.stage_num[this.$route.params.level_phase] && existGrade.assessor_id === this.selectedAssessor && existGrade.soldier_id === this.selectedParticipant) {
            this.assessGrade = existGrade.grade
            this.comment = existGrade.comment
            exists = true
          }
        }
        if (!exists) {
          this.comment = null
          this.assessGrade = null
        }
      } else {
        this.comment = null
        this.assessGrade = null
      }
    },
    nextMember () {
      // goes to next participant after post
      axios.get(`${process.env.ROOT_API}/assessor_eval/?myun_id=${this.$route.params.gibush_id}&${this.stage_group[this.$route.params.level_phase]}=${Number(this.$route.params.group_id)}`)
        .then((response) => {
          this.existGrades = response.data
          console.log(this.existGrades)
          this.countExist = 1
          let count1 = 0
          let personChoose = null
          for (let participant of this.participantOptions) {
            let exists = false
            for (let existGrade of this.existGrades) {
              if (existGrade.stage === this.stage_num[this.$route.params.level_phase] && existGrade.assessor_id === this.selectedAssessor && existGrade.soldier_id === participant.value && participant.value !== 'placeHolder') {
                exists = true
                this.countExist++
              }
            }
            if (!exists) {
              if (count1 === 1) {
                personChoose = participant.value
              }
              count1++
            }
          }
          if (personChoose) {
            this.selectedParticipant = personChoose
            this.checkAssessors()
          }
          if (this.countExist === this.participantOptions.length) {
            let finishedAssessor = 1
            for (let assessor of this.assessorOptions) {
              let count = 1
              for (let participant of this.participantOptions) {
                for (let existGrade of this.existGrades) {
                  if (existGrade.stage === this.stage_num[this.$route.params.level_phase] && existGrade.assessor_id === assessor.value && existGrade.soldier_id === participant.value && assessor.value !== 'placeHolder' && participant.value !== 'placeHolder') {
                    count++
                  }
                }
              }
              if (count !== this.participantOptions.length && assessor.value !== 'placeHolder') {
                this.selectedAssessor = assessor.value
                this.popupText = 'הנתונים עבור מעריך זה התקבלו. כעת עוברים למעריך הבא'
                this.timePopup = 1500
                this.showReceived = true
              } else if (count === this.participantOptions.length) {
                finishedAssessor++
              }
            }
            if (finishedAssessor === this.assessorOptions.length) {
              this.timePopup = 1500
              this.popupText = 'כל הנתונים התקבלו בהצלחה עבור קבוצה זה'
              this.$router.go(0)
            } else {
              this.nextMember()
            }
          } else {
            this.timePopup = 850
            this.popupText = 'הנתונים התקבלו בהצלחה'
            this.showReceived = true
          }
        })
    },
    getGrades () {
      // gets all grades for the group
      axios.get(`${process.env.ROOT_API}/assessor_eval/?myun_id=${this.$route.params.gibush_id}&${this.stage_group[this.$route.params.level_phase]}=${Number(this.$route.params.group_id)}`)
        .then((response) => {
          this.existGrades = response.data
        })
    },
    enterPost (e) {
      if (e.ctrlKey && e.keyCode === 13) {
        this.postGrade()
      }
    },
    postGrade () {
      // validates input and posts entered grade
      let finalGrade = {stage: this.stage_num[this.$route.params.level_phase], myun_id: this.$route.params.gibush_id, assessor_id: '', assessor_identity_number: '', soldier_id: '', grade: '', comment: ''}
      console.log(this.comment)
      if (this.selectedParticipant !== 'placeHolder' && this.selectedAssessor !== 'placeHolder' && this.assessGrade !== null && this.comment !== null && this.comment !== ' ') {
        if (this.assessGrade > 6 || this.assessGrade < 1) {
          this.invalidInput = 'קלט לא תקין, הציון חייב להיות בין 1-6'
          this.gradeState = false
        } else {
          this.gradeState = true
          for (let assessor in this.assessorOptions) {
            if (this.assessorOptions[assessor].value === this.selectedAssessor) {
              finalGrade.assessor_identity_number = this.assessorOptions[assessor].identity_number
            }
          }
          finalGrade.soldier_id = this.selectedParticipant
          finalGrade.assessor_id = this.selectedAssessor
          finalGrade.grade = this.assessGrade
          finalGrade.comment = this.comment
          axios.post(`${process.env.ROOT_API}/assessor_eval/`, finalGrade)
            .then(response => {
              if (response.status === httpStatusCodes.CREATED) {
                this.invalidInput = ''
                this.assessorState = null
                this.participantState = null
                this.gradeState = null
                this.commentState = null
                this.nextMember()
              }
            })
            .catch(error => {
              alert(error)
            })
        }
      } else {
        if (this.selectedParticipant === 'placeHolder') {
          this.participantState = false
        } else {
          this.participantState = true
        }
        if (this.selectedAssessor === 'placeHolder') {
          this.assessorState = false
        } else {
          this.assessorState = true
        }
        if (this.assessGrade === null || this.assessGrade === '' || (this.assessGrade > 6 || this.assessGrade < 1)) {
          this.gradeState = false
        } else {
          this.gradeState = true
        }
        if (this.comment === ' ' || this.comment === null) {
          this.commentState = false
        } else {
          this.commentState = true
        }
        this.invalidInput = 'קלט לא תקין, נא מלא את כל השדות'
      }
    }
  }
}
</script>

<style>
.flex-required {
  text-align: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div{
  font-weight: bold;
}
#stage{
  opacity: 0.8;
  text-align: right;
}
.prompts{
  opacity: 0.8;
  text-align: center;
  font-size: 20px;
  padding-left: 15%;
}
.new-row{
  padding-top: 5%;
}
.option-box{
  width: 40%;
}
#continue-button{
  left: 6%;
  position: absolute;
}
.fade-enter-active {
  transition: opacity 1.2s;
}
.fade-leave-active{
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.fade1-enter-active {
  transition: opacity 1.2s;
}
.fade1-leave-active{
  transition: opacity 0.2s
}
.fade1-enter, .fade1-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
