<template>
  <div>
    <h1>
    </h1>
    <div class="container">
      <div class="item pic-and-name">
        <div>
          <img src="../../assets/5fd2c06f558321eff612bbbe455f6fbd@2x.png" class="pic">
        </div>
        שם מלא
      </div>
      <div class="item rank">
        דירוג סופי
      </div>
      <div class="item details">
         <profile-details class="prof-det"/>
         <profile-details class="prof-det"/>
      </div>
      <div class="item recruit-details">
        נתוני לשכה
      </div>
    </div>
  </div>
</template>

<script>
import ProfileDetails from '../../components/ProfileDetails'
export default {
  name: 'AssessorProfile',
  components: {ProfileDetails},
  props: {
    title: String
  }
}
</script>

<style scoped>
  .container {
  }
  .item {
    position: absolute;
    border: #2c3e50 2px solid;
  }
  .pic-and-name {
    top: 30%;
    right: 10%;
    width: 20%;
    height: 40%;
  }

  .pic {
    margin-top: 10px;
    margin-bottom: 30px;
    border: black 1px solid;
    width: 150px;
    height: 150px;
  }

  .rank {
    bottom: 10%;
    right: 10%;
    width: 20%;
    height: 15%;
  }

  .details {
    top: 30%;
    right: 35%;
    width: 40%;
    height: 68%;
  }

  .recruit-details {
    top: 30%;
    left: 2%;
    width: 20%;
    height: 40%;
  }

  .prof-det {
    margin: 3%;
    width: 90%;
    height: 45%;
  }
</style>
