<template>
<!-- list of assessors -->
  <div>
    <b-modal
      v-model="showModal"
      @ok="postNewAssessor"
      @cancel="showModal=false; tzState = null; unitState = null; firstState=null; lastState=null"
      no-close-on-esc no-close-on-backdrop hide-header-close
      cancel-title="בטל"
      ok-title="צור"
      title="יצירת מגבש"
    >
      <b-row>
        <b-col cols="2">
          <p dir="rtl" class="modal-text"><span style="color:red;">*</span>שם פרטי</p>
        </b-col>
        <b-col cols="6">
          <b-form-input :state="firstState" placeholder="שם פרטי" v-model="firstName" />
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="2">
          <p dir="rtl" class="modal-text"><span style="color:red;">*</span>שם משפחה</p>
        </b-col>
        <b-col cols="6">
          <b-form-input :state="lastState" placeholder="שם משפחה" v-model="lastName" />
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="2">
          <p dir="rtl" class="modal-text"><span style="color:red;">*</span>ת.ז.</p>
        </b-col>
        <b-col cols="6">
          <b-form-input :state="tzState" placeholder="תעודת זהות" v-model="tz" />
        </b-col>
      </b-row>
      <b-row style="padding-top:5%">
        <b-col cols="2">
          <p dir="rtl" class="modal-text"><span style="color:red;">*</span>יחידה</p>
        </b-col>
        <b-col cols="6">
          <b-form-input :state="unitState" placeholder="יחידה" v-model="unit" />
        </b-col>
      </b-row>
      <b-row style="padding-top: 8px; padding-bottom: 8px;">
        <b-col dir="rtl">
          <p dir="rtl" class="text-right" id="bad-input">{{badInput}}</p>
        </b-col>
      </b-row>
  </b-modal>
    <b-row>
    <b-col cols="7">
      <h2 style="opacity: 0.8;" class="text-right opacity-8"><strong>רשימת מגבשים</strong></h2>
    </b-col>
    <b-col cols="5">
      <b-button id="add-assessor" @click="addAssessor()" variant="primary" :pill="true">הוספת מגבש</b-button>
    </b-col>
    </b-row>
    <div v-if="listLoaded">
      <assessor-table
        :myunId="Number($route.params.gibush_id)"
        :userList="AssessorList"
        :listLoaded="listLoaded"
        :filterChange="filterChange"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import AssessorTable from '../../components/AssessorTable'
import httpStatusCodes from '../../models/status-codes'

export default {
  name: 'AssessorList',
  components: { AssessorTable },
  data () {
    return {
      unitState: null,
      tzState: null,
      firstState: null,
      lastState: null,
      checkExist: false,
      firstName: null,
      lastName: null,
      tz: null,
      unit: null,
      badInput: '',
      AssessorList: [],
      listLoaded: false,
      showModal: false,
      filterChange: false,
      tempAssessor: []
    }
  },
  created () {
    this.fetchRecords()
  },
  methods: {
    postNewAssessor (bvModalEvt) {
      // adds new assessor
      let goodInput = true
      if (!this.lastName) {
        this.lastState = false
        this.badInput = 'נא מלא את כל  השדות'
        goodInput = false
        bvModalEvt.preventDefault()
      } else {
        this.lastState = true
      }
      if (!this.firstName) {
        this.firstState = false
        this.badInput = 'נא מלא את כל  השדות'
        goodInput = false
        bvModalEvt.preventDefault()
      } else {
        this.firstState = true
      }
      if (!this.tz) {
        this.tzState = false
        this.badInput = 'נא מלא את כל  השדות'
        goodInput = false
        bvModalEvt.preventDefault()
      } else {
        this.tzState = true
      }
      if (!this.unit) {
        this.unitState = false
        this.badInput = 'נא מלא את כל  השדות'
        goodInput = false
        bvModalEvt.preventDefault()
      } else {
        this.unitState = true
      }
      if (isNaN(this.tz) | this.tz.length !== 9) {
        this.tzState = false
        this.badInput = 'התעודת זהות חייבת להיות מספר בעל תשע ספרות'
        goodInput = false
        bvModalEvt.preventDefault()
      }
      if (goodInput) {
        this.tzState = true
        this.firstState = true
        this.lastState = true
        this.unitState = true
        axios.post(`${process.env.ROOT_API}/Assessor/`, {first_name: this.firstName, last_name: this.lastName, identity_number: this.tz, unit: this.unit})
          .then(response => {
            if (response.status === httpStatusCodes.CREATED) {
              this.$router.go(0)
            }
          })
          .catch(error => {
            console.log(error)
          })
      }
    },
    addAssessor () {
      // shows add assessor modal
      this.badInput = ''
      this.tz = null
      this.firstName = null
      this.lastName = null
      this.unit = null
      this.showModal = true
    },
    fetchRecords () {
      // gets assessors
      axios.get(`${process.env.ROOT_API}/Assessor/?myun_id=${this.$route.params.gibush_id}`)
        .then((response2) => {
          for (let assessorBack of response2.data) {
            this.tempAssessor.push(assessorBack)
          }
        })
      axios.get(`${process.env.ROOT_API}/gibush_group/?myun_id=${this.$route.params.gibush_id}`)
        .then((response) => {
          if (response.data.length === 0 || !response.data[0].assessor_id) {
            axios.get(`${process.env.ROOT_API}/Assessor/?myun_id=${this.$route.params.gibush_id}`)
              .then((response2) => {
                for (let assessorBack of response2.data) {
                  this.AssessorList.push(assessorBack)
                }
              })
          } else {
            console.log(response.data)
            let exists = false
            if (response.data[0].assessor_id !== '') {
              this.AssessorList.push({
                id: response.data[0].assessor_id,
                first_name: response.data[0].first_name,
                last_name: response.data[0].last_name,
                identity_number: response.data[0].identity_number,
                unit: response.data[0].unit})
              if (response.data[0].stage === 1) {
                this.AssessorList[0]['first_stage_group'] = response.data[0].group_id
                this.AssessorList[0]['first_stage_role'] = response.data[0].role
              } else {
                this.AssessorList[0]['second_stage_group'] = response.data[0].group_id
                this.AssessorList[0]['second_stage_role'] = response.data[0].role
              }
              for (let assessor of response.data) {
                exists = false
                if (assessor.assessor_id !== '') {
                  for (let assessor2 in this.AssessorList) {
                    if (assessor.assessor_id === this.AssessorList[assessor2].id) {
                      exists = true
                      if (assessor.stage === 1) {
                        this.AssessorList[assessor2]['first_stage_group'] = assessor.group_id
                      } else {
                        this.AssessorList[assessor2]['second_stage_group'] = assessor.group_id
                        this.AssessorList[assessor2]['second_stage_role'] = assessor.role
                      }
                    }
                  }
                  if (!exists) {
                    if (assessor.stage === 1) {
                      this.AssessorList.push({
                        id: assessor.assessor_id,
                        first_name: assessor.first_name,
                        last_name: assessor.last_name,
                        first_stage_role: assessor.role,
                        identity_number: assessor.identity_number,
                        unit: assessor.unit,
                        first_stage_group: assessor.group_id})
                    } else {
                      this.AssessorList.push({
                        id: assessor.assessor_id,
                        first_name: assessor.first_name,
                        last_name: assessor.last_name,
                        second_stage_role: assessor.role,
                        identity_number: assessor.identity_number,
                        unit: assessor.unit,
                        second_stage_group: assessor.group_id})
                    }
                  }
                }
              }
              if (this.tempAssessor.length > this.AssessorList.length) {
                for (let assessor1 in this.tempAssessor) {
                  this.checkExist = false
                  for (let assessor2 in this.AssessorList) {
                    if (this.tempAssessor[assessor1].identity_number === this.AssessorList[assessor2].identity_number) {
                      this.checkExist = true
                    }
                  }
                  if (!this.checkExist) {
                    this.AssessorList.push(this.tempAssessor[assessor1])
                  }
                }
              }
            }
          }
          console.log(this.AssessorList)
          this.listLoaded = true
        })
    }
  }
}
</script>

<style scoped>
#bad-input{
  color: red;
}
#add-assessor{
  left: 5%;
  position: absolute;
}
.opacity-8{
  opacity: 0.8;
}
</style>
