<template>
<!--
  Component used to edit Assessor details. can also be used to add an assessor.
  It is a modal
 -->
  <div>
    <b-modal
      v-model="showModal"
      @ok="handleOk"
      @cancel="handleCancel"
      no-close-on-esc no-close-on-backdrop hide-header-close
      cancel-title="בטל"
      ok-title="שמור"
      title="עריכת מגבש"
    >
      <b-row>
        <b-col cols="2">
          <p dir="rtl" class="modal-text"><span style="color:red;">*</span>שם פרטי</p>
        </b-col>
        <b-col cols="6">
          <b-form-input :state="firstState" placeholder="שם פרטי" v-model="firstName" />
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="2">
          <p dir="rtl" class="modal-text"><span style="color:red;">*</span>שם משפחה</p>
        </b-col>
        <b-col cols="6">
          <b-form-input :state="lastState" placeholder="שם משפחה" v-model="lastName" />
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="2">
          <p dir="rtl" class="modal-text"><span style="color:red;">*</span>ת.ז.</p>
        </b-col>
        <b-col cols="6">
          <b-form-input :state="tzState" placeholder="תעודת זהות" v-model="tz" />
        </b-col>
      </b-row>
      <b-row style="padding-top:5%">
        <b-col cols="2">
          <p dir="rtl" class="modal-text"><span style="color:red;">*</span>יחידה</p>
        </b-col>
        <b-col cols="6">
          <b-form-input :state="unitState" placeholder="יחידה" v-model="unit" />
        </b-col>
      </b-row>
      <b-row style="padding-top: 8px; padding-bottom: 8px;">
        <b-col cols="12">
          <p class="text-right" id="bad-input">{{badInput}}</p>
        </b-col>
      </b-row>
  </b-modal>
  </div>
</template>

<script>
import axios from 'axios'
import httpStatusCodes from '../models/status-codes'

export default {
  name: 'AddAssessorModal',
  props: {
    trigger: Boolean,
    assessorId: Number
  },
  data () {
    return {
      unitState: null,
      tzState: null,
      firstState: null,
      lastState: null,
      showModal: false,
      firstName: null,
      lastName: null,
      tz: null,
      unit: null,
      badInput: null
    }
  },
  watch: {
    trigger (change) {
      if (change === true) {
        this.getInfo()
        this.showModal = true
      } else {
        this.showModal = false
      }
    }
  },
  methods: {
    getInfo () {
      // gets the info about the assessor in question and sets the fields to display data.
      axios.get(`${process.env.ROOT_API}/Assessor/`)
        .then((response) => {
          for (let assessor of response.data) {
            if (Number(assessor.id) === Number(this.assessorId)) {
              this.tz = assessor.identity_number
              this.unit = assessor.unit
              this.firstName = assessor.first_name
              this.lastName = assessor.last_name
            }
          }
        })
    },
    handleOk (bvModalEvt) {
      // check the info to see that it is valid and posts the data to the server to edit or add the assessor.
      let goodInput = true
      if (!this.lastName) {
        this.lastState = false
        this.badInput = 'נא מלא את כל  השדות'
        goodInput = false
        bvModalEvt.preventDefault()
      } else {
        this.lastState = true
      }
      if (!this.firstName) {
        this.firstState = false
        this.badInput = 'נא מלא את כל  השדות'
        goodInput = false
        bvModalEvt.preventDefault()
      } else {
        this.firstState = true
      }
      if (!this.tz) {
        this.tzState = false
        this.badInput = 'נא מלא את כל  השדות'
        goodInput = false
        bvModalEvt.preventDefault()
      } else {
        this.tzState = true
      }
      if (!this.unit) {
        this.unitState = false
        this.badInput = 'נא מלא את כל  השדות'
        goodInput = false
        bvModalEvt.preventDefault()
      } else {
        this.unitState = true
      }
      if (isNaN(this.tz) | this.tz.length !== 9) {
        this.tzState = false
        this.badInput = 'התעודת זהות חייבת להיות מספר בעל תשע ספרות'
        goodInput = false
        bvModalEvt.preventDefault()
      }
      if (goodInput) {
        this.tzState = true
        this.firstState = true
        this.lastState = true
        this.unitState = true
        axios.post(`${process.env.ROOT_API}/Assessor/`, {first_name: this.firstName, last_name: this.lastName, identity_number: this.tz, unit: this.unit})
          .then(response => {
            if (response.status === httpStatusCodes.CREATED) {
              this.$router.go(0)
            }
          })
          .catch(error => {
            console.log(error)
          })
      }
    },
    handleCancel (bvModalEvt) {
      // sets all fields to null and emits ‘Cancel’
      this.tzState = null
      this.firstState = null
      this.lastState = null
      this.unitState = null
      this.$emit('Cancel')
    },
    finishReceive () {
      // finishes the edit process and emits ‘finishEdit’.
      this.tzState = null
      this.firstState = null
      this.lastState = null
      this.unitState = null
      this.$emit('FinishEdit')
    }
  }
}
</script>

<style>

</style>
