<template>
<!--
  Component that is a modal, used to edit or add a participant to the gibush.
 -->
  <div>
    <web-cam @CloseCam="closeCam" :trigger="showCam" :newPart="true" :identityNumber="fields.id.value"></web-cam>
  <div>
  <b-modal v-model='showModal' @ok="handleOk" @cancel="handleCancel"  no-close-on-esc no-close-on-backdrop hide-header-close cancel-title="בטל" :ok-title="id !== -1 ? `ערוך` : `הוסף`" title="הוסף משתתף">
    <b-container fluid>
      <b-row class="my-1 text-right" v-for="field in fields" :key="field.key">
        <b-col v-if="field.isMandatory" sm="3">
          <label class="text-right" :for="`type-${field}`"><span style="color: red;">*</span><span>{{ field.key }}</span></label>
        </b-col>
        <b-col v-else sm="3">
          <label class="text-right" :for="`type-${field}`"><span>{{ field.key }}</span></label>
        </b-col>
        <b-col sm="9">
          <b-form-input autocomplete="off" :id="`type-${field}`" :type="field.type"  v-model="field.value" :state="field.state"></b-form-input>
        </b-col>
      </b-row>
      <b-row class="text-right my-1" v-for="field in boolFields" :key="field.key">
        <b-col sm="3">
          <label class="text-right" :for="`type-${field}`"><span>{{ field.key }}</span></label>
        </b-col>
        <b-col sm="9">
          <b-form-checkbox v-model="field.value"></b-form-checkbox>
        </b-col>
      </b-row>
      <p class="text-right bad_input" v-text="invalidInput"></p>
    </b-container>
  </b-modal>
</div>
</div>
</template>

<script>
import axios from 'axios'
import httpStatusCodes from '../models/status-codes'
import WebCam from '../components/WebCam'

export default {
  name: 'ModalForm',
  components: {WebCam},
  props: {
    update: {
      type: Boolean,
      required: false,
      default: false
    },
    id: {
      type: Number,
      required: false,
      default: -1
    },
    trigger: Boolean,
    fields: {
      type: Object,
      required: true
    },
    boolFields: {
      type: Object,
      required: true
    },
    myunId: Number,
    edit: Boolean
  },
  data () {
    return {
      invalidInput: null,
      showModal: false,
      showCam: false
    }
  },
  watch: {
    trigger (val) {
      //  shows the modal on change
      this.showModal = val
    }
  },
  methods: {
    checkProfile () {
      // validate input for profile
      if (Number(this.fields.profile.value) === 97 || Number(this.fields.profile.value) === 82 || Number(this.fields.profile.value) === 72 || Number(this.fields.profile.value) === 64) {
        return true
      } else {
        return false
      }
    },
    validateInputs () {
      // validate input for mandatory fields
      let isValid = 0
      for (let field of Object.values(this.fields)) {
        if (field.isMandatory) {
          field.state = !!field.value
          isValid = field.value ? isValid : isValid + 1
        }
      }
      return isValid === 0
    },
    handleOk (bvModalEvt) {
      // checks everything and then posts the info to the server, can either edit participant or add participant
      // if its a new participant, the function opens the webcam at the end so that we can take a picture of participant
      bvModalEvt.preventDefault()
      let badInput = false
      for (let field in this.fields) {
        this.fields[field].state = null
        if (this.fields[field].value === '') {
          this.fields[field].value = null
        }
      }
      if (!this.validateInputs()) {
        badInput = true
        this.invalidInput = 'קלט לא תקין, אנא הזן את שדות החובה'
      } else {
        if (this.fields.profile.value !== null && this.fields.profile.value !== '' && !this.checkProfile()) {
          badInput = true
          this.invalidInput = 'פרופיל רפואי צריך להיות או 97, 82, 72, 64'
          this.fields.profile.state = false
        }
        if (this.fields.dapar.value !== null && this.fields.dapar.value !== '' && (this.fields.dapar.value < 10 || this.fields.dapar.value > 90 || this.fields.dapar.value % 10 !== 0)) {
          badInput = true
          this.fields.dapar.state = false
          this.invalidInput = 'דפ"ר צריך להיות בין 10-90 בקפיצות של 10'
        }
        if (this.fields.kaba.value !== null && this.fields.kaba.value !== '' && (this.fields.kaba.value < 40 || this.fields.kaba.value > 56)) {
          badInput = true
          this.invalidInput = 'קב"א צריכה להיות בין 40-56'
          this.fields.kaba.state = false
        }
        if (this.fields.pa.value !== null && this.fields.pa.value !== '' && this.fields.pa.value.length !== 7) {
          badInput = true
          this.invalidInput = 'מספר אישי צריך להכיל 7 ספרות'
          this.fields.pa.state = false
        }
        if (this.fields.id.value.length !== 9) {
          badInput = true
          this.invalidInput = 'תעודת זהות צריכה להכיל 9 ספרות'
          this.fields.id.state = false
        }
      }
      if (!badInput) {
        let valuesToSet = {
          first_name: this.fields.firstName.value,
          last_name: this.fields.lastName.value,
          personal_number: this.fields.pa.value,
          birth_date: this.fields.birthDate.value,
          first_phone: this.fields.firstPhone.value,
          second_phone: this.fields.secondPhone.value,
          third_phone: this.fields.thirdPhone.value,
          address: this.fields.address.value,
          is_new_immigrant: this.boolFields.newImm.value,
          enlistment_status: this.fields.status.value,
          kabha: this.fields.kaba.value,
          dapar: this.fields.dapar.value,
          disqualifying_medical_trait: this.boolFields.medic.value,
          identity_number: this.fields.id.value,
          medical_profile: this.fields.profile.value,
          source_file: 'ManualWebApp: ' + window.location.host,
          tzadach: this.fields.tzadach.value
        }
        if (this.update) {
          valuesToSet = {...valuesToSet, update: true}
        } else {
          valuesToSet = {...valuesToSet, myun_id: this.$route.params.gibush_id}
        }
        if (this.id) {
          // We are in edit mode -> let's add participant's id to edit his details
          valuesToSet = {...valuesToSet, id: this.id}
        }
        axios.post(`${process.env.ROOT_API}/Participent/`, valuesToSet)
          .then(response => {
            console.log(response.data)
            if (response.status === httpStatusCodes.CREATED) {
              this.finishAddParticipant()
              if (!this.edit) {
                this.showCam = true
              } else {
                this.$router.go(0)
              }
            }
          })
          .catch(error => {
            console.log(error)
            alert('תעודת זהות או מספר אישי זה כבר קיים')
          })
      }
    },
    handleCancel () {
      // calls the finishAddParticipant func
      this.finishAddParticipant()
    },
    finishAddParticipant () {
      // closes modal
      this.showModal = false
      this.$emit('finishAddParticipant')
    },
    closeCam () {
      // closes cam
      this.showCam = false
      this.$router.go(0)
    }
  }
}
</script>

<style>
.bad_input{
  color: red;
}
</style>
