<template>
<!--
  table used to show the assessors in assessor page
 -->
  <div>
  <add-assessor-modal v-on:Cancel="editAssessor = false" v-on:FinishEdit="editAssessor = false; $router.go(0)" :trigger="editAssessor" :assessorId="chosenAssessor"></add-assessor-modal>
  <assign-group
    @finishAssignGroup="showAssignGroupMod = false"
    :myunId="myunId"
    :stage="stage"
    :fullName="nameAssign"
    :assessorId="idAssign"
    :trigger="showAssignGroupMod"
    :level_phase="String($route.params.level_phase)"
    :myun_id="Number($route.params.gibush_id)"
  />
  <div class="table-space">
    <h4>סך הפריטים: {{fixedUsers.length}}</h4>
    <b-form-input autocomplete="off" v-model="searchInput" debounce="300" placeholder="הקלד מילות חיפוש" />
    <b-spinner v-if="!listLoaded" variant="primary" label="Spinning" />
    <h2 v-else-if="!userList || !userList.length">אין נתונים להציג</h2>
    <b-table responsive v-else class="users" striped hover :items="fixedUsers" :fields="fields" :per-page="perPage" :current-page="currentPage">
      <template v-slot:cell(edit)="row">
        <b-button @click="editAssessorShow(row.item.id)" variant="outline-dark">ערוך</b-button>
      </template>
      <template v-slot:cell(first_stage_group)="row">
        <b-button v-if="!row.item.first_stage_group" @click="showAssignGroup(1,row.item.id, row.item.full_name)">שייך לקבוצה</b-button>
        <b-button v-else variant="white" @click="showAssignGroup(1,row.item.id, row.item.full_name)" v-b-tooltip.hover title="לחץ כדי לערוך">{{row.item.first_stage_group}} <br/> {{row.item.first_stage_role}}</b-button>
      </template>
      <template v-slot:cell(second_stage_group)="row">
        <b-button v-if="!row.item.second_stage_group" @click="showAssignGroup(2, row.item.id, row.item.full_name)">שייך לקבוצה</b-button>
        <b-button v-else variant="white" @click="showAssignGroup(2,row.item.id, row.item.full_name)" v-b-tooltip.hover title="לחץ כדי לערוך">{{row.item.second_stage_group}} <br/> {{row.item.second_stage_role}}</b-button>
      </template>
    </b-table>
  </div>
  <div class="overflow-auto">
    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="my-table"
    ></b-pagination>

    <p class="mt-3">עמוד נוכחי: {{ currentPage }}</p>
  </div>
</div>
</template>

<script>
import AssignGroup from '../components/AssignGroup'
import AddAssessorModal from '../components/AddAssessorModal'

export default {
  name: 'AssessorTable',
  components: {AssignGroup, AddAssessorModal},
  props: {
    myunId: Number,
    userList: Array,
    listLoaded: Boolean,
    filterChange: Boolean
  },
  data () {
    return {
      chosenAssessor: null,
      editAssessor: false,
      stage: null,
      idAssign: null,
      nameAssign: null,
      showAssignGroupMod: false,
      searchInput: null,
      usersToShow: [],
      perPage: 20,
      currentPage: 1,
      fields: [
        {
          thStyle: {width: '2%'},
          key: 'edit',
          label: '',
          sortable: false
        },
        {
          key: 'identity_number',
          label: 'ת.ז.',
          sortable: true
        },
        {
          key: 'full_name',
          label: 'שם מלא',
          sortable: true
        },
        {
          key: 'unit',
          label: 'יחידה',
          sortable: true
        },
        {
          key: 'first_stage_group',
          label: "קבוצה שלב א'",
          sortable: true
        },
        {
          key: 'second_stage_group',
          label: "קבוצה שלב ב'",
          sortable: true
        }
      ]
    }
  },
  methods: {
    editAssessorShow (id) {
      // edit assessor shows modal and sets edited assessor
      this.chosenAssessor = id
      this.editAssessor = true
    },
    showAssignGroup (stage, assessorId, fullName) {
      // show the assign group modal for the participant
      this.showAssignGroupMod = true
      this.nameAssign = fullName
      this.idAssign = assessorId
      this.stage = stage
    }
  },
  watch: {
    searchInput (input) {
      // search bar that filters the records for the input in real time.
      this.usersToShow = this.userList
      if (this.userList) {
        this.usersToShow = this.userList.filter(
          item => (item.first_name && item.first_name.includes(input)) ||
            (item.last_name && item.last_name.includes(input)) ||
            (item.first_name && item.last_name && `${item.first_name} ${item.last_name}`.includes(input)) ||
            (item.unit && item.unit.includes(input)) ||
            (item.identity_number && item.identity_number.includes(input)))
      }
    },
    filterChange () {
      // updates list if filterChange changes. not sure if needed here
      this.usersToShow = this.userList
    }
  },
  mounted () {
    // sets usersToShow to userList in the beginning
    this.usersToShow = this.userList
  },
  computed: {
    rows () {
      // the amount of rows for the pagination
      return this.usersToShow.length
    },
    fixedUsers () {
      // returns the users meant to be used for the table
      let assessors = []
      for (let i of this.usersToShow) {
        assessors.push(
          {
            id: i.id,
            identity_number: i.identity_number,
            full_name: `${i.first_name} ${i.last_name}`,
            unit: i.unit,
            first_stage_role: i.first_stage_role,
            second_stage_role: i.second_stage_role,
            first_stage_group: i.first_stage_group,
            second_stage_group: i.second_stage_group
          }
        )
      }
      return assessors
    }
  }
}
</script>

<style>

</style>
