<template>
<!--
  Modal that assigns an assessor to group in groups page
 -->
<div>
  <div>
    <b-modal v-model='showModal' @ok="handleOk" @cancel="handleCancel"  no-close-on-esc no-close-on-backdrop hide-header-close cancel-title="בטל" ok-title="שייך" title="שייך מגבש לקבוצה">
      <b-container fluid>
        <h5 class="text-right">שלב {{this.stageLetter[this.stage]}}</h5>
        <h5 class="text-right">שייך מגבש לקבוצה</h5>
        <b-row  style="padding-top: 4%;">
          <b-col cols="3">
            <p>בחר מגבש</p>
          </b-col>
          <b-col cols="9">
            <b-form-select v-model="selectedAssessor" :options="assessors" />
          </b-col>
        </b-row>
        <b-row  style="padding-top: 4%;">
          <b-col cols="3">
            <p>בחר קבוצה</p>
          </b-col>
          <b-col cols="9">
            <b-form-select v-model="selectedGroup" :options="groupOptions" />
          </b-col>
        </b-row>
        <b-row style="padding-top: 4%;">
          <b-col cols="3">
            <p>בחר תפקיד</p>
          </b-col>
          <b-col cols="9">
            <b-form-select v-model="selectedRole" :options="roleOptions" />
          </b-col>
        </b-row>
        <p class="text-right bad_input" v-text="invalidInput"></p>
      </b-container>
    </b-modal>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import httpStatusCodes from '../models/status-codes'

export default {
  name: 'AssignGroup',
  props: {
    myunId: {required: false, default: 1, type: Number},
    stage: Number,
    trigger: Boolean
  },
  data () {
    return {
      assessors: [{value: 0, text: 'מגבשים'}],
      invalidInput: '',
      showModal: false,
      selectedAssessor: 0,
      selectedGroup: 0,
      selectedRole: 0,
      groupOptions: [{value: 0, text: 'קבוצה'}],
      roleOptions: [
        {value: 0, text: 'תפקיד'},
        {value: 'מפקד קבוצה', text: 'מפקד קבוצה'},
        {value: 'אחראי בטיחות', text: 'אחראי בטיחות'},
        {value: 'מתלמד', text: 'מתלמד'}
      ],
      stageLetter: {
        1: "א'",
        2: "ב'"
      }
    }
  },
  methods: {
    handleCancel () {
      // calls the finishAssignGroup method
      this.finishAssignGroup()
    },
    handleOk (bvModalEvt) {
      // validates input and posts the assigned group to the server
      if (this.selectedGroup === 0 || this.selectedRole === 0 || this.selectedAssessor === 0) {
        bvModalEvt.preventDefault()
        this.invalidInput = 'קלט לא תקין, אנא מלא את כל השדות'
      } else {
        let finalAssignGroup = {
          myun_id: Number(this.myunId),
          stage: Number(this.stage),
          group_id: Number(this.selectedGroup),
          assessor_id: Number(this.selectedAssessor),
          role: this.selectedRole
        }
        console.log(finalAssignGroup)
        axios.post(`${process.env.ROOT_API}/assessor_group/`, finalAssignGroup)
          .then(response => {
            if (response.status === httpStatusCodes.CREATED) {
              this.$router.go(0)
            }
          })
          .catch(error => {
            alert(error)
          })
        this.finishAssignGroup()
      }
    },
    finishAssignGroup () {
      // hides modal finishes assignment
      this.showModal = false
      this.$emit('FinishAssignGroup')
    },
    fetchAssessor () {
      // gets a list of all the assessors for the choice of assessors
      axios.get(`${process.env.ROOT_API}/Assessor/?myun_id=${this.$route.params.gibush_id}`)
        .then((response) => {
          let temp = [{value: 0, text: 'מגבשים'}]
          for (let assessorBack of response.data) {
            temp.push({text: `${assessorBack.first_name} ${assessorBack.last_name}`, value: assessorBack.id})
          }
          this.assessors = temp
        })
    },
    fetchGroup () {
      // gets all available groups thta an assessor can be added to
      let options1 = []
      let tempOptions1 = [{value: 0, text: 'קבוצה'}]
      axios.get(`${process.env.ROOT_API}/gibush_group/?myun_id=${this.myunId}&stage=${this.stage}`)
        .then((response) => {
          let temp = response.data
          for (let group in temp) {
            let exists = false
            for (let index in options1) {
              if (temp[group].group_id === options1[index]) {
                exists = true
              }
            }
            if (exists === false) {
              options1.push(temp[group].group_id)
            }
          }
          for (let i = 1; i <= options1.length; i++) {
            tempOptions1.push({value: i, text: String(i)})
          }
          this.groupOptions = tempOptions1
        })
    }
  },
  watch: {
    trigger (val) {
      // shows modal when true and fetches all groups and assessors
      this.showModal = val
      if (this.trigger) {
        this.fetchGroup()
        this.fetchAssessor()
      }
    }
  }
}
</script>

<style>
.bad_input{
  color: red;
}
</style>
