<template>
<!--
  Modal the assigns assessor to group in the assessor list page.
 -->
  <div>
<div>
  <b-modal
    v-model='showModal'
    @ok="handleOk"
    @cancel="handleCancel"
    no-close-on-esc no-close-on-backdrop hide-header-close
    cancel-title="בטל"
    ok-title="שייך"
    title="שייך מגבש לקבוצה"
  >
    <b-container fluid>
      <h5 class="text-center">שלב {{this.stageLetter[this.stage]}}</h5>
      <h5 class="text-right">{{this.fullName}}</h5>
      <b-row>
        <b-col cols="3">
          <p><span style="color:red;">*</span>בחר קבוצה</p>
        </b-col>
        <b-col cols="9">
          <b-form-select v-model="selectedGroup" :options="groupOptions" />
        </b-col>
      </b-row>
      <b-row style="padding-top: 4%;">
        <b-col cols="3">
          <p>בחר תפקיד</p>
        </b-col>
        <b-col cols="9">
          <b-form-select v-model="selectedRole" :options="roleOptions" />
        </b-col>
      </b-row>
      <p class="text-right bad_input" v-text="invalidInput"></p>
    </b-container>
  </b-modal>
</div>
</div>
</template>

<script>
import axios from 'axios'
import httpStatusCodes from '../models/status-codes'

export default {
  name: 'AssignGroup',
  props: {
    fullName: String,
    myunId: {required: false, default: 1, type: Number},
    stage: Number,
    assessorId: Number,
    trigger: Boolean
  },
  data () {
    return {
      invalidInput: '',
      showModal: false,
      selectedGroup: 0,
      selectedRole: 0,
      groupOptions: [{value: 0, text: 'בלי קבוצה'}],
      roleOptions: [
        {value: 0, text: 'בלי תפקיד'},
        {value: 'מפקד קבוצה', text: 'מפקד קבוצה'},
        {value: 'אחראי בטיחות', text: 'אחראי בטיחות'},
        {value: 'מתלמד', text: 'מתלמד'}
      ],
      stageLetter: {
        1: "א'",
        2: "ב'"
      }
    }
  },
  methods: {
    handleCancel () {
      // calls function to close modal
      this.finishAssignGroup()
    },
    handleOk (bvModalEvt) {
      // validates input and posts to server (group for assignment)
      if (this.selectedGroup === 0) {
        this.selectedGroup = null
      }
      if (this.selectedRole === 0) {
        this.selectedRole = null
      }
      let finalAssignGroup = {
        myun_id: Number(this.myunId),
        stage: Number(this.stage),
        group_id: this.selectedGroup,
        assessor_id: Number(this.assessorId),
        role: this.selectedRole
      }
      console.log(finalAssignGroup)
      axios.post(`${process.env.ROOT_API}/assessor_group/`, finalAssignGroup)
        .then(response => {
          if (response.status === httpStatusCodes.CREATED) {
            this.selectedGroup = 0
            this.selectedRole = 0
            this.$router.go(0)
          }
        })
        .catch(error => {
          alert(error)
        })
      this.selectedGroup = 0
      this.selectedRole = 0
      this.finishAssignGroup()
    },
    finishAssignGroup () {
      // closes modal
      this.showModal = false
      this.$emit('finishAssignGroup')
    },
    fetchGroup () {
      // gets all groups that assessor can be added to
      let options1 = []
      let tempOptions1 = [{value: 0, text: 'בלי קבוצה'}]
      axios.get(`${process.env.ROOT_API}/gibush_group/?myun_id=${this.myunId}&stage=${this.stage}`)
        .then((response) => {
          let temp = response.data
          for (let group in temp) {
            let exists = false
            for (let index in options1) {
              if (temp[group].group_id === options1[index]) {
                console.log(options1[index])
                exists = true
              }
            }
            if (exists === false) {
              options1.push(temp[group].group_id)
            }
          }
          for (let i = 1; i <= options1.length; i++) {
            tempOptions1.push({value: i, text: String(i)})
          }
          this.groupOptions = tempOptions1
        })
    }
  },
  watch: {
    trigger (val) {
      // shows modal when true and gets the groups
      this.showModal = val
      if (this.trigger) {
        this.fetchGroup()
      }
    }
  }
}
</script>

<style>
.bad_input{
  color: red;
}
</style>
