<template>
<!--
  Modal to change a participants group.
 -->
  <div>
    <b-modal
      v-model='showModal'
      @ok="postChangedGroup"
      @cancel="handleCancel"
      no-close-on-esc no-close-on-backdrop hide-header-close
      cancel-title="בטל"
      ok-title="העבר"
      title="העברה בין קבוצות - בחר את הקבוצה הרצויה"
    >
      <b-row>
        <b-col cols="2">
          <p dir="rtl" class="modal-text"><span style="color: red;">*</span>שלב</p>
        </b-col>
        <b-col cols="6">
          <b-form-select v-model="selectedStage" :options="optionsStage" />
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="2">
          <p dir="rtl" class="modal-text"><span style="color: red;">*</span>קבוצה</p>
        </b-col>
        <b-col cols="6">
          <b-form-select v-model="selectedGroup" :options="optionsGroup" />
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <p class="text-right" id="bad-input">{{badInput}}</p>
        </b-col>
      </b-row>
  </b-modal>
  </div>
</template>

<script>
import axios from 'axios'
import httpStatusCodes from '../models/status-codes'

export default {
  name: 'ChangeGroup',
  props: {
    trigger: Boolean,
    myunId: Number,
    soldierId: Number,
    stage: Number
  },
  data () {
    return {
      options1: '',
      options2: '',
      blankOptions: [{value: '0', text: 'בחר קבוצה'}],
      badInput: '',
      numToString: {
        1: 'first_stage_group',
        2: 'second_stage_group'
      },
      numToLetter: {
        1: 'a',
        2: 'b'
      },
      selectedStage: 0,
      selectedGroup: 0,
      optionsStage: [
        {value: 0, text: 'בחר שלב'},
        {value: 1, text: "שלב א'"},
        {value: 2, text: "שלב ב'"}

      ],
      showModal: false
    }
  },
  watch: {
    trigger () {
      // when true activates changeGroup (shows modal and gets the groups)
      if (this.trigger) {
        this.changeGroup()
      }
    }
  },
  computed: {
    optionsGroup () {
      if (this.selectedStage === 1) {
        return this.options1
      } else if (this.selectedStage === 2) {
        return this.options2
      } else {
        return this.blankOptions
      }
    }
  },
  methods: {
    handleCancel () {
      // calls function to close the modal
      this.finishChangeGroup()
    },
    finishChangeGroup () {
      // closes the modal
      this.$emit('finishChangeGroup')
    },
    postChangedGroup (bvModalEvt) {
      // validates input and posts the group to the server
      if (this.selectedStage !== 0 && this.selectedGroup !== 0) {
        let groupChange = {soldier_id: this.soldierId, myun_id: this.gibushId}
        groupChange[this.numToString[this.selectedStage]] = this.selectedGroup
        axios.post(`${process.env.ROOT_API}/gibush_stats/`, groupChange)
          .then(response => {
            if (response.status === httpStatusCodes.CREATED) {
              this.finishChangeGroup()
              this.$router.push({name: 'ParticipantListGroup', params: {gibush_id: this.myunId, level_phase: this.numToLetter[this.selectedStage], group_id: this.selectedGroup}})
              this.$router.go(0)
            }
          })
          .catch(error => {
            console.log(error)
          })
      } else {
        this.badInput = 'אתה חייב לבחור שלב וקבוצה על מנת להעביר'
        bvModalEvt.preventDefault()
      }
    },
    changeGroup () {
      // gets all the groups for both stagesso that user can choose the group
      this.badInput = ''
      this.showModal = true
      let options1 = []
      let options2 = []
      let tempOptions1 = [{value: '0', text: 'בחר קבוצה'}]
      let tempOptions2 = [{value: '0', text: 'בחר קבוצה'}]
      axios.get(`${process.env.ROOT_API}/gibush_group/?myun_id=${this.myunId}&stage=1`)
        .then((response) => {
          let temp = response.data
          for (let group in temp) {
            let exists = false
            for (let index in options1) {
              if (temp[group].group_id === options1[index]) {
                exists = true
              }
            }
            if (exists === false) {
              options1.push(temp[group].group_id)
            }
          }
          for (let i = 1; i <= options1.length; i++) {
            tempOptions1.push({value: i, text: String(i)})
          }
        })
      axios.get(`${process.env.ROOT_API}/gibush_group/?myun_id=${this.myunId}&stage=2`)
        .then((response) => {
          let temp = response.data
          for (let group in temp) {
            let exists = false
            for (let index in options2) {
              if (temp[group].group_id === options2[index]) {
                exists = true
              }
            }
            if (exists === false) {
              options2.push(temp[group].group_id)
            }
          }
          for (let i = 1; i <= options2.length; i++) {
            tempOptions2.push({value: i, text: String(i)})
          }
        })
      this.options1 = tempOptions1
      this.options2 = tempOptions2
    }
  }
}
</script>

<style>
#bad-input {
    color: red;
  }
  .modal-text{
    font-size: 20px;
  }
</style>
