<template>
<div>
  <h4>סך החיילים: {{fixedUsers.length}}</h4>
  <b-row style="padding-bottom: 10px;">
    <b-col>
      <div class="selected">
        <div class="selected" v-if="selectedLeaders.length > 0">
          <h4 style="padding-left: 20px;">מפק"צ שנבחר: {{selectedLeaders[0].name}}</h4>
          <b-button pill variant="primary" @click="createTeam()">צור צוות</b-button>
        </div>
        <h4 v-else>לחץ על מפק"צ כדי לבחור אותו</h4>
      </div>
    </b-col>
  </b-row>
  <b-form-input v-model="searchInput" debounce="300" placeholder="הקלד מילות חיפוש"></b-form-input>
  <div class="table-space">
    <b-spinner v-if="!listLoaded" variant="primary" label="Spinning"></b-spinner>
    <h2 v-else-if="!userList || !userList.length">אין נתונים להציג</h2>
    <b-table v-else class="users" striped hover :items="fixedUsers" @row-clicked="rowClicked" :fields="fields" :per-page="perPage" :current-page="currentPage">
      <template v-slot:cell(profile)="row">
        <b-form-checkbox :value="{id: row.item.row_id, name: row.item.full_name}" v-model="selectedLeaders" size="lg"></b-form-checkbox>
      </template>
    </b-table>
  </div>
  <div class="overflow-auto">
    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="my-table"
    ></b-pagination>

    <p class="mt-3">עמוד נוכחי: {{ currentPage }}</p>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import httpStatusCodes from '../models/status-codes'

export default {
  name: 'UsersTable',
  props: {
    filterChange: Boolean,
    userList: Array,
    listLoaded: Boolean
  },
  components: {},
  data () {
    return {
      // TODO: Get users from server
      selectedLeaders: [],
      tempList: [],
      finalLeader: {id: null, name: null},
      perPage: 20,
      currentPage: 1,
      fields: [
        {
          thStyle: {width: '2%'},
          key: 'profile',
          label: '',
          sortable: false
        },
        {
          key: 'identity_number',
          label: 'ת.ז.',
          sortable: true
        },
        {
          key: 'full_name',
          label: 'שם מלא',
          sortable: true
        },
        {
          key: 'address',
          label: 'כתובת',
          sortable: true
        }
      ],
      searchInput: '',
      usersToShow: []
    }
  },
  mounted () {
    this.usersToShow = this.userList
  },
  watch: {
    selectedLeaders () {
      if (this.selectedLeaders.length > 1) {
        let lastChoice = this.selectedLeaders.pop()
        this.selectedLeaders = [lastChoice]
      }
    },
    searchInput (input) {
      this.usersToShow = this.userList
      for (let i in this.userList) {
        this.userList[i]['full_name'] = `${this.userList[i].first_name} ${this.userList[i].last_name}`
      }
      if (this.userList) {
        this.usersToShow = this.userList.filter(
          item => (item.first_name && item.first_name.includes(input)) ||
            (item.last_name && item.last_name.includes(input)) ||
            (item.full_name && item.full_name.includes(input)) ||
            (item.address && item.address.includes(input)) ||
            (item.identity_number && item.identity_number.includes(input)))
      }
    },
    filterChange () {
      this.usersToShow = this.userList
    }
  },
  computed: {
    rows () {
      return this.usersToShow.length
    },
    fixedUsers () {
      let users = []
      for (let user of this.usersToShow) {
        users.push({
          row_id: user.id,
          identity_number: user.identity_number,
          full_name: `${user.first_name} ${user.last_name}`,
          address: user.address,
          _rowVariant: user.variant
        })
      }
      return users
    }
  },
  methods: {
    createTeam () {
      if (this.selectedLeaders.length === 1) {
        let teamDet = {name: this.$route.params.team_name, commander: this.selectedLeaders[0].id}
        axios.post(`http://localhost:8000/route/soldiers/teams/`, teamDet)
          .then(response => {
            if (response.status === httpStatusCodes.CREATED) {
              this.$router.push({name: 'Teams'})
            }
          })
          .catch(error => {
            alert(error)
          })
      }
    },
    rowClicked (row) {
      if (this.selectedLeaders.length > 0) {
        if (this.selectedLeaders[0].id === row.row_id) {
          this.selectedLeaders = []
        } else {
          this.selectedLeaders = [{id: row.row_id, name: row.full_name}]
        }
      } else {
        this.selectedLeaders = [{id: row.row_id, name: row.full_name}]
      }
    }
  }
}
</script>

<style scoped>
  .users {
    cursor: pointer;
  }
  .arrived-button{
    width: 100%;
    height: 29px;
  }
  .selected{
    display: flex;
    flex-direction: row;
  }
</style>
