<template>
<!-- components that shwos all results in profle page. verylong cuz didn't have time for dynamic amount of assessor grades
     very 'aravi' but works very well -->
  <div style="padding-bottom: 10px;">
    <b-row>
        <b-col align-self="center">
          <h4>נתוני יום שדה</h4>
        </b-col>
    </b-row>
    <br>
    <b-row style="padding-bottom: 7px;">
      <b-col align-self="center">
        <p class="title-over">קבוצה</p>
      </b-col>
    </b-row>
    <b-row align-h="center">
      <b-col cols="3">
        <p  class="border rounded-pill">{{group}}</p>
      </b-col>
    </b-row>
    <b-row>
      <b-col></b-col>
      <b-col cols="3">
          <b-row>
            <b-col>
            <p class="title-over">מעריך א'</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
            <p  class="border rounded-pill">{{firstAssessor}}</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col></b-col>
        <b-col cols="3">
          <b-row>
            <b-col>
            <p class="title-over">מעריך ב'</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
            <p  class="border rounded-pill">{{secondAssessor}}</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col></b-col>
      </b-row>
      <b-row>
      <b-col cols="3">
          <b-row>
            <b-col>
            <p class="title-over"> ציון מעריך א'</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col  v-if="firstAssessorGrade !== '-'">
            <p  :class="firstAssessorGrade > 1 ? 'bg-lightgreen border rounded-pill' : 'bg-lightred border rounded-pill'">{{firstAssessorGrade}}</p>
            </b-col>
            <b-col  v-else>
            <p  class="border rounded-pill">{{firstAssessorGrade}}</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col></b-col>
        <b-col cols="3">
          <b-row>
            <b-col>
            <p class="title-over">ממוצע ציונים</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col v-if="firstAssessorGrade !== '-' && secondAssessorGrade !== '-'">
            <p style="padding: 0; margin: 0;" class="border rounded-pill">{{(firstAssessorGrade + secondAssessorGrade) / 2}}</p>
            </b-col>
            <b-col  v-else>
            <p  class="border rounded-pill">-</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col></b-col>
        <b-col cols="3">
          <b-row>
            <b-col>
            <p class="title-over"> ציון מעריך ב'</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col  v-if="secondAssessorGrade !== '-'">
            <p  :class="secondAssessorGrade > 1 ? 'bg-lightgreen border rounded-pill' : 'bg-lightred border rounded-pill'">{{secondAssessorGrade}}</p>
            </b-col>
            <b-col  v-else>
            <p  class="border rounded-pill">{{secondAssessorGrade}}</p>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <b-row>
        <b-col></b-col>
        <b-col cols="3">
          <b-row>
            <b-col>
            <p class="title-over">בראור</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col  v-if="barOr !== '-'">
            <p  :class="barOr > 7 ? 'bg-lightgreen border rounded-pill' : 'bg-lightred border rounded-pill'">{{barOr}}</p>
            </b-col>
            <b-col  v-else>
            <p  class="border rounded-pill">{{barOr}}</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col></b-col>
        <b-col cols="3">
          <b-row>
            <b-col>
            <p class="title-over">סוציומטרי</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col v-if="sozio !== '-'">
            <p style="padding: 0; margin: 0;" :class="sozio > 65 ? 'bg-lightgreen border rounded-pill' : 'bg-lightred border rounded-pill'">{{sozio}}</p>
            </b-col>
            <b-col  v-else>
            <p  class="border rounded-pill">{{sozio}}</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col></b-col>
      </b-row>
      <b-row>
        <b-col align-self="center">
          <h6>העדפות</h6>
        </b-col>
      </b-row>
      <br>
      <b-row>
        <b-col cols="3">
          <b-row>
            <b-col>
            <p class="title-over">מטכל</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
            <p  class="border rounded-pill">{{matkal}}</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col></b-col>
        <b-col cols="3">
          <b-row>
            <b-col>
            <p class="title-over">חובלים</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
            <p  class="border rounded-pill">{{hovlim}}</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col></b-col>
        <b-col cols="3">
          <b-row>
            <b-col>
            <p class="title-over">שייטת</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
            <p  class="border rounded-pill">{{shayetet}}</p>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
  </div>
</template>

<script>
export default {
  name: 'RouteProfileDetails',
  props: {
    details: Array,
    assessors: Array,
    team: Object
  },
  data () {
    return {
      numToLetter: {
        0: "א'",
        1: "ב'",
        2: "ג'"
      },
      fieldsAssessor: [
        {
          thStyle: {width: '17%'},
          key: 'full_name',
          label: 'שם מגבש'
        },
        {
          thStyle: {width: '15%'},
          key: 'grade',
          label: 'ציון'
        },
        {
          thStyle: {width: '68%'},
          key: 'comment',
          label: 'הערה'
        }
      ]
    }
  },
  computed: {
    sozio () {
      // returns the soziometry if null returns -
      if (this.details[0].sozio_grade) {
        return Number.parseFloat(this.details[0].sozio_grade).toFixed(2)
      }
      return '-'
    },
    firstAssessor() {
      // returns the stage grade if null returns -
      if (this.details[0].first_assessor) {
        return this.details[0].first_assessor
      }
      return '-'
    },
    secondAssessor () {
      // returns the stage grade if null returns -
      if (this.details[0].second_assessor) {
        return this.details[0].second_assessor
      }
      return '-'
    },
    group () {
      // returns the stage grade if null returns -
      if (this.details[0].group_number) {
        return this.details[0].group_number
      }
      return '-'
    },
    barOr () {
      // returns the stage grade if null returns -
      if (this.details[0].baror_grade) {
        return this.details[0].baror_grade
      }
      return '-'
    },
    firstAssessorGrade () {
      // returns the stage grade if null returns -
      if (this.details[0].first_assessor_grade) {
        return this.details[0].first_assessor_grade
      }
      return '-'
    },
    secondAssessorGrade () {
      // returns the stage grade if null returns -
      if (this.details[0].second_assessor_grade) {
        return this.details[0].second_assessor_grade
      }
      return '-'
    },
    matkal () {
      // returns the stage grade if null returns -
      if (this.details[0].praiority_matkal) {
        return this.details[0].praiority_matkal
      }
      return '-'
    },
    hovlim () {
      // returns the stage grade if null returns -
      if (this.details[0].praiority_hovlim) {
        return this.details[0].praiority_hovlim
      }
      return '-'
    },
    shayetet () {
      // returns the stage grade if null returns -
      if (this.details[0].praiority_shayetet) {
        return this.details[0].praiority_shayetet
      }
      return '-'
    }
  }
}
</script>

<style scoped>
.title-over{
  font-size: 13px;
  opacity: 0.8;
  padding: 0;
  margin: 0;
}
.border-thing{
  border: #bec5cc 1px solid;
  border-radius: 10px;
}
.bg-lightgreen{
  background-color: #3BEA69;
}
.bg-lightred{
  background-color: rgb(241, 74, 74);
}
</style>
