<template>
  <div>
    <div>
      <b-modal
        centered
        hide-footer
        hide-header
        v-model='showModal'
        no-close-on-esc hide-header-close
        no-close-on-backdrop
      >
          <b-row>
            <b-col>
            <h3 style="color:blue;" class="text-center">מילוי הקבוצה הסתיימה<b-icon icon="check-circle"></b-icon></h3>
            </b-col>
          </b-row>
      </b-modal>
    </div>
  </div>
</template>
<script>
export default {
  name: 'FinishedAll',
  props: {
    trigger: Boolean
  },
  data () {
    return {
      showModal: false,
      timer: null
    }
  },
  watch: {
    trigger (change) {
      if (change === true) {
        this.showModal = true
        this.timer = setTimeout(this.finishReceive, 1.25)
      } else {
        this.showModal = false
        clearInterval(this.timer)
      }
    }
  },
  methods: {
    finishReceive () {
      this.$emit('FinishAll')
    }
  }
}
</script>

<style>

</style>
