<template>
<!--
  Final table to show all the grades of the gibush.
 -->
  <div>
  <div class="table-space">
    <h4>סך המלש"בים: {{fixedUsers.length}}</h4>
    <h4>מלש"בים שעברו: {{passedNum}}</h4>
    <b-form-input v-model="searchInput" debounce="300" placeholder="הקלד מילות חיפוש"></b-form-input>
    <br/>
    <b-spinner v-if="!listLoaded" variant="primary" label="Spinning"></b-spinner>
    <h2 v-else-if="!userList || !userList.length">אין נתונים להציג</h2>
    <b-table responsive v-else bordered :items="fixedUsers" :fields="fields" :per-page="perPage" :current-page="currentPage">
      <template v-slot:cell(passed_gibush)="row">
        <b-button @click="passedGibush(row.item.id, true)" v-if="!row.item.passed_gibush" variant="outline-success"><b-icon variant="dark" icon="check"></b-icon></b-button>
        <b-button @click="passedGibush(row.item.id, false)" v-else variant="outline-danger"><b-icon variant="dark" icon="X"></b-icon></b-button>
      </template>
      <template v-slot:cell(profile)="row">
        <b-dropdown :ref="'dropdown' + row.item.id" size="md" right :boundary="'viewport'" no-caret :dropup="true" variant="link">
          <template v-slot:button-content>
            <div v-if="row.item.pic">
            <b-avatar variant="primary" :src="`${pathOfServer}${row.item.pic}`"></b-avatar>
            </div>
            <div v-else>
              <b-avatar variant="primary"></b-avatar>
            </div>
          </template>
          <b-dropdown-header style="padding: 0; margin: 0;" class="text-center">{{row.item.identity_number}}</b-dropdown-header>
          <b-dropdown-divider></b-dropdown-divider>
          <div  v-if="row.item.pic">
            <b-avatar class="profile-pic" align-self="center"  size="7rem" variant="primary" :src="`${pathOfServer}${row.item.pic}`"></b-avatar>
            </div>
            <div v-else>
              <b-avatar class="profile-pic" size="7rem" align-self="center" variant="primary"></b-avatar>
            </div>
            <b-dropdown-text class="text-center">{{row.item.full_name}}</b-dropdown-text>
            <b-button class="text-center" style="margin-left: 32%" @click="$router.push({ name: 'ParticipantProfile', params: {id: row.item.id, gibush_id: Number($route.params.gibush_id)}})" variant="outline-primary" size="sm">פרופיל</b-button>
        </b-dropdown>
      </template>
      <template v-slot:thead-top>
        <b-tr>
          <b-th  colspan="1"></b-th>
          <b-th colspan="3">נתונים אישיים</b-th>
          <b-th  colspan="2">שלב א'</b-th>
          <b-th  colspan="2">שלב ב'</b-th>
        </b-tr>
      </template>
      <template v-slot:cell(assessors_1)="row">
        <div v-if="row.item.assessors_1.length > 0">
          <p v-for="(item, key) of row.item.assessors_1" :key="key" class="inline">{{item.grade}} <br/> {{item.name}}</p>
        </div>
        <div v-else>
          <p style="opacity: 0.5">אין נתונים להציג</p>
        </div>
      </template>
      <template v-slot:cell(assessors_2)="row">
        <div v-if="row.item.assessors_2.length > 0">
          <p v-for="(item, key) of row.item.assessors_2" :key="key" class="inline">{{item.grade}} <br/> {{item.name}}</p>
        </div>
        <div v-else>
          <p style="opacity: 0.5">אין נתונים להציג</p>
        </div>
      </template>
    </b-table>
  </div>
  <div class="overflow-auto">
    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="my-table"
    ></b-pagination>

    <p class="mt-3">עמוד נוכחי: {{ currentPage }}</p>
  </div>
  </div>
</template>

<script>
import axios from 'axios'
import httpStatusCodes from '../models/status-codes'

export default {
  name: 'GibushGrades',
  props: {
    myunId: Number,
    userList: Array,
    listLoaded: Boolean,
    change: Boolean
  },
  data () {
    return {
      chosenPerson: 1,
      pathOfServer: process.env.ROOT_API,
      stageFields: [
        {
          key: 'sozio',
          label: 'סוציומטרי'
        },
        {
          thStyle: {width: '90%'},
          key: 'assessors',
          label: 'ציוני מעריכים'
        }
      ],
      stage: null,
      idAssign: null,
      nameAssign: null,
      showAssignGroupMod: false,
      searchInput: null,
      usersToShow: [],
      perPage: 20,
      currentPage: 1,
      fields: [
        {
          thStyle: {width: '2%'},
          key: 'passed_gibush',
          label: '',
          sortable: false
        },
        {
          key: 'profile',
          label: '',
          sortable: false
        },
        {
          key: 'identity_number',
          label: 'ת.ז.',
          sortable: false
        },
        {
          key: 'full_name',
          label: 'שם מלא',
          sortable: false
        },
        {
          thStyle: {width: '5%'},
          key: 'sozio_1',
          label: 'סוציו',
          sortable: false
        },
        {
          thStyle: {width: '30%'},
          key: 'assessors_1',
          label: 'מעריכים',
          sortable: false
        },
        {
          thStyle: {width: '5%'},
          key: 'sozio_2',
          label: 'סוציו',
          sortable: false
        },
        {
          thStyle: {width: '30%'},
          key: 'assessors_2',
          label: 'מעריכים',
          sortable: false
        }
      ]
    }
  },
  mounted () {
    // sets the usersToShow to the prop
    this.usersToShow = this.userList
  },
  watch: {
    searchInput (input) {
      // search bar to filter the records
      this.usersToShow = this.userList
      if (this.userList) {
        this.usersToShow = this.userList.filter(
          item => (item.full_name && item.full_name.includes(input)) ||
            (item.identity_number && item.identity_number.includes(input)))
      }
    },
    change () {
      // on change updates list, not sure if needed (didn't check)
      this.usersToShow = this.userList
    }
  },
  methods: {
    passedGibush (id, passed) {
      // posts if participantr passed or cancels the pass
      axios.post(`${process.env.ROOT_API}/gibush_stats/`, {soldier_id: id, myun_id: this.myunId, passed_gibush: passed})
        .then(response => {
          if (response.status === httpStatusCodes.CREATED) {
            this.$emit('FetchAgain')
          }
        })
    },
    showProfile (hovered) {
      // experimental (want to show the profile on hover and not on click didnt manage before gibush. good luck:)  )
      let profile = 'dropdown' + hovered
      console.log(profile)
      // if (!this.$refs[profile].visible) {
      //   this.$refs[profile].visible = true
      // } else {
      //   this.$refs[profile].visible = false
      // }
    }
  },
  computed: {
    rows () {
      // pagination
      return this.usersToShow.length
    },
    passedNum () {
      // amount of passed
      let count = 0
      for (let i of this.usersToShow) {
        if (i.passed_gibush) {
          count++
        }
      }
      return count
    },
    fixedUsers () {
      // the items of the table
      let results = []
      for (let i of this.usersToShow) {
        let color = 'white'
        if (i.passed_gibush) {
          color = 'success'
        }
        results.push(
          {
            _cellVariants: {profile: color, full_name: color, identity_number: color, sozio_1: color, assessors_1: color, sozio_2: color, assessors_2: color},
            passed_gibush: i.passed_gibush,
            id: i.id,
            identity_number: i.identity_number,
            full_name: i.full_name,
            final_rating: i.final_rating,
            sozio_1: i.sozio_1,
            sozio_2: i.sozio_2,
            pic: i.pic,
            assessors_1: i.firstStageAssessors,
            assessors_2: i.secondStageAssessors
          }
        )
      }
      return results
    }
  }
}
</script>

<style>
.profile-pic{
  margin-left: 14%;
}
.inline{
  display: inline-block;
  padding-left: 13px;
}
</style>
