<template>
<!--
  Modal to choose a group to download the assessor eval for that group
 -->
  <div>
    <b-modal
      v-model='showModal'
      @ok="downloadAssessors"
      @cancel="handleCancel"
      no-close-on-esc no-close-on-backdrop hide-header-close
      cancel-title="בטל"
      ok-title="הורד"
      title="הורדת קבצי הערכות מגבשים - בחר קבוצה רצויה"
    >
      <b-row>
        <b-col cols="2">
          <p dir="rtl" class="modal-text"><span style="color: red;">*</span>קבוצה</p>
        </b-col>
        <b-col cols="6">
          <b-form-select v-model="selectedGroup" :options="optionsGroup" />
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <p class="text-right" id="bad-input">{{badInput}}</p>
        </b-col>
      </b-row>
  </b-modal>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'GroupAssessorFile',
  props: {
    trigger: Boolean,
    myunId: Number,
    stage: Number
  },
  data () {
    return {
      options1: '',
      options2: '',
      blankOptions: [{value: '0', text: 'בחר קבוצה'}],
      badInput: '',
      numToString: {
        1: 'first_stage_group',
        2: 'second_stage_group'
      },
      numToLetter: {
        1: 'a',
        2: 'b'
      },
      selectedStage: 0,
      selectedGroup: 0,
      optionsStage: [
        {value: 0, text: 'בחר שלב'},
        {value: 1, text: "שלב א'"},
        {value: 2, text: "שלב ב'"}

      ],
      showModal: false
    }
  },
  watch: {
    trigger () {
      if (this.trigger) {
        this.selectedGroup = 0
        this.changeGroup()
      }
    }
  },
  computed: {
    optionsGroup () {
      if (this.stage === 1) {
        return this.options1
      } else if (this.stage === 2) {
        return this.options2
      } else {
        return this.blankOptions
      }
    }
  },
  methods: {
    handleCancel () {
      // activates the finishFile func
      this.finishFile()
    },
    finishFile () {
      // closes the modal
      this.$emit('finishAssessor')
    },
    downloadAssessors (bvModalEvt) {
      // validates input and downloads the file (.zip)
      if (this.selectedGroup === 0) {
        bvModalEvt.preventDefault()
        this.badInput = 'אנא בחר קבוצה'
      } else {
        axios({
          url: `${process.env.ROOT_API}/assessor_evaluation_pdf/?myun_id=${this.myunId}&stage=${this.stage}&group_id=${this.selectedGroup}`,
          method: 'GET',
          responseType: 'blob'
        }).then(response => {
          var newBlob = new Blob([response.data])
          if (window.navigator && window.navigator.msSaveOrOpenBlob) {
            window.navigator.msSaveOrOpenBlob(newBlob)
            return
          }
          const data = window.URL.createObjectURL(newBlob)
          var link = document.createElement('a')
          link.href = data
          link.download = `assessors_group_${this.selectedGroup}.zip`
          link.click()
          this.finishFile()
        })
          .catch(error => {
            alert(error)
          })
      }
    },
    changeGroup () {
      // gets the groups so user can choose which group to download
      this.badInput = ''
      this.showModal = true
      let options1 = []
      let options2 = []
      let tempOptions1 = [{value: '0', text: 'בחר קבוצה'}]
      let tempOptions2 = [{value: '0', text: 'בחר קבוצה'}]
      axios.get(`${process.env.ROOT_API}/gibush_group/?myun_id=${this.myunId}&stage=1`)
        .then((response) => {
          let temp = response.data
          let count = 1
          for (let group in temp) {
            let exists = false
            for (let index in options1) {
              if (temp[group].group_id === options1[index]) {
                exists = true
              }
            }
            if (exists === false) {
              options1.push(count)
              count++
            }
          }
          for (let i = 1; i <= options1.length; i++) {
            tempOptions1.push({value: i, text: String(i)})
          }
        })
      axios.get(`${process.env.ROOT_API}/gibush_group/?myun_id=${this.myunId}&stage=2`)
        .then((response) => {
          let temp = response.data
          let count = 1
          for (let group in temp) {
            let exists = false
            for (let index in options2) {
              if (temp[group].group_id === options2[index]) {
                exists = true
              }
            }
            if (exists === false) {
              options2.push(count)
              count++
            }
          }
          for (let i = 1; i <= options2.length; i++) {
            tempOptions2.push({value: i, text: String(i)})
          }
        })
      this.options1 = tempOptions1
      this.options2 = tempOptions2
    }
  }
}
</script>

<style>
#bad-input {
    color: red;
  }
  .modal-text{
    font-size: 20px;
  }
</style>
