<template>
<!-- modal that ppops up after post in sozio or assessorEval -->
  <div>
    <div>
      <b-modal
        centered
        hide-footer
        hide-header
        v-model='showModal'
        no-close-on-esc hide-header-close
        no-close-on-backdrop
      >
          <b-row>
            <b-col>
            <h3 style="color:blue;" class="text-center">{{text}} <b-icon icon="check-circle"></b-icon></h3>
            </b-col>
          </b-row>
      </b-modal>
    </div>
  </div>
</template>
<script>
export default {
  name: 'InfoReceived',
  props: {
    trigger: Boolean,
    text: String,
    time: Number
  },
  data () {
    return {
      showModal: false,
      timer: null
    }
  },
  watch: {
    trigger (change) {
      // shows on true and sets timer
      if (change === true) {
        this.showModal = true
        this.timer = setTimeout(this.finishReceive, this.time)
      } else {
        this.showModal = false
        clearInterval(this.timer)
      }
    }
  },
  methods: {
    finishReceive () {
      // closes modal after set time
      this.$emit('FinishReceive')
    }
  }
}
</script>

<style>

</style>
