<template>
<!-- splits participants into group (modal) -->
  <div>
    <div>
      <b-modal v-model='trigger'
               @ok="handleOk"
               @cancel="handleCancel"
               no-close-on-esc no-close-on-backdrop hide-header-close
               cancel-title="בטל"
               ok-title="חלק"
               title="המועמדים עדיין לא מחולקים לקבוצות"
      >
        <div v-if="newGroups">
          <b-row>
            <p class="text-center">בטוח שברצונך לחלק שוב? כל המידע שקיים ילך לאיבוד</p>
          </b-row>
          <b-row>
            <b-button variant="success">כן</b-button>
            <b-button variant="danger">לא</b-button>
          </b-row>
        </div>
        <div v-else>
          <p dir="rtl" class="my-4 text-right"><span style="color: red;">*</span>לכמה קבוצות תרצה לחלק אותם?</p>
          <b-input autocomplete="off" :type="'number'" v-model="amountOfGroups"></b-input>
          <p class="text-right bad_input" v-text="invalidInput"></p>
        </div>
      </b-modal>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import httpStatusCodes from '../models/status-codes'

export default {
  name: 'ModalForm',
  props: {
    show_modal: Boolean,
    myun_id: String,
    level_phase: String,
    newGroups: Boolean
  },
  data () {
    return {
      trigger: false,
      stage_num: {
        a: '1',
        b: '2'
      },
      amountOfGroups: null,
      invalidInput: null
    }
  },
  watch: {
    show_modal (change) {
      // shows modal when true
      if (change === true) {
        this.trigger = true
      } else {
        this.trigger = false
      }
    }
  },
  methods: {
    handleOk (bvModalEvt) {
      // posts the amount of groups wanted
      if (isNaN(this.amountOfGroups) | this.amountOfGroups === null) {
        this.invalidInput = 'קלט לא תקין, חייב להיות מספר'
        bvModalEvt.preventDefault()
      } else {
        axios.post(`${process.env.ROOT_API}/gibush_group/`, {myun_id: String(this.myun_id), num_of_groups: this.amountOfGroups, stage: String(this.stage_num[this.level_phase])})
          .then(response => {
            this.$router.go(0)
            if (response.status === httpStatusCodes.CREATED) {
              this.$router.go(0)
            }
          })
          .catch(error => {
            console.log(error)
          })
      }
    },
    handleCancel () {
      // if canceled it goes to previous page
      this.$router.go(-1)
    }
  }
}
</script>

<style>
.bad_input{
  color: red;
}
</style>
