<template>
<!-- changes group in sozio or assessorEval -->
  <div>
    <b-modal
      v-model='showModal'
      @ok="postChangedGroup"
      @cancel="handleCancel" hide-header-close
      no-close-on-esc no-close-on-backdrop
      cancel-title="בטל"
      ok-title="עבור"
      title="עבור לקבוצה אחרת"
    >
      <b-row>
        <b-col cols="2">
          <p dir="rtl" class="modal-text"><span style="color: red;">*</span>קבוצה</p>
        </b-col>
        <b-col cols="6">
          <b-form-select v-model="selectedGroup" :options="options1" />
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="12">
          <p class="text-right" id="bad-input">{{badInput}}</p>
        </b-col>
      </b-row>
  </b-modal>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'ChangeGroup',
  props: {
    trigger: Boolean,
    gibushId: Number,
    soldierId: Number,
    stage: Number,
    sozio: Boolean
  },
  data () {
    return {
      options1: '',
      options2: '',
      blankOptions: [{value: '0', text: 'בחר קבוצה'}],
      badInput: '',
      numToString: {
        1: 'first_stage_group',
        2: 'second_stage_group'
      },
      numToLetter: {
        1: 'a',
        2: 'b'
      },
      selectedStage: 0,
      selectedGroup: 0,
      optionsStage: [
        {value: 0, text: 'בחר שלב'},
        {value: 1, text: "שלב א'"},
        {value: 2, text: "שלב ב'"}

      ],
      showModal: false
    }
  },
  watch: {
    trigger () {
      // true it shows the modal
      if (this.trigger) {
        this.changeGroup()
      }
    }
  },
  methods: {
    handleCancel () {
      // finish
      this.finishChangeGroup()
    },
    // closes modal
    finishChangeGroup () {
      this.$emit('FinishNewGroup')
    },
    postChangedGroup (bvModalEvt) {
      // if sozio goes to sozio of selected stage if assessor eval goes to assessor eval of selected group
      if (this.selectedGroup === '0') {
        this.badInput = 'בחר קבוצה'
      } else {
        if (this.sozio) {
          this.$router.push({name: 'Soziometry', params: {gibush_id: this.gibushId, group_id: this.selectedGroup, level_phase: this.numToLetter[this.stage]}})
          this.$router.go(0)
        } else {
          this.$router.push({name: 'AssessorEval', params: {gibush_id: this.gibushId, group_id: this.selectedGroup, level_phase: this.numToLetter[this.stage]}})
          this.$router.go(0)
        }
      }
      this.finishChangeGroup()
    },
    changeGroup () {
      // gets the groups of the stage so that user can choose them
      this.badInput = ''
      this.showModal = true
      let options1 = []
      let tempOptions1 = [{value: '0', text: 'בחר קבוצה'}]
      axios.get(`${process.env.ROOT_API}/gibush_group/?myun_id=${this.gibushId}&stage=${this.stage}`)
        .then((response) => {
          let temp = response.data
          for (let group in temp) {
            let exists = false
            for (let index in options1) {
              if (temp[group].group_id === options1[index]) {
                exists = true
              }
            }
            if (exists === false) {
              options1.push(temp[group].group_id)
            }
          }
          for (let i = 1; i <= options1.length; i++) {
            tempOptions1.push({value: i, text: String(i)})
          }
        })
      this.options1 = tempOptions1
    }
  }
}
</script>

<style>
#bad-input {
    color: red;
  }
  .modal-text{
    font-size: 20px;
  }
</style>
