<template>
<!-- supposed to alert user that it's going to next assessor in assessor eval. doesn't work yet -->
  <div>
    <div>
      <b-modal
        centered
        hide-footer
        hide-header
        v-model='showModal'
        no-close-on-esc hide-header-close
        no-close-on-backdrop
      >
          <b-row>
            <b-col>
            <h3 style="color: green" class="text-center">מילוי הנתונים עבור מעריך זה הסתיים. כעת עוברים למעריך הבא<b-icon icon="check-circle"></b-icon></h3>
            </b-col>
          </b-row>
      </b-modal>
    </div>
  </div>
</template>
<script>
export default {
  name: 'NextAssessor',
  props: {
    trigger: Boolean
  },
  data () {
    return {
      showModal: false,
      timer: null
    }
  },
  watch: {
    trigger (change) {
      // shows on true and starts timer
      if (change === true) {
        this.showModal = true
        this.timer = setTimeout(this.finishReceive, 1.25)
      } else {
        this.showModal = false
        clearInterval(this.timer)
      }
    }
  },
  methods: {
    finishReceive () {
      // closes the modal
      this.$emit('Finish')
    }
  }
}
</script>

<style>

</style>
