<template>
<!-- modal that pops up to make sure user is sure during reception -->
  <div>
    <div>
      <b-modal
        centered
        v-model='showModal'
        @ok="handleOk"
        @cancel="handleCancel"
        no-close-on-esc no-close-on-backdrop hide-header-close
        cancel-title="לא"
        cancel-variant="danger"
        ok-variant="success"
        ok-title="כן"
      >
        <div>
          <b-row>
            <h3 v-if="!ifArrived" style="color:green;" class="text-center">האם ברצונך לקבל את <strong>{{soldierName}}</strong> לגיבוש?</h3>
            <h3 v-else style="color:red;" class="text-center">בטוח שברצונך לבטל את ההגעה של <strong>{{soldierName}}</strong></h3>
          </b-row>
        </div>
      </b-modal>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
import httpStatusCodes from '../models/status-codes'

export default {
  name: 'ParticipantArrived',
  props: {
    trigger: Boolean,
    soldierId: Number,
    soldierName: String,
    ifArrived: Boolean,
    myunId: Number
  },
  data () {
    return {
      showModal: false
    }
  },
  watch: {
    trigger (change) {
      // shows modal when true
      if (change === true) {
        this.showModal = true
      } else {
        this.showModal = false
      }
    }
  },
  methods: {
    handleOk () {
      // if ifArrived is false emits FinishReceive which opens webcam if not it cancels reception.
      if (!this.ifArrived) {
        this.finishReceive()
      } else {
        axios.post(`${process.env.ROOT_API}/gibush_stats/`, {participent_status: 'לא נקלט', myun_id: this.myunId, soldier_id: this.soldierId})
          .then(response => {
            if (response.status === httpStatusCodes.CREATED) {
              this.finishReceive()
            }
          })
          .catch(error => {
            alert(error)
          })
      }
    },
    handleCancel (bvModalEvt) {
      // emits cancel nothing happens
      this.$emit('Cancel')
    },
    finishReceive () {
      // emits FinishReceive which opens webCam
      this.$emit('FinishReceive')
    }
  }
}
</script>

<style>

</style>
