<template>
<!-- in profile page shows components for personal info (tz, address etc...) -->
  <div>
    <b-row>
      <b-col>
        <h5>נתוני לשכה</h5>
      </b-col>
    </b-row>
    <b-row style="padding: 0; margin: 0;">
      <b-col cols="12">
        <div v-for="(item,key) of fields" :key="key">
          <b-row>
            <b-col>
              <p class="title-over">{{item.label}}</p>
            </b-col>
          </b-row>
          <b-row v-if="personalDetails[0].identity_number">
            <b-col>
              <p style="font-size: 14px;" class="border rounded-pill">{{personalDetails[0][item.key]}}</p>
            </b-col>
          </b-row>
          <b-row v-else>
            <b-col>
              <p class="border rounded-pill">-</p>
            </b-col>
          </b-row>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'PersonalDetails',
  props: {
    personalDetails: Array
  },
  data () {
    return {
      fields: [
        {
          key: 'identity_number',
          label: 'תעודת זהות'
        },
        {
          key: 'personal_number',
          label: 'מספר אישי'
        },
        {
          key: 'kabha',
          label: 'קב"א'
        },
        {
          key: 'dapar',
          label: 'דפ"ר'
        },
        {
          key: 'medical_profile',
          label: 'פרופיל'
        },
        {
          key: 'address',
          label: 'כתובת'
        },
        {
          key: 'birth_date',
          label: 'תאריך לידה'
        }
      ]
    }
  }
}
</script>

<style scoped>
.title-over{
  font-size: 13px;
  opacity: 0.8;
  padding: 0;
  margin: 0;
}
</style>
