<template>
<!-- components that shwos all results in profle page. verylong cuz didn't have time for dynamic amount of assessor grades
     very 'aravi' but works very well -->
  <div style="padding-bottom: 10px;">
    <b-row style="padding-bottom: 7px;">
      <b-col>
        <h5 style="margin: 0; padding: 0; opacity: 0.8">שלב {{this.stage}}</h5>
      </b-col>
    </b-row>
      <b-row>
        <b-col cols="3">
          <b-row>
            <b-col>
            <p class="title-over">מספר קבוצה</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
            <p class="border rounded-pill">{{details[0].group_id}}</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col></b-col>
        <b-col cols="3">
          <b-row>
            <b-col>
            <p class="title-over">סוציומטרי</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col  v-if="sozio !== '-'">
            <p  :class="sozio > 65 ? 'bg-lightgreen border rounded-pill' : 'bg-lightred border rounded-pill'">{{sozio}}</p>
            </b-col>
            <b-col  v-else>
            <p  class="border rounded-pill">{{sozio}}</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col></b-col>
        <b-col cols="3">
          <b-row>
            <b-col>
            <p class="title-over">ציון שלב</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col v-if="stageGrade !== '-'">
            <p style="padding: 0; margin: 0;" :class="stageGrade > 65 ? 'bg-lightgreen border rounded-pill' : 'bg-lightred border rounded-pill'">{{stageGrade}}</p>
            </b-col>
            <b-col  v-else>
            <p  class="border rounded-pill">{{stageGrade}}</p>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <b-row v-if="assessors.length === 1">
        <b-col cols="3"></b-col>
        <b-col cols="4">
          <b-row>
            <b-col>
            <p class="title-over">מעריך א'</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col v-if="assessors.length > 0 && assessors[0].full_name">
            <p style="padding: 0; margin: 0;" class="border rounded-pill">{{assessors[0].full_name}}</p>
            </b-col>
            <b-col v-else>
            <p style="padding: 0; margin: 0;" class="border rounded-pill">לא שויך מגבש</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col cols="2">
          <b-row>
            <b-col>
            <p class="title-over">ציון</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col v-if="assessors.length > 0 && assessors[0].grade">
            <p style="padding: 0; margin: 0;" :class="assessors[0].grade > 3 ? 'bg-lightgreen border rounded-pill' : 'bg-lightred border rounded-pill'">{{assessors[0].grade}}</p>
            </b-col>
            <b-col v-else>
            <p style="padding: 0; margin: 0;" class="border rounded-pill">-</p>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <b-row v-else-if="assessors.length === 0">
        <b-col>
          <h5>לא הוזנו ציונים ע"י המעריכים</h5>
        </b-col>
      </b-row>
      <b-row v-else-if="assessors.length === 2">
        <b-col cols="4">
          <b-row>
            <b-col>
            <p class="title-over">מעריך א'</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col v-if="assessors.length > 0 && assessors[0].full_name">
            <p style="padding: 0; margin: 0;" class="border rounded-pill">{{assessors[0].full_name}}</p>
            </b-col>
            <b-col v-else>
            <p style="padding: 0; margin: 0;" class="border rounded-pill">לא שויך מגבש</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col cols="2">
          <b-row>
            <b-col>
            <p class="title-over">ציון</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col v-if="assessors.length > 0 && assessors[0].grade">
            <p style="padding: 0; margin: 0;" :class="assessors[0].grade > 3 ? 'bg-lightgreen border rounded-pill' : 'bg-lightred border rounded-pill'">{{assessors[0].grade}}</p>
            </b-col>
            <b-col v-else>
            <p style="padding: 0; margin: 0;" class="border rounded-pill">-</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col cols="2">
          <b-row>
            <b-col>
            <p class="title-over">ציון</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col v-if="assessors.length > 0 && assessors[1].grade">
            <p style="padding: 0; margin: 0;" :class="assessors[1].grade > 3 ? 'bg-lightgreen border rounded-pill' : 'bg-lightred border rounded-pill'">{{assessors[1].grade}}</p>
            </b-col>
            <b-col v-else>
            <p style="padding: 0; margin: 0;" class="border rounded-pill">-</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col cols="4">
          <b-row>
            <b-col>
            <p class="title-over">מעריך ב'</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col v-if="assessors.length > 0 && assessors[1].full_name">
            <p style="padding: 0; margin: 0;" class="border rounded-pill">{{assessors[1].full_name}}</p>
            </b-col>
            <b-col v-else>
            <p style="padding: 0; margin: 0;" class="border rounded-pill">לא שויך מגבש</p>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <div v-else>
      <b-row>
        <b-col cols="4">
          <b-row>
            <b-col>
            <p class="title-over">מעריך א'</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col v-if="assessors.length > 0 && assessors[0].full_name">
            <p style="padding: 0; margin: 0;" class="border rounded-pill">{{assessors[0].full_name}}</p>
            </b-col>
            <b-col v-else>
            <p style="padding: 0; margin: 0;" class="border rounded-pill">לא שויך מגבש</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col cols="2">
          <b-row>
            <b-col>
            <p class="title-over">ציון</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col v-if="assessors.length > 0 && assessors[0].grade">
            <p style="padding: 0; margin: 0;" :class="assessors[0].grade > 3 ? 'bg-lightgreen border rounded-pill' : 'bg-lightred border rounded-pill'">{{assessors[0].grade}}</p>
            </b-col>
            <b-col v-else>
            <p style="padding: 0; margin: 0;" class="border rounded-pill">-</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col cols="2">
          <b-row>
            <b-col>
            <p class="title-over">ציון</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col v-if="assessors.length > 0 && assessors[1].grade">
            <p style="padding: 0; margin: 0;" :class="assessors[1].grade > 3 ? 'bg-lightgreen border rounded-pill' : 'bg-lightred border rounded-pill'">{{assessors[1].grade}}</p>
            </b-col>
            <b-col v-else>
            <p style="padding: 0; margin: 0;" class="border rounded-pill">-</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col cols="4">
          <b-row>
            <b-col>
            <p class="title-over">מעריך ב'</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col v-if="assessors.length > 0 && assessors[1].full_name">
            <p style="padding: 0; margin: 0;" class="border rounded-pill">{{assessors[1].full_name}}</p>
            </b-col>
            <b-col v-else>
            <p style="padding: 0; margin: 0;" class="border rounded-pill">לא שויך מגבש</p>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="3"></b-col>
        <b-col cols="4">
          <b-row>
            <b-col>
            <p class="title-over">מעריך ג'</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col v-if="assessors.length > 1 && assessors[2].full_name">
            <p style="padding: 0; margin: 0;" class="border rounded-pill">{{assessors[2].full_name}}</p>
            </b-col>
            <b-col v-else>
            <p style="padding: 0; margin: 0;" class="border rounded-pill">לא שויך מגבש</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col cols="2">
          <b-row>
            <b-col>
            <p class="title-over">ציון</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col v-if="assessors.length > 1 && assessors[2].grade">
            <p style="padding: 0; margin: 0;" :class="assessors[2].grade > 3 ? 'bg-lightgreen border rounded-pill' : 'bg-lightred border rounded-pill'">{{assessors[2].grade}}</p>
            </b-col>
            <b-col v-else>
            <p style="padding: 0; margin: 0;" class="border rounded-pill">-</p>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      </div>
      <b-row style="padding-top: 10px;" v-for="(item,key) of assessors" :key="key">
        <b-col>
          <b-row>
            <b-col>
              <p style="font-size: 14px; opacity: 0.9;" class="title-over">הערכת מגבש - {{item.full_name}}</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <p style="padding: 0; margin: 0;" class="border-thing">{{item.comment}}</p>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
  </div>
</template>

<script>
export default {
  name: 'ProfileDetails',
  props: {
    details: Array,
    assessors: Array,
    stage: String
  },
  data () {
    return {
      numToLetter: {
        0: "א'",
        1: "ב'",
        2: "ג'"
      },
      fieldsAssessor: [
        {
          thStyle: {width: '17%'},
          key: 'full_name',
          label: 'שם מגבש'
        },
        {
          thStyle: {width: '15%'},
          key: 'grade',
          label: 'ציון'
        },
        {
          thStyle: {width: '68%'},
          key: 'comment',
          label: 'הערה'
        }
      ]
    }
  },
  computed: {
    sozio () {
      // returns the soziometry if null returns -
      if (this.details[0].sozio) {
        return Number.parseFloat(this.details[0].sozio).toFixed(2)
      }
      return '-'
    },
    stageGrade () {
      // returns the stage grade if null returns -
      if (this.details[0].final_grade) {
        return Number.parseFloat(this.details[0].final_grade).toFixed(2)
      }
      return '-'
    }
  }
}
</script>

<style scoped>
.title-over{
  font-size: 13px;
  opacity: 0.8;
  padding: 0;
  margin: 0;
}
.border-thing{
  border: #bec5cc 1px solid;
  border-radius: 10px;
}
.bg-lightgreen{
  background-color: #3BEA69;
}
.bg-lightred{
  background-color: rgb(241, 74, 74);
}
</style>
