<template>
<!-- asks if user wants to resplit the groups -->
<div>
<div>
  <b-modal
    v-model='trigger'
    @ok="handleOk"
    @cancel="handleCancel"
    no-close-on-esc no-close-on-backdrop hide-header-close cancel-title="בטל"
    ok-title="חלק שוב"
  >
    <div>
      <b-row>
        <h3 style="color:red;" class="text-center">בטוח שברצונך לחלק שוב? כל המידע שקיים ילך לאיבוד</h3>
      </b-row>
    </div>
  </b-modal>
</div>
</div>
</template>
<script>

export default {
  name: 'ResplitGroups',
  props: {
    show_modal: Boolean
  },
  data () {
    return {
      trigger: false
    }
  },
  watch: {
    show_modal (change) {
      // shows when true
      if (change === true) {
        this.trigger = true
      } else {
        this.trigger = false
      }
    }
  },
  methods: {
    handleOk () {
      // emits 'ReSplit'
      this.$emit('ReSplit')
    },
    handleCancel () {
      // emits 'CancelSplit
      this.$emit('CancelSplit')
    }
  }
}
</script>

<style>

</style>
