<template>
<!-- Modal for retiring a participant -->
<div>
<div>
  <b-modal
    v-model='showModal'
    @ok="handleOk"
    @cancel="handleCancel"
    no-close-on-esc no-close-on-backdrop hide-header-close
    cancel-title="בטל"
    ok-title="הפרש"
    title="הפרש משתתף"
  >
    <b-container fluid>
      <b-row>
        <b-col cols="4">
          <p class="reason-retire text-right"><span style="color: red;">*</span>סיבת פרישה</p>
        </b-col>
        <b-col cols="8">
          <b-form-select v-model="selectedReason" :options="optionsReason"></b-form-select>
        </b-col>
      </b-row>
      <b-row class="retire-modal-input" v-for="(field, key) in fields" :key="key">
        <b-col cols="4">
          <p class="text-right reason-retire"><span style="color: red;">*</span>{{field.key}}</p>
        </b-col>
        <b-col cols="8">
          <b-form-select v-if="field.select" v-model="selectedStage" :options="optionsStage"></b-form-select>
          <b-input autocomplete="off" v-else :type="field.type" v-model="field.value"></b-input>
        </b-col>
      </b-row>
      <p class="text-right bad_input" v-text="invalidInput"></p>
    </b-container>
  </b-modal>
</div>
</div>
</template>

<script>
import axios from 'axios'
import httpStatusCodes from '../models/status-codes'

export default {
  name: 'RetireModal',
  props: {
    Route: {
      type: Boolean,
      required: false,
      default: null
    },
    gibushId: {
      type: Number,
      required: false,
      default: -1
    },
    id: {
      type: Number,
      required: false,
      default: -1
    },
    trigger: Boolean
  },
  data () {
    return {
      invalidInput: '',
      selectedReason: 0,
      selectedStage: 0,
      optionsStage: [
        {value: 0, text: 'בחר שלב פרישה'},
        {value: 1, text: "שלב א'"},
        {value: 2, text: "שלב ב'"}
      ],
      optionsReason: [
        {value: 0, text: 'בחר סיבת פרישה'},
        {value: 'פרישה רפואית', text: 'פרישה רפואית'},
        {value: 'הדחה יזומה', text: 'הדחה יזומה'},
        {value: 'פרישה מרצון', text: 'פרישה מרצון'}
      ],
      fields: {}
    }
  },
  mounted () {
    console.log(this.trigger)
    console.log(this.id)
  },
  computed: {
    showModal () {
      // don't know why it's not a watch feel free to change it shows modal when true
      if (this.trigger) {
        if (this.Route) {
          this.fields = { retire_stage: {key: 'שלב פרישה', select: true, value: null} }
          this.optionsStage = [ {value: 0, text: 'בחר שלב פרישה'},
            {value: 1, text: 'טירונות'},
            {value: 2, text: 'טיח'},
            {value: 3, text: 'מסלול'} ]
        } else {
          this.fields = { days_in_gibush: {key: 'ימים בגיבוש', select: false, type: 'number', value: null},
            retire_stage: {key: 'שלב פרישה', select: true, value: null} }
          this.optionsStage = [ {value: 0, text: 'בחר שלב פרישה'},
            {value: 1, text: "שלב א'"},
            {value: 2, text: "שלב ב'"}
          ]
        }
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    handleOk (bvModalEvt) {
      console.log(this.Route)
      if (this.Route) {
        let retirementStats = {
          soldier: this.id,
          retirements_reason: this.selectedReason,
          retirement_stage: this.selectedStage,
          action: ''
        }
        axios.post(`http://localhost:8000/route/soldiers/Retirements/`, retirementStats)
          .then(response => {
            if (response.status === httpStatusCodes.CREATED) {
              this.finishRetireParticipant()
              this.$router.go(0)
            }
          })
          .catch(error => {
            this.finishRetireParticipant()
            alert(error)
          })
      } else {
        // validates input and retires the participant
        if (this.selectedReason === 0 || this.selectedStage === 0 || this.fields.days_in_gibush.value === null) {
          bvModalEvt.preventDefault()
          this.invalidInput = 'קלט לא תקין, חייב למלא את כל השדות'
          console.log(this.fields.days_in_gibush.value)
        } else if (Number(this.fields.days_in_gibush.value) < 1 || Number(this.fields.days_in_gibush.value) > 5) {
          bvModalEvt.preventDefault()
          this.invalidInput = 'קלט לא תקין, ימים בגיבוש צריך להיות בין 1-5'
        } else {
          this.invalidInput = ''
          let retirementStats = {
            myun_id: this.gibushId,
            soldier_id: this.id,
            retirements_reason: this.selectedReason,
            days_in_gibush: this.fields.days_in_gibush.value,
            retirement_stage: this.selectedStage,
            action: ''
          }
          axios.post(`${process.env.ROOT_API}/retirements/`, retirementStats)
            .then(response => {
              if (response.status === httpStatusCodes.CREATED) {
                this.finishRetireParticipant()
                this.$router.go(0)
              }
            })
            .catch(error => {
              this.finishRetireParticipant()
              alert(error)
            })
        }
      }
    },
    handleCancel () {
      // calls func
      this.finishRetireParticipant()
    },
    finishRetireParticipant () {
      // hides modal
      this.showModal = false
      this.$emit('finishRetireParticipant')
    }
  }
}
</script>

<style>
.reason-retire{
  font-size: 16px;
}
.bad_input{
  color: red;
}
.retire-modal-input{
  margin-top: 3%;
}
</style>
