<template>
<!-- components that shwos all results in profle page. verylong cuz didn't have time for dynamic amount of assessor grades
     very 'aravi' but works very well -->
  <div style="padding-bottom: 10px;">
    <b-row style="padding-bottom: 7px;">
      <b-col>
        <b-row>
          <b-col>
            <h7 style="margin: 0; padding: 0; opacity: 0.8">שם הצוות</h7>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <h4 style="margin: 0; padding: 0; opacity: 0.8">{{team.name}}</h4>
          </b-col>
        </b-row>
      </b-col>
      <b-col>
        <b-row>
          <b-col>
            <h7 style="margin: 0; padding: 0; opacity: 0.8">מפק"צ</h7>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <h4 style="margin: 0; padding: 0; opacity: 0.8">{{team.commander_name}}</h4>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
      <b-row>
        <b-col cols="3">
          <b-row>
            <b-col>
            <p class="title-over">מתאים לפיקוד</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col  v-if="fitCommander !== '-'">
            <p  :class="fitCommander > 15 ? 'bg-lightgreen border rounded-pill' : 'bg-lightred border rounded-pill'">{{fitCommander}} %</p>
            </b-col>
            <b-col  v-else>
            <p  class="border rounded-pill">{{fitCommander}} %</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col></b-col>
        <b-col cols="3">
          <b-row>
            <b-col>
            <p class="title-over">סוציומטרי</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col  v-if="sozio !== '-'">
            <p  :class="sozio > 65 ? 'bg-lightgreen border rounded-pill' : 'bg-lightred border rounded-pill'">{{sozio}}</p>
            </b-col>
            <b-col  v-else>
            <p  class="border rounded-pill">{{sozio}}</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col></b-col>
        <b-col cols="3">
          <b-row>
            <b-col>
            <p class="title-over">חברתיות</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col v-if="friendship !== '-'">
            <p style="padding: 0; margin: 0;" :class="friendship > 20 ? 'bg-lightgreen border rounded-pill' : 'bg-lightred border rounded-pill'">{{friendship}} %</p>
            </b-col>
            <b-col  v-else>
            <p  class="border rounded-pill">{{friendship}} %</p>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="3">
          <b-row>
            <b-col>
            <p class="title-over">אמינות</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col  v-if="trustworthy !== '-'">
            <p  :class="trustworthy > 65 ? 'bg-lightgreen border rounded-pill' : 'bg-lightred border rounded-pill'">{{trustworthy}}</p>
            </b-col>
            <b-col  v-else>
            <p  class="border rounded-pill">{{trustworthy}}</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col></b-col>
        <b-col cols="3">
          <b-row>
            <b-col>
            <p class="title-over">התמודדות תחת לחץ</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col  v-if="stress !== '-'">
            <p  :class="stress > 65 ? 'bg-lightgreen border rounded-pill' : 'bg-lightred border rounded-pill'">{{stress}}</p>
            </b-col>
            <b-col  v-else>
            <p  class="border rounded-pill">{{stress}}</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col></b-col>
        <b-col cols="3">
          <b-row>
            <b-col>
            <p class="title-over">חוסר התאמה</p>
            </b-col>
          </b-row>
          <b-row>
            <b-col v-if="notMatch !== '-'">
            <p style="padding: 0; margin: 0;" :class="notMatch < 10 ? 'bg-lightgreen border rounded-pill' : 'bg-lightred border rounded-pill'">{{notMatch}} %</p>
            </b-col>
            <b-col  v-else>
            <p  class="border rounded-pill">{{notMatch}} %</p>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <div v-if="assessors">
        <div v-if="assessors.length > 0">
          <b-row v-for="assessment of assessors" :key="assessment.id">
            <b-col cols="3"></b-col>
            <b-col cols="4">
              <b-row>
                <b-col>
                <p class="title-over">מספר הערכה</p>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                <p style="padding: 0; margin: 0;" class="border rounded-pill">{{assessment.sozio_stage}}</p>
                </b-col>
              </b-row>
            </b-col>
            <b-col cols="2">
              <b-row>
                <b-col>
                <p class="title-over">ציון</p>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                <p style="padding: 0; margin: 0;" :class="assessment.grade > 3 ? 'bg-lightgreen border rounded-pill' : 'bg-lightred border rounded-pill'">{{assessment.grade}}</p>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </div>
        <b-row v-else-if="assessors.length === 0">
          <b-col>
            <h5>לא הוזנו ציונים ע"י המעריכים</h5>
          </b-col>
        </b-row>
        <b-row style="padding-top: 10px;" v-for="(item,key) of assessors" :key="key">
          <b-col>
            <b-row>
              <b-col>
                <p style="font-size: 14px; opacity: 0.9;" class="title-over">הערכת מפק"צ</p>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <p style="padding: 0; margin: 0;" class="border-thing">{{item.comment}}</p>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </div>
  </div>
</template>

<script>
export default {
  name: 'RouteProfileDetails',
  props: {
    details: Array,
    assessors: Array,
    team: Object
  },
  data () {
    return {
      numToLetter: {
        0: "א'",
        1: "ב'",
        2: "ג'"
      },
      fieldsAssessor: [
        {
          thStyle: {width: '17%'},
          key: 'full_name',
          label: 'שם מגבש'
        },
        {
          thStyle: {width: '15%'},
          key: 'grade',
          label: 'ציון'
        },
        {
          thStyle: {width: '68%'},
          key: 'comment',
          label: 'הערה'
        }
      ]
    }
  },
  computed: {
    sozio () {
      // returns the soziometry if null returns -
      console.log(this.details)
      if (this.details[0].sozio) {
        return Number.parseFloat(this.details[0].sozio).toFixed(2)
      }
      return '-'
    },
    trustworthy () {
      // returns the stage grade if null returns -
      if (this.details[0].trustworthy) {
        return Number.parseFloat(this.details[0].trustworthy).toFixed(2)
      }
      return '-'
    },
    stress () {
      // returns the stage grade if null returns -
      if (this.details[0].stress) {
        return Number.parseFloat(this.details[0].stress).toFixed(2)
      }
      return '-'
    },
    fitCommander () {
      // returns the stage grade if null returns -
      if (this.details[0].fitCommander) {
        return this.details[0].fitCommander
      }
      return '-'
    },
    notMatch () {
      // returns the stage grade if null returns -
      if (this.details[0].notMatch) {
        return Number.parseFloat(this.details[0].notMatch).toFixed(2)
      }
      return '-'
    },
    friendship () {
      // returns the stage grade if null returns -
      if (this.details[0].friendship) {
        return this.details[0].friendship
      }
      return '-'
    }
  }
}
</script>

<style scoped>
.title-over{
  font-size: 13px;
  opacity: 0.8;
  padding: 0;
  margin: 0;
}
.border-thing{
  border: #bec5cc 1px solid;
  border-radius: 10px;
}
.bg-lightgreen{
  background-color: #3BEA69;
}
.bg-lightred{
  background-color: rgb(241, 74, 74);
}
</style>
