<template>
<!-- Sozio Chart Display -->
  <b-container>
        <b-row class="justify-content-md-right">
          <b-col col lg="2">
            <b-form-checkbox v-model="chartIsSorted" switch size="md">מיין</b-form-checkbox>
          </b-col>
          <b-col col lg="5">
            <h3>
              {{ this.chartModalTitle }}
            </h3>
          </b-col>
        </b-row>
          <b-row>
            <b-col>
              <zingchart :data="sozioChartData"></zingchart>
            </b-col>
          </b-row>
      </b-container>
</template>

<script>

export default {
  name: 'SozioChart',
  props: {
    results: {
      type: Array,
      required: true,
    },
    chartModalColumn: {
      type: String,
      required: true
    },
    chartModalTitle: {
      type: String,
      required: false,
      default: ''
    }
  },
  data () {
    return {
      chartIsSorted: false,
    }
  },
  computed: {
    sozioChartData () {
      let results = this.results
      if (this.chartIsSorted) {
        results = _.sortBy(this.results, [this.chartModalColumn])
        console.log(results)
      }
      const chartResults = _.map(results, result => result[this.chartModalColumn])
      const chartSoldierLables = _.map(results, result => result.soldier_name)
      return {
        type: 'bar',
        height: '100%',
        width: '95%',

        title: {
          text: ''
        },
        tooltip: {
          text: '%kl: %v',
          color: 'black',
          textAlign: 'left',
          'background-color': 'transparent',
          'border-width': 0,
          'border-color': 'transparent'
        },
        series: [{
          values: chartResults
        }],
        'scale-x': {
          labels: chartSoldierLables
        }
      }
    }
  }
}
</script>

<style>

</style>
