<template>
<!-- shows the grades of the stage -->
  <div>
  <div class="table-space">
    <h4>סך המלש"בים: {{fixedUsers.length}}</h4>
    <b-form-input autocomplete="off" v-model="searchInput" debounce="300" placeholder="הקלד מילות חיפוש"></b-form-input>
    <b-spinner v-if="!listLoaded" variant="primary" label="Spinning"></b-spinner>

    <h2 v-else-if="!userList || !userList.length">אין נתונים להציג</h2>
    <b-table responsive v-else bordered :items="fixedUsers" :fields="fields" :per-page="perPage" :current-page="currentPage">
      <template v-slot:cell(assessors)="row">
        <b-table v-if="row.item.assessors.length" striped small :fields="assessorFields" :items="row.item.assessors"></b-table>
        <p v-else>לא הוזנו נתונים ע"י המעריכים.</p>
      </template>
      <template v-slot:cell(profile)="row">
        <b-dropdown :ref="'dropdown' + row.item.id" size="md" right :boundary="'viewport'" no-caret :dropup="true" variant="link">
          <template v-slot:button-content>
            <div v-if="row.item.pic">
            <b-avatar variant="primary" :src="`${pathOfServer}${row.item.pic}`"></b-avatar>
            </div>
            <div v-else>
              <b-avatar variant="primary"></b-avatar>
            </div>
          </template>
          <b-dropdown-header style="padding: 0; margin: 0;" class="text-center">{{row.item.identity_number}}</b-dropdown-header>
          <b-dropdown-divider></b-dropdown-divider>
          <div  v-if="row.item.pic">
            <b-avatar class="profile-pic" align-self="center"  size="7rem" variant="primary" :src="`${pathOfServer}${row.item.pic}`"></b-avatar>
            </div>
            <div v-else>
              <b-avatar class="profile-pic" size="7rem" align-self="center" variant="primary"></b-avatar>
            </div>
            <b-dropdown-text class="text-center">{{row.item.full_name}}</b-dropdown-text>
            <b-button  class="text-center" style="margin-left: 32%" @click="$router.push({ name: 'ParticipantProfile', params: {id: row.item.id, gibush_id: Number($route.params.gibush_id)}})" variant="outline-primary" size="sm">פרופיל</b-button>
        </b-dropdown>
      </template>
    </b-table>
  </div>
  <div class="overflow-auto">
    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="my-table"
     />
    <p class="mt-3">עמוד נוכחי: {{ currentPage }}</p>
  </div>
</div>
</template>

<script>
export default {

  name: 'StageGrades',
  props: {
    userList: Array,
    listLoaded: Boolean
  },
  data () {
    return {
      assessorFields: [
        {
          key: 'full_name',
          label: 'שם'
        },
        {
          key: 'grade',
          label: 'ציון'
        },
        {
          thStyle: {width: '70%'},
          key: 'comment',
          label: 'הערה'
        }
      ],
      stage: null,
      pathOfServer: process.env.ROOT_API,
      idAssign: null,
      nameAssign: null,
      showAssignGroupMod: false,
      searchInput: null,
      usersToShow: [],
      perPage: 20,
      currentPage: 1,
      fields: [
        {
          key: 'profile',
          label: '',
          sortable: false
        },
        {
          key: 'identity_number',
          label: 'ת.ז.',
          sortable: true
        },
        {
          key: 'full_name',
          label: 'שם מלא',
          sortable: true
        },
        {
          key: 'sozio',
          label: 'סוציומטרי',
          sortable: true
        },
        {
          key: 'stage_grade',
          label: 'ציון שלב',
          sortable: true
        },
        {
          thStyle: {width: '50%'},
          key: 'assessors',
          label: 'מגבשים',
          sortable: false
        }
      ]
    }
  },
  mounted () {
    // sets usersToShow
    this.usersToShow = this.userList
  },
  watch: {
    searchInput (input) {
      // search records
      this.usersToShow = this.userList
      if (this.userList) {
        this.usersToShow = this.userList.filter(
          item => (item.full_name && item.full_name.includes(input)) ||
            (item.identity_number && item.identity_number.includes(input)))
      }
    },
    filterChange () {
      this.usersToShow = this.userList
    }
  },
  computed: {
    rows () {
      // pagination
      return this.usersToShow.length
    },
    fixedUsers () {
      // sets right values and returns values for the table
      let results = []
      for (let i of this.usersToShow) {
        results.push(
          {
            id: i.id,
            identity_number: i.identity_number,
            full_name: i.full_name,
            sozio: i.sozio.toFixed(2),
            stage_grade: i.stage_grade.toFixed(2),
            assessors: i.assessors,
            pic: i.pic
          }
        )
      }
      return results
    }
  }
}
</script>

<style>
.table-space:hover{
  cursor: pointer;
}
.profile-pic{
  margin-left: 14%;
}
</style>
