<template>
<div v-on:keydown="enterPost">
  <b-table responsive id="table-sozio" bordered :fields="fields" :items="items">
    <template v-slot:cell(grade)="row">
        <b-form-input v-on:keyup="nextSpace" :state="row.item.state" autocomplete="off" v-model="row.item.grade"/>
    </template>
  </b-table>
  <b-row >
    <b-col id="send-button" cols="2">
      <b-button  :pill='true' variant='primary' @click="postSozio()">שלח</b-button>
    </b-col>
    <b-col cols="9">
      <p id="bad-input" class="" v-text="badInput"></p>
    </b-col>
  </b-row>
</div>
</template>

<script>
import axios from 'axios'
import httpStatusCodes from '../models/status-codes'

export default {
  name: 'SubjectList',
  props: {
    filler: Number,
    listParticipents: Array,
    stage: Number,
    groupId: Number
  },
  data () {
    return {
      stage_num: {
        a: 1,
        b: 2
      },
      stage_group: {
        1: 'first_stage_group',
        2: 'second_stage_group'
      },
      fields: [
        {
          thStyle: {width: '70%'},
          key: 'name',
          label: 'שם'
        },
        {
          thStyle: {width: '4%'},
          key: 'grade',
          label: 'ציון'
        }
      ],
      all_grades: [],
      badInput: ''
    }
  },
  created () {
    this.getGrades()
  },
  computed: {
    items () {
      let grade
      let tempList = []
      if (this.filler !== -1) {
        for (let index in this.listParticipents) {
          if (this.listParticipents[index].value !== this.filler && this.listParticipents[index].value !== -1) {
            for (let sozioGrade in this.all_grades) {
              if (this.filler === this.all_grades[sozioGrade].filler_participent_id && this.listParticipents[index].value === this.all_grades[sozioGrade].subject_participent_id) {
                grade = this.all_grades[sozioGrade].grade
              }
            }
            if (this.listParticipents[index].text.includes('\u2713')) {
              tempList.push({name: this.listParticipents[index].text.substring(2), subject_participent_id: this.listParticipents[index].value, grade: grade})
            } else {
              tempList.push({name: this.listParticipents[index].text, subject_participent_id: this.listParticipents[index].value, grade: grade})
            }
          }
        }
        return tempList
      } else {
        return null
      }
    }
  },
  methods: {
    enterPost (e) {
      if (e.ctrlKey && e.keyCode === 13) {
        this.postSozio()
      }
    },
    nextSpace (e) {
      if (e.keyCode === 13) {
        window.event.keyCode = 9
      }
    },
    getGrades () {
      this.all_grades = []
      axios.get(`${process.env.ROOT_API}/sozio/?${this.stage_group[this.stage]}=${this.groupId}`)
        .then((response) => {
          for (let sozioGrade in response.data) {
            this.all_grades.push(response.data[sozioGrade])
          }
        })
        .catch(error => {
          alert(error)
        })
    },
    postSozio () {
      let finalGrades = []
      let checkNoDoubles
      let lengthList = this.listParticipents.length
      let goodInputCheck = true
      for (let index in this.items) {
        finalGrades.push({filler_participent_id: this.filler, subject_participent_id: this.items[index].subject_participent_id, stage: this.stage, grade: Number(this.items[index].grade)})
      }
      let doubleNums = []
      for (let i = 1; i <= lengthList - 2; i++) {
        checkNoDoubles = 0
        for (let index in this.items) {
          if (i === Number(this.items[index].grade)) {
            checkNoDoubles++
          }
        }
        if (checkNoDoubles !== 1) {
          goodInputCheck = false
          this.badInput = 'הציונים חייבים להיות מתאימים למספר המשתתפים ואסור שיהיו כפילויות'
        }
        if (checkNoDoubles > 1) {
          doubleNums.push(i)
        }
      }
      for (let i in this.items) {
        if (doubleNums.includes(Number(this.items[i].grade))) {
          this.items[i]['state'] = false
        } else if (!this.items[i].grade) {
          this.items[i]['state'] = false
        } else {
          this.items[i]['state'] = true
        }
      }
      console.log(this.items)
      for (let index in finalGrades) {
        if (isNaN(finalGrades[index].grade)) {
          this.badInput = 'קלט לא תקין - הציונים חייבים להיות מספרים'
          goodInputCheck = false
        }
      }
      if (goodInputCheck && this.filler !== -1) {
        this.badInput = ''
        axios.post(`${process.env.ROOT_API}/sozio/`, finalGrades)
          .then(response => {
            if (response.status === httpStatusCodes.CREATED) {
              this.$emit('Posted')
              this.getGrades()
            }
          })
          .catch(error => {
            alert(error)
          })
      }
    }
  }

}
</script>

<style>
#bad-input{
  color: red;
  right: 40%;
  position: absolute;
}
#send-button{
  left: 0%;
  position: absolute;
}
</style>
