<template>
  <div>
    <retire-modal @finishRetireParticipant="retirePart = false"  :Route="true" :id="chosenSoldier" :trigger="retirePart" />
  <div class="table-space">
    <h4>חברים בקבוצה: {{fixedUsers.length}}</h4>
    <b-form-input v-model="searchInput" debounce="300" placeholder="הקלד מילות חיפוש"></b-form-input>
    <b-spinner v-if="!listLoaded" variant="primary" label="Spinning"></b-spinner>
    <h2 v-else-if="!membersList || !membersList.length">אין נתונים להציג</h2>
    <b-table responsive v-else class="users" striped hover :items="fixedUsers" :fields="fields" :per-page="perPage" :current-page="currentPage">
        <template v-slot:cell(edit)="row">
          <b-button @click="openModal(row.item.id)" variant="outline-dark">הדח</b-button>
        </template>
    </b-table>
  </div>
  <div class="overflow-auto">
    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="my-table"
    ></b-pagination>

    <p class="mt-3">עמוד נוכחי: {{ currentPage }}</p>
  </div>
</div>
</template>

<script>
import RetireModal from './RetireModal'
export default {
  name: 'AssessorTable',
  components: {RetireModal},
  props: {
    membersList: Array,
    listLoaded: Boolean,
    filterChange: Boolean
  },
  data () {
    return {
      retirePart: false,
      stage: null,
      idAssign: null,
      nameAssign: null,
      showAssignGroupMod: false,
      searchInput: null,
      usersToShow: [],
      perPage: 20,
      currentPage: 1,
      chosenSoldier: '',
      fields: [
        {
          thStyle: {width: '2%'},
          key: 'edit',
          label: '',
          sortable: false
        },
        {
          key: 'identity_number',
          label: 'ת.ז.',
          sortable: true
        },
        {
          key: 'full_name',
          label: 'שם מלא',
          sortable: true
        },
        {
          key: 'personal_number',
          label: 'מספר אישי',
          sortable: true
        },
        {
          key: 'address',
          label: 'כתובת',
          sortable: false
        },
        {
          key: 'phone_number',
          label: 'מספר טלפון',
          sortable: true
        }
      ]
    }
  },
  methods: {
    showAssignGroup (stage, assessorId, fullName) {
      this.showAssignGroupMod = true
      this.nameAssign = fullName
      this.idAssign = assessorId
      this.stage = stage
    },
    openModal (id) {
      this.retirePart = true
      this.chosenSoldier = id
    }
  },
  watch: {
    searchInput (input) {
      this.usersToShow = this.membersList
      if (this.membersList) {
        this.usersToShow = this.membersList.filter(
          item => (item.full_name && item.full_name.includes(input)) ||
            (item.soldier_values.personal_number && item.soldier_values.personal_number.includes(input)) ||
            (item.soldier_values.identity_number && item.soldier_values.identity_number.includes(input)) ||
            (item.soldier_values.address && item.soldier_values.address.includes(input)))
      }
    },
    filterChange () {
      this.usersToShow = this.membersList
    }
  },
  mounted () {
    this.usersToShow = this.membersList
  },
  computed: {
    rows () {
      return this.usersToShow.length
    },
    fixedUsers () {
      let members = []
      for (let i of this.usersToShow) {
        members.push(
          {
            id: i.id,
            identity_number: i.soldier_values.identity_number,
            full_name: `${i.soldier_values.first_name} ${i.soldier_values.last_name}`,
            address: i.soldier_values.address,
            phone_number: i.soldier_values.first_phone,
            personal_number: i.soldier_values.personal_number
          }
        )
      }
      return members
    }
  }
}
</script>

<style>
.user{
  cursor: pointer;
}
</style>
