<template>
<div>
  <h4>סך החיילים: {{fixedUsers.length}}</h4>
  <div style="padding-bottom: 10px;">
      <div class="selected">
        <div class="selected" v-if="selectedLeaders.length > 0">
          <h5 style="padding-left: 20px;">חיילים שנבחרו: {{selectedLeaders.length}}</h5>
          <b-button pill variant="primary" @click="addSoldiers()">הוסף לצוות</b-button>
        </div>
        <h4 v-else>לחץ על חייל כדי להוסיף אותו לרשימה</h4>
      </div>
  </div>
  <b-row>
    <div v-if="selectedLeaders.length > 0">
      <div class="selected">
        <b-button @click="removePerson(item.id)" v-for="(item,key) of selectedLeaders" :key="key" variant="outline-danger">{{item.name}} <b-icon icon="x-circle-fill"></b-icon></b-button>
      </div>
    </div>
  </b-row>
  <b-row style="padding-bottom: 10px;">
  </b-row>
  <b-form-input v-model="searchInput" debounce="300" placeholder="הקלד מילות חיפוש"></b-form-input>
  <div class="table-space">
    <b-spinner v-if="!listLoaded" variant="primary" label="Spinning"></b-spinner>
    <h2 v-else-if="!userList || !userList.length">אין נתונים להציג</h2>
    <b-table v-else class="users" striped hover :items="fixedUsers" @row-clicked="rowClicked" :fields="fields" :per-page="perPage" :current-page="currentPage">
      <template v-slot:cell(profile)="row">
        <b-form-checkbox :value="{id: row.item.row_id, name: row.item.full_name}" v-model="selectedLeaders" size="lg"></b-form-checkbox>
      </template>
    </b-table>
  </div>
  <div class="overflow-auto">
    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="my-table"
    ></b-pagination>

    <p class="mt-3">עמוד נוכחי: {{ currentPage }}</p>
  </div>
</div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'TeamAddMembers',
  props: {
    filterChange: Boolean,
    userList: Array,
    listLoaded: Boolean,
    teamId: Number,
    teamName: String,
    sozio: Boolean,
    fillers: Array,
    selectedLeaders: Array
  },
  components: {},
  data () {
    return {
      // TODO: Get users from server
      tempList: [],
      finalLeader: {id: null, name: null},
      perPage: 20,
      currentPage: 1,
      fields: [
        {
          thStyle: {width: '2%'},
          key: 'profile',
          label: '',
          sortable: false
        },
        {
          key: 'identity_number',
          label: 'ת.ז.',
          sortable: true
        },
        {
          key: 'full_name',
          label: 'שם מלא',
          sortable: true
        },
        {
          key: 'address',
          label: 'כתובת',
          sortable: true
        }
      ],
      searchInput: '',
      usersToShow: []
    }
  },
  mounted () {
    this.usersToShow = this.userList
  },
  watch: {
    searchInput (input) {
      this.usersToShow = this.userList
      for (let i in this.userList) {
        this.userList[i]['full_name'] = `${this.userList[i].first_name} ${this.userList[i].last_name}`
      }
      if (this.userList) {
        this.usersToShow = this.userList.filter(
          item => (item.first_name && item.first_name.includes(input)) ||
            (item.last_name && item.last_name.includes(input)) ||
            (item.full_name && item.full_name.includes(input)) ||
            (item.address && item.address.includes(input)) ||
            (item.identity_number && item.identity_number.includes(input)))
      }
    },
    filterChange () {
      this.usersToShow = this.userList
    }
  },
  computed: {
    rows () {
      return this.usersToShow.length
    },
    fixedUsers () {
      let users = []
      console.log(this.usersToShow)
      for (let user of this.usersToShow) {
        users.push({
          row_id: user.id,
          identity_number: user.identity_number,
          full_name: `${user.first_name} ${user.last_name}`,
          address: user.address,
          _rowVariant: user.variant
        })
      }
      return users
    }
  },
  methods: {
    addSoldiers () {
      if (this.selectedLeaders.length >= 1) {
        if (this.sozio === false) {
          for (let soldier of this.selectedLeaders) {
            let soldierDet = {soldier: soldier.id, team: this.teamId}
            axios.post(`http://localhost:8000/route/soldiers/route_soldier/`, soldierDet)
              .then(response => {
              })
              .catch(error => {
                alert(error)
              })
          }
          this.$router.push({name: 'TeamMembers', params: {team_name: this.teamName, team_id: this.teamId}})
        } else {
          for (let user of this.userList) {
            if (this.selectedLeaders.filter(d => d.id === user.id).length > 0) {
              user.checked = true
            } else {
              user.checked = false
            }
          }
          this.fillers = this.userList
          this.$emit('addfreind')
        }
      }
    },
    removePerson (id) {
      let temp = []
      for (let i of this.selectedLeaders) {
        if (i.id !== id) {
          temp.push(i)
        }
      }
      this.selectedLeaders = temp
    },
    rowClicked (row) {
      if (this.sozio === true) {
        if (this.selectedLeaders.length !== 3) {
          let check = false
          for (let i of this.selectedLeaders) {
            if (i.id === row.row_id) {
              check = true
            }
          }
          if (!check) {
            this.selectedLeaders.push({id: row.row_id, name: row.full_name})
          } else {
            let temp = []
            for (let i of this.selectedLeaders) {
              if (i.id !== row.row_id) {
                temp.push(i)
              }
            }
            this.selectedLeaders = temp
          }
        } else {
          alert('לא ניתן להכניס יותר משלושה חברים')
        }
      } else {
        let check = false
        for (let i of this.selectedLeaders) {
          if (i.id === row.row_id) {
            check = true
          }
        }
        if (!check) {
          this.selectedLeaders.push({id: row.row_id, name: row.full_name})
        } else {
          let temp = []
          for (let i of this.selectedLeaders) {
            if (i.id !== row.row_id) {
              temp.push(i)
            }
          }
          this.selectedLeaders = temp
        }
      }
    }
  }
}
</script>

<style scoped>
  .users {
    cursor: pointer;
  }
  .arrived-button{
    width: 100%;
    height: 29px;
  }
  .selected{
    display: flex;
    flex-direction: row;
  }
</style>
