<template>
<div>
  <!-- table used to show users used in receiving participants and just to shows them normally. also in retirements page. shows different
       fields for every page -->
  <retire-modal @finishRetireParticipant="retirePart = false" :gibushId="myunId" :id="chosenSoldierId" :trigger="retirePart" />
  <add-participant-modal v-on:finishAddParticipant="showAddParticipant = false" :update="true" :trigger="showAddParticipant" :fields="editFields" :boolFields="editBoolFields" :edit="true" :id="editParticipantId" :level_phase="String($route.params.level_phase)" :myunIid="Number($route.params.gibush_id)"></add-participant-modal>
  <change-group v-on:finishChangeGroup="showChangeGroup = false" :trigger="showChangeGroup" :soldierId="changeGroupId" :myunId="myunId"></change-group>
  <participant-arrived v-on:Cancel="showArrived = false" v-on:FinishReceive="showArrived = false; takePic()" :trigger="showArrived" :soldierId="chosenArrived" :soldierName="chosenNameArrived" :ifArrived="ifArrived" :myunId="myunId"></participant-arrived>
  <web-cam v-on:CloseCam="showCam = false; fetchParticipents()" :soldierId="chosenArrived" :receive="true" :myunId="myunId" :trigger="showCam" :identityNumber="chosenTz"></web-cam>
  <h4>סך המלש"בים: {{fixedUsers.length}}</h4>
  <h4 v-if="receiveParticipant">מלש"בים שהגיעו: {{numArrived}}</h4>
  <b-form-input autocomplete="off" v-model="searchInput" debounce="300" placeholder="הקלד מילות חיפוש"></b-form-input>
  <div class="table-space">
    <b-spinner v-if="!listLoaded" variant="primary" label="Spinning"></b-spinner>
    <h2 v-else-if="!userList || !userList.length">אין נתונים להציג</h2>
    <b-table v-else responsive class="users" v-on:row-clicked="participantArrived" striped hover :items="fixedUsers" :fields="fields" :per-page="perPage" :current-page="currentPage">
      <template v-slot:cell(profile)="row">
        <b-dropdown :ref="'dropdown' + row.item.id" size="md" right :boundary="'viewport'" no-caret :dropup="true" variant="link">
          <template v-slot:button-content>
            <div v-if="row.item.pic">
            <b-avatar variant="primary" :src="`${pathOfServer}${row.item.pic}`"></b-avatar>
            </div>
            <div v-else>
              <b-avatar variant="primary"></b-avatar>
            </div>
          </template>
          <b-dropdown-header style="padding: 0; margin: 0;" class="text-center">{{row.item.identity_number}}</b-dropdown-header>
          <b-dropdown-divider></b-dropdown-divider>
          <div  v-if="row.item.pic">
            <b-avatar class="profile-pic" align-self="center"  size="7rem" variant="primary" :src="`${pathOfServer}${row.item.pic}`"></b-avatar>
            </div>
            <div v-else>
              <b-avatar class="profile-pic" size="7rem" align-self="center" variant="primary"></b-avatar>
            </div>
            <b-dropdown-text class="text-center">{{row.item.full_name}}</b-dropdown-text>
            <b-button  class="text-center"  align-self="right"  @click="$router.push({ name: 'FullParticipantProfile', params: {id: row.item.row_id, gibush_id: myunId}})" variant="outline-primary" size="cols">פרופיל</b-button>
            <b-button v-if="retiredRoute"  class="text-center" @click="ReturnToRoute(row.item.row_id)" variant="outline-primary" size="cols">החזרה</b-button>
        </b-dropdown>
      </template>
      <template v-slot:cell(menu)="row">
        <b-dropdown right :boundary="'viewport'" no-caret :dropdown="true" variant="link" v-b-tooltip:hover="'לחץ כדי לפתוח תפריט'">
          <template v-slot:button-content>
            <b-icon icon="three-dots-vertical"></b-icon>
          </template>
          <b-dropdown-item class="text-right" @click="showAddParticipantModal(row.item.row_id)">ערוך</b-dropdown-item>
          <b-dropdown-item class="text-right" @click="showChangeGroupModal(row.item.row_id)">העבר קבוצה</b-dropdown-item>
          <b-dropdown-item class="text-right" @click="showRetireModal(row.item.row_id)">הפרש מועמד</b-dropdown-item>
        </b-dropdown>
      </template>
      <template v-if="receiveParticipant" v-slot:cell(status)="row">
        <b-button class="arrived-button" v-if="row.item.arrived" variant="success" @click="participantArrived(row.item)"></b-button>
        <b-button v-else class="arrived-button"  variant="danger" @click="participantArrived(row.item)"></b-button>
      </template>
    </b-table>
  </div>
  <div class="overflow-auto">
    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      aria-controls="my-table"
    ></b-pagination>

    <p class="mt-3">עמוד נוכחי: {{ currentPage }}</p>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import httpStatusCodes from '../models/status-codes'
import AddParticipantModal from '../components/AddParticipantModal'
import ChangeGroup from '../components/ChangeGroup'
import ParticipantArrived from '../components/ParticipantArrived'
import WebCam from '../components/WebCam'
import RetireModal from '../components/RetireModal'

export default {
  name: 'UsersTable',
  props: {
    filterChange: Boolean,
    receiveParticipant: Boolean,
    retired: Boolean,
    retiredRoute: Boolean,
    normalList: Boolean,
    userList: Array,
    listLoaded: Boolean,
    clickLinkName: String,
    myunId: Number
  },
  components: {AddParticipantModal, ChangeGroup, ParticipantArrived, WebCam, RetireModal},
  data () {
    return {
      pathOfServer: process.env.ROOT_API,
      chosenSoldierId: null,
      retirePart: false,
      editParticipantId: -1,
      showAddParticipant: false,
      tempList: [],
      showArrived: false,
      chosenArrived: null,
      showCam: false,
      chosenTz: null,
      chosenNameArrived: null,
      ifArrived: null,
      perPage: 20,
      currentPage: 1,
      showChangeGroup: false,
      changeGroupId: null,
      delay: 700,
      clicks: 0,
      timer: null,
      fields: [
        {
          thStyle: {width: '2%'},
          key: 'menu',
          label: '',
          sortable: false
        },
        {
          key: 'identity_number',
          label: 'ת.ז.',
          sortable: true
        },
        {
          key: 'full_name',
          label: 'שם מלא',
          sortable: true
        },
        {
          key: 'first_phone',
          label: 'טלפון',
          sortable: false
        },
        {
          key: 'address',
          label: 'כתובת',
          sortable: true
        }
      ],
      assessors: false,
      searchInput: '',
      usersToShow: [],
      editFields: {
        firstName: {key: 'שם פרטי', type: 'text', value: null, state: null, isMandatory: true},
        lastName: {key: 'שם משפחה', type: 'text', value: null, state: null, isMandatory: true},
        id: {key: 'תעודת זהות', type: 'number', value: null, state: null, isMandatory: true},
        pa: {key: 'מספר אישי', type: 'number', value: null, state: null, isMandatory: false},
        birthDate: {key: 'תאריך לידה', type: 'date', value: null, state: null, isMandatory: false},
        firstPhone: {key: 'טלפון ראשון', type: 'number', value: null, state: null, isMandatory: true},
        secondPhone: {key: 'טלפון שני', type: 'number', value: null, state: null, isMandatory: false},
        thirdPhone: {key: 'טלפון שלישי', type: 'number', value: null, state: null, isMandatory: false},
        address: {key: 'כתובת', type: 'text', value: null, state: null, isMandatory: true},
        status: {key: 'סטאטוס מלש"ב', type: 'text', value: null, state: null, isMandatory: false},
        kaba: {key: 'קבא', type: 'number', value: null, state: null, isMandatory: false},
        dapar: {key: 'דפר', type: 'number', value: null, state: null, isMandatory: false},
        profile: {key: 'פרופיל רפואי', type: 'number', value: null, state: null, isMandatory: false},
        tzadach: {key: 'צדח', type: 'number', value: null, state: null, isMandatory: false}
      },
      editBoolFields: {
        newImm: {key: 'עולה חדש?', type: 'text', value: false, state: null, isMandatory: false},
        medic: {key: 'סעיף רפואי מכשיל?', type: 'switch', value: false, state: null, isMandatory: false}
      }
    }
  },
  mounted () {
    // depending on which page sets fields
    this.usersToShow = this.userList
    if (this.normalList) {
      this.fields.unshift({
        thStyle: {width: '2%'},
        key: 'profile',
        label: '',
        sortable: false
      })
    }
    if (this.receiveParticipant) {
      this.fields.shift()
      this.fields.unshift({
        thStyle: {width: '10%'},
        key: 'status',
        label: 'הגיע'
      })
      this.fields.unshift({
        thStyle: {width: '2%'},
        key: 'profile',
        label: '',
        sortable: false
      })
    }
    if (this.retired) {
      this.fields = [
        {
          thStyle: {width: '2%'},
          key: 'profile',
          label: '',
          sortable: false
        },
        {
          key: 'identity_number',
          label: 'ת.ז.',
          sortable: true
        },
        {
          key: 'full_name',
          label: 'שם מלא',
          sortable: true
        },
        {
          key: 'retirement_stage',
          label: 'שלב פרישה',
          sortable: true
        },
        {
          key: 'days_in_gibush',
          label: 'ימים בגיבוש',
          sortable: true
        },
        {
          key: 'retirement_date',
          label: 'תאריך פרישה',
          sortable: false
        },
        {
          key: 'retirements_reason',
          label: 'סיבת פרישה',
          sortable: false
        }
      ]
    }
    if (this.$route.name === 'FieldDay') {
      this.fields = [
        {
          thStyle: {width: '2%'},
          key: 'profile',
          label: '',
          sortable: false
        },
        {
          key: 'identity_number',
          label: 'ת.ז.',
          sortable: true
        },
        {
          key: 'full_name',
          label: 'שם מלא',
          sortable: true
        },
        {
          key: 'first_assessor',
          label: 'מעריך 1',
          sortable: true
        },
        {
          key: 'second_assessor',
          label: 'מעריך 2',
          sortable: true
        },
        {
          key: 'soziometry',
          label: 'ציון סוציומטרי',
          sortable: true
        },
        {
          key: 'baror',
          label: 'ציון בראור',
          sortable: true
        },
        {
          key: 'fit_matkal',
          label: 'מתאים מטכל',
          sortable: false
        }
      ]
    }
    if (this.retiredRoute) {
      this.fields = [
        {
          thStyle: {width: '2%'},
          key: 'profile',
          label: '',
          sortable: false
        },
        {
          key: 'identity_number',
          label: 'ת.ז.',
          sortable: true
        },
        {
          key: 'full_name',
          label: 'שם מלא',
          sortable: true
        },
        {
          key: 'retirement_stage',
          label: 'שלב פרישה',
          sortable: true
        },
        {
          key: 'retirement_date',
          label: 'תאריך פרישה',
          sortable: false
        },
        {
          key: 'retirements_reason',
          label: 'סיבת פרישה',
          sortable: false
        }
      ]
    }
  },
  watch: {
    searchInput (input) {
      // search bar
      this.usersToShow = this.userList
      for (let i in this.userList) {
        this.userList[i]['full_name'] = `${this.userList[i].first_name} ${this.userList[i].last_name}`
      }
      if (this.userList) {
        this.usersToShow = this.userList.filter(
          item => (item.first_name && item.first_name.includes(input)) ||
            (item.last_name && item.last_name.includes(input)) ||
            (item.full_name && item.full_name.includes(input)) ||
            (item.first_phone && item.first_phone.includes(input)) ||
            (item.address && item.address.includes(input)) ||
            (item.identity_number && item.identity_number.includes(input)))
      }
    },
    filterChange () {
      // changes on filter chnage (oleh chadash maybe)
      this.usersToShow = this.userList
    }
  },
  computed: {
    numArrived () {
      // how many arrived on reception page
      let count = 0
      for (let user of this.userList) {
        if (user.arrived) {
          count++
        }
      }
      return count
    },
    rows () {
      // pagination
      return this.usersToShow.length
    },
    fixedUsers () {
      // returns the items of table (varies per page)
      if (this.$route.name === 'FieldDay') {
        let users = []
        for (let user of this.usersToShow) {
          users.push({
            row_id: user.participant.id,
            identity_number: user.participant.identity_number,
            full_name: `${user.participant.first_name} ${user.participant.last_name}`,
            first_assessor: `${user.first_assessor} ${user.first_assessor_grade}`,
            second_assessor: `${user.second_assessor} ${user.second_assessor_grade}`,
            soziometry: user.sozio_grade,
            pic: user.pic,
            baror: user.baror_grade,
            fit_matkal: user.fit_matkal
          })
        }
        return users
      } else {
        if (!this.retired && !this.retiredRoute) {
          let users = []
          for (let user of this.usersToShow) {
            users.push({
              row_id: user.id,
              identity_number: user.identity_number,
              full_name: `${user.first_name} ${user.last_name}`,
              address: user.address,
              first_phone: user.first_phone,
              arrived: user.arrived,
              pic: user.pic,
              new_immigrant: user.is_new_immigrant
            })
          }
          return users
        }
      }
      if (this.retired) {
        let users = []
        for (let user of this.usersToShow) {
          users.push({
            row_id: user.soldier_id,
            identity_number: user.identity_number,
            full_name: `${user.first_name} ${user.last_name}`,
            days_in_gibush: user.days_in_gibush,
            retirements_reason: user.retirements_reason,
            retirement_stage: user.retirement_stage,
            retirement_date: user.retirement_date
          })
        }
        return users
      }
      if (this.retiredRoute) {
        let users = []
        for (let user of this.usersToShow) {
          users.push({
            row_id: user.soldier_id,
            identity_number: user.soldier.identity_number,
            full_name: user.soldier.soldier_name,
            retirements_reason: user.retirements_reason,
            retirement_stage: user.retirement_stage,
            retirement_date: user.retirement_date
          })
        }
        return users
      }
    }
  },
  methods: {
    ReturnToRoute (soldierId) {
      // show retired modal
      axios.post(`${process.env.BASIC_API}/route/soldiers/Retirements/`, {
        action: 'delete',
        soldier: soldierId
      })
        .then(response => {
          if (response.status === httpStatusCodes.OK) {
            this.$router.go(0)
          }
        })
        .catch(error => {
          console.log(error)
        })
    },
    showRetireModal (soldierId) {
      // show retired modal
      this.chosenSoldierId = soldierId
      this.retirePart = true
    },
    showChangeGroupModal (soldierId) {
      // shwo group change modal
      this.changeGroupId = soldierId
      this.showChangeGroup = true
    },
    showAddParticipantModal (soldierId) {
      // add participant modal
      this.editParticipantId = soldierId
      this.editFields = {
        firstName: {key: 'שם פרטי', type: 'text', value: null, state: null, isMandatory: true},
        lastName: {key: 'שם משפחה', type: 'text', value: null, state: null, isMandatory: true},
        id: {key: 'תעודת זהות', type: 'number', value: null, state: null, isMandatory: true},
        pa: {key: 'מספר אישי', type: 'number', value: null, state: null, isMandatory: false},
        birthDate: {key: 'תאריך לידה', type: 'date', value: null, state: null, isMandatory: false},
        firstPhone: {key: 'טלפון ראשון', type: 'number', value: null, state: null, isMandatory: true},
        secondPhone: {key: 'טלפון שני', type: 'number', value: null, state: null, isMandatory: false},
        thirdPhone: {key: 'טלפון שלישי', type: 'number', value: null, state: null, isMandatory: false},
        address: {key: 'כתובת', type: 'text', value: null, state: null, isMandatory: true},
        status: {key: 'סטאטוס גיוס', type: 'text', value: null, state: null, isMandatory: false},
        kaba: {key: 'קבא', type: 'number', value: null, state: null, isMandatory: false},
        dapar: {key: 'דפר', type: 'number', value: null, state: null, isMandatory: false},
        profile: {key: 'פרופיל רפואי', type: 'number', value: null, state: null, isMandatory: false},
        tzadach: {key: 'צדח', type: 'number', value: null, state: null, isMandatory: false}
      }
      this.editBoolFields = {
        newImm: {key: 'עולה חדש?', type: 'text', value: false, state: null, isMandatory: false},
        medic: {key: 'סעיף רפואי מכשיל?', type: 'switch', value: false, state: null, isMandatory: false}
      }
      axios.get(`${process.env.ROOT_API}/participent_profile/?myun_id=${this.myunId}&id=${this.editParticipantId}`)
        .then(response => {
          if (response.status === httpStatusCodes.OK && response.data && response.data[0]) {
            const participantDetails = response.data[0].participent
            this.editFields.firstName.value = participantDetails.first_name
            this.editFields.lastName.value = participantDetails.last_name
            this.editFields.pa.value = participantDetails.personal_number
            if (participantDetails.birth_date) {
              this.editFields.birthDate.value = participantDetails.birth_date.split('/').reverse().join('-')
            }
            this.editFields.firstPhone.value = participantDetails.first_phone
            this.editFields.secondPhone.value = participantDetails.second_phone
            this.editFields.thirdPhone.value = participantDetails.third_phone
            this.editFields.address.value = participantDetails.address
            this.editFields.status.value = participantDetails.enlistment_status
            this.editFields.kaba.value = participantDetails.kabha
            this.editFields.dapar.value = participantDetails.dapar
            this.editFields.id.value = participantDetails.identity_number
            this.editFields.tzadach.value = participantDetails.tzadach
            this.editBoolFields.newImm.value = participantDetails.is_new_immigrant
            this.editBoolFields.medic.value = participantDetails.disqualifying_medical_trait
          }
        })
        .catch(error => {
          console.log(error)
        })
      this.showAddParticipant = true
    },
    takePic () {
      // actfivates camera
      if (!this.ifArrived) {
        this.showCam = true
      } else {
        this.fetchParticipents()
      }
    },
    participantArrived (row) {
      // when clicked receives participant
      if (this.receiveParticipant) {
        this.chosenTz = row.identity_number
        this.chosenArrived = row.row_id
        this.chosenNameArrived = row.full_name
        this.ifArrived = row.arrived
        this.showArrived = true
      }
    },
    fetchParticipents () {
      // gets participants for reception
      axios.get(`${process.env.ROOT_API}/Participent/?myun_id=${this.myunId}`)
        .then((response) => {
          let temp = []
          for (let participant in response.data) {
            temp.push(response.data[participant])
          }
          this.userList = temp
          this.usersToShow = this.userList
          this.listLoaded = true
        })
        .catch(function (error) {
          console.log(error)
        })
    }
  }
}
</script>

<style scoped>
  .users {
    cursor: pointer;
  }
  .arrived-button{
    width: 100%;
    height: 30px;
  }
  .profile-pic{
  margin-left: 14%;
}
</style>
