<template>
<!-- The webcam modal -->
  <div>
    <b-modal
      centered
      v-model='showModal'
      no-close-on-esc no-close-on-backdrop hide-header-close
      title='תמונת מלש"ב'
    >
      <b-row style="padding-bottom: 7px;">
        <vue-web-cam v-if="!photo" ref='webcam' :height="400" autoplay selectFirstDevice playsinline />
        <div v-else>
          <h4 class="text-center">התמונה שצולמה</h4>
          <img id="pic" :src="photo" style="width: 490px; height: 380px;">
        </div>
      </b-row>
      <b-row>
        <b-col cols="2">
          <b-button v-if="!statePic" variant="outline-success" @click="takePicture()">צלם</b-button>
        </b-col>
        <b-col cols="3">
          <b-button v-if="!statePic" variant="outline-danger" @click=" photo = null">נסה שוב</b-button>
          <b-button v-else variant="outline-danger" @click="photo = null; statePic = null; picFile = null">מצלמה</b-button>
        </b-col>
        <b-col>
          <b-form-file
          class="text-center"
            size="sm"
            accept="image/*"
            v-model="picFile"
            :state="statePic"
            placeholder="העלאת תמונה"
            drop-placeholder="שחרר להעלאה"
          />
        </b-col>
      </b-row>
      <b-row>
        <p style="color:red;">{{badInput}}</p>
      </b-row>
      <template v-slot:modal-footer>
        <b-row cols="12" v-if="insideProfile">
          <b-col>
            <b-button @click="handleCancel()" variant="danger">בטל</b-button>
          </b-col>
          <b-col>
            <b-button @click="handleOk()" variant="primary">שמור</b-button>
          </b-col>
        </b-row>
        <b-row cols="12" v-else-if="newPart">
          <b-col>
            <b-button @click="handleCancel()" variant="danger">סגור</b-button>
          </b-col>
          <b-col>
            <b-button @click="handleOk()" variant="primary">המשך</b-button>
          </b-col>
        </b-row>
        <b-row cols="12" v-else>
          <b-col cols="3">
            <b-button @click="handleCancel()" variant="danger">בטל</b-button>
          </b-col>
          <b-col cols="6">
            <b-button @click="handleNoPic()" variant="primary">המשך ללא תמונה</b-button>
          </b-col>
          <b-col cols="3">
            <b-button @click="handleOk()" variant="success">המשך</b-button>
          </b-col>
        </b-row>
      </template>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios'
import httpStatusCodes from '../models/status-codes'

export default {
  name: 'WebCam',
  props: {
    trigger: Boolean,
    identityNumber: String,
    soldierId: Number,
    myunId: Number,
    insideProfile: Boolean,
    newPart: Boolean,
    receive: Boolean
  },
  data () {
    return {
      showModal: false,
      photo: null,
      picFile: null,
      statePic: null,
      badInput: '',
      temp: null,
      pics: []
    }
  },
  methods: {
    takePicture () {
      // captures pic
      this.badInput = ''
      this.photo = this.$refs.webcam.capture()
    },
    handleCancel () {
      // cancels
      if (this.insideProfile) {
        this.$emit('Cancel')
      } else {
        this.closeCam()
      }
    },
    handleOk () {
      // posts and receives particpant if not received
      // bvModalEvt.preventDefault()
      if (this.photo) {
        if (this.receive) {
          axios.post(`${process.env.ROOT_API}/Participent/`, {update: true, myun_id: this.myunId, identity_number: this.identityNumber, pic: this.photo})
            .then(response => {
              if (response.status === httpStatusCodes.CREATED) {
                this.closeCam()
              }
            })
            .catch(error => {
              alert(error)
            })
        } else {
          axios.post(`${process.env.ROOT_API}/Participent/`, {update: true, identity_number: this.identityNumber, pic: this.photo})
            .then(response => {
              if (response.status === httpStatusCodes.CREATED) {
                this.closeCam()
              }
            })
            .catch(error => {
              alert(error)
            })
        }
      } else {
        this.badInput = 'צלם תמונה או לחץ על המשך ללא תמונה כדי לקלוט מועמד'
      }
    },
    handleNoPic () {
      // continue with no pic on reception
      axios.post(`${process.env.ROOT_API}/gibush_stats/`, {participent_status: 'נקלט', myun_id: this.myunId, soldier_id: this.soldierId})
        .then(response => {
          if (response.status === httpStatusCodes.CREATED) {
            this.closeCam()
          }
        })
        .catch(error => {
          alert(error)
        })
    },
    closeCam () {
      this.$emit('CloseCam')
    },
    convert (pic) {
      // converts uploaded pic to base64
      let self = this
      var reader = new FileReader()
      reader.onload = function (e) {
        self.photo = e.target.result
      }
      reader.readAsDataURL(pic)
    }
  },
  watch: {
    picFile (change) {
      // uploaded files activates conversion
      if (change) {
        this.statePic = true
        this.photo = this.convert(change)
      } else {
        this.statePic = null
      }
    },
    trigger (change) {
      // activation
      if (change) {
        this.temp = null
        this.photo = null
        this.statePic = null
        this.picFile = null
        this.showModal = true
      } else {
        this.showModal = false
      }
    }
  }
}
</script>

<style>

</style>
