<template>
  <div class="hello">
    <menu-bar></menu-bar>
  <div class="temp-bg">
  <div id="main">
    <router-view></router-view>
  </div>
  </div>

</div>
</template>

<script>
import { BNav } from 'bootstrap-vue'
import MenuBar from './Dashboards/MenuBar'

export default {
  name: 'MainLayout',
  components: {
    BNav,
    MenuBar
  }
}
</script>

<style scoped>
.temp-bg{
  width: 100%;
  height: 100%;
}
#title-all{
  text-align: right;
  font-weight: bold;
  opacity: 0.8;
}
div {
  direction: rtl;
}
h1, h2 {
  font-weight: bold;
}
.title-all{
  text-align: right;
  font-weight: bold;
  opacity: 0.8;
}
#main {
  margin-right: 150px;
  margin-left: 30px;
  margin-top: 50px;
}
#main #title-all {
  opacity: 0.8;
}
</style>
