<template>
<!-- page to get csv so that we can add the participant to the gibush -->
  <div>
    <h1>{{ title }}</h1>
    <p>{{ text }}</p>
    <b-form-file
      size="lg"
      accept=".csv"
      v-model="csvFile"
      :state="state"
      placeholder="גרור או לחץ פה להעלאה"
      drop-placeholder="שחרר להעלאה"
    />
    <p style="color:red;">{{showNotCsv}}</p>
    <b-button v-if="!notCsv && !entered" variant="outline-primary" v-on:click="uploadFile()">אישור</b-button>
    <b-spinner v-if="entered" variant="primary"></b-spinner>
  </div>
</template>

<script>
import axios from 'axios'
import httpStatusCodes from '../../models/status-codes'

export default {
  name: 'AddParticipantsToGibush',
  components: {},
  data () {
    return {
      title: 'הוספת מועמדים לגיבוש',
      text: 'ייבא נתונים מקובץ Excel/CSV',
      csvFile: null,
      notCsv: true,
      showNotCsv: '',
      continue: false,
      entered: false
    }
  },
  watch: {
    csvFile (change) {
      // makes sure that the file selected is a csv
      if (this.csvFile) {
        if (change.name.slice(-3) !== 'csv') {
          this.notCsv = true
          this.showNotCsv = 'הקובץ שנבחר אינו קובץ CSV, אנא בחר קובץ מסוג CSV כדי להמשיך'
        } else {
          this.notCsv = false
          this.showNotCsv = ''
        }
      }
    }
  },
  computed: {
    state () {
      // if not csv the state of object changes to false
      if (this.notCsv) {
        return false
      } else {
        return true
      }
    }
  },
  methods: {
    uploadFile () {
      // uploads the file to the server and adds to the gibush
      this.entered = true
      let formData = new FormData()
      formData.append('csv_file', this.csvFile)
      axios.post(`${process.env.ROOT_API}/upload_file/`, formData, {
        headers: {'Content-Type': 'multipart/form-data'}
      })
        .then(response => {
          this.entered = false
          if (response.status === httpStatusCodes.CREATED) {
            alert('הקובץ הועלה בהצלחה')
          }
        })
        .catch(error => {
          this.entered = false
          alert(error)
        })
    }
  }
}
</script>

<style>
.custom-file {
  margin-bottom: 1rem;
  height: 250px;
}

.custom-file-input {
  height: 250px;
}

.custom-file-label {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-file-label::after {
  display: none;
}
</style>
