<template>
<!-- page for the final results of the gibush -->
  <div>
    <b-row>
      <b-col cols="7">
        <h2 class="text-right opacity-8"><strong>תוצאות סופיות: גיבוש {{$route.params.gibush_title}}</strong></h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-button pill variant="primary" class="float-left" @click="downloadFile()">הורד קובץ תוצאות</b-button>
      </b-col>
    </b-row>
    <div v-if="listLoaded">
      <gibush-grades
        v-on:FetchAgain="fetchGrades()"
        :myunId="Number($route.params.gibush_id)"
        :userList="resultsList"
        :listLoaded="listLoaded"
        :change="change"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import GibushGrades from '../../components/GibushGrades'

export default {
  name: 'GibushResults',
  components: {GibushGrades},
  data () {
    return {
      resultsList: [],
      listLoaded: false,
      change: false
    }
  },
  created () {
    this.fetchGrades()
  },
  methods: {
    downloadFile () {
      // download final grades page
      axios({
        url: `${process.env.ROOT_API}/download_grades/?myun_id=${this.$route.params.gibush_id}`,
        method: 'GET',
        responseType: 'blob'
      }).then(response => {
        const url = window.URL.createObjectURL(new Blob([response.data]))
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download', 'final_results.csv')
        document.body.appendChild(link)
        link.click()
      })
        .catch(error => {
          alert(error)
        })
    },
    fetchGrades () {
      // gets all the grades
      axios.get(`${process.env.ROOT_API}/all_grades/?myun_id=${this.$route.params.gibush_id}`)
        .then((response) => {
          console.log(response.data)
          let temp = []
          for (let person of response.data) {
            temp.push({
              passed_gibush: person.passed_gibush,
              id: person.participent.id,
              full_name: `${person.participent.first_name} ${person.participent.last_name}`,
              final_rating: Number(person.final_rating),
              identity_number: person.participent.identity_number,
              sozio_1: Number(person.first_stage_sozio),
              sozio_2: Number(person.second_stage_sozio),
              pic: person.participent.pic,
              firstStageAssessors: [],
              secondStageAssessors: []
            })
            for (let assessor of person.assessors_grade_names) {
              if (assessor.stage === 1) {
                temp[temp.length - 1].firstStageAssessors.push({name: assessor.full_name, grade: assessor.grade})
              } else {
                temp[temp.length - 1].secondStageAssessors.push({name: assessor.full_name, grade: assessor.grade})
              }
            }
          }
          this.resultsList = temp
          this.change = !this.change
          this.listLoaded = true
        })
    }
  }
}
</script>

<style>
  .opacity-8{
    opacity: 0.8;
  }
</style>
