<template>
<!-- inside the gibush page -->
  <div v-if="gibushDetails">
    <b-row>
    <b-col cols="6">
      <h2 class="text-right opacity-8"><strong>גיבוש {{this.gibushDetails.title}}</strong></h2>
    </b-col>
    <b-col><h5 class="float-left">ייבוא גיבוש:</h5></b-col>
      <b-col>
        <b-form-file class="float-right"
          size="sm"
          accept=".json"
          v-model="fileGibush"
          :state="Boolean(fileGibush)"
          placeholder="Choose a file or drop it here..."
          drop-placeholder="Drop file here..."
        ></b-form-file>
      </b-col>
      <b-col v-if="Boolean(fileGibush)">
        <b-button v-if="notSent" @click="importGibush" variant="primary" pill class="float-right">ייבא</b-button>
        <b-spinner v-else variant="primary"></b-spinner>
      </b-col>
      <b-col>
        <b-button id='export-gibush' variant="dark" :pill="true" @click="exportparticipant()">ייצוא גיבוש</b-button>
    </b-col>
    </b-row>
    <h3>
       {{this.gibushDetails.description}}
    </h3>
    <div class="dashboard">
      <box
      v-for="(item, index) of items"
      :key="index" :soon="item.soon" :title="item.title" :params="item" :icon="item.icon" :linkName="item.linkName"
      :linkParams="item.linkParams"
      >
      </box>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import httpStatusCodes from '../../models/status-codes'
import Box from '../../components/Box/Box'

export default {
  name: 'Gibush',
  components: {Box},
  data () {
    return {
      gibushDetails: [],
      fileGibush: null,
      notSent: true
    }
  },
  created () {
    axios.get(`${process.env.ROOT_API}/gibush/${this.$route.params.id}`, {})
      .then((response) => {
        this.gibushDetails = response.data
      })
      .catch(function (error) {
        console.log(error)
      })
  },
  computed: {
    items () {
      // the boxes to show
      if (!Object.entries(this.gibushDetails).length) {
        return null
      }
      return [
        {title: 'שלב א׳', icon: 'one', linkName: 'Levels', linkParams: {group_id: this.gibushDetails.title, gibush_id: this.gibushId, level_phase: 'a'}},
        {title: 'שלב ב׳', icon: 'two', linkName: 'Levels', linkParams: {group_id: this.gibushDetails.title, gibush_id: this.gibushId, level_phase: 'b'}},
        {title: 'מגבשים', icon: 'angel@2x', linkName: 'AssessorList', 'linkParams': {gibush_id: this.gibushId}},
        {title: 'תוצאות סיכום', icon: 'ranking (1)', linkName: 'GibushResults', linkParams: {gibush_id: this.gibushDetails.pk, gibush_title: this.gibushDetails.title}},
        {title: 'מועמדים', icon: 'candidates-1', linkName: 'ParticipantsList', linkParams: {gibush_id: this.gibushId}},
        {title: 'הדחות', icon: 'logout', linkName: 'RetiredParticipantList', linkParams: {gibush_id: this.gibushId}},
        {title: 'סטטיסטיקות', icon: 'stats', soon: true}]
    },
    gibushId () {
      return this.gibushDetails.pk
    }
  },
  methods: {
    importGibush () {
      if (this.fileGibush) {
        this.notSent = false
        let formData = new FormData()
        formData.append('json_file', this.fileGibush)
        axios.post(`${process.env.ROOT_API}/import_gibush/`, formData, {
          headers: {'Content-Type': 'multipart/form-data'}
        })
          .then(response => {
            if (response.status === httpStatusCodes.CREATED) {
              this.notSent = true
              this.fileGibush = null
              alert('תהליך הייבוא הושלם בהצלחה!')
            }
          })
          .catch(error => {
            this.notSent = true
            this.fileGibush = null
            alert(error)
          })
      }
    },
    exportparticipant () {
      axios({
        url: `${process.env.ROOT_API}/export_gibush/?gibush=${this.gibushId}`,
        method: 'GET',
        responseType: 'blob'
      }).then(response => {
        var newBlob = new Blob([response.data])
        if (window.navigator && window.navigator.msSaveOrOpenBlob) {
          window.navigator.msSaveOrOpenBlob(newBlob)
          return
        }
        const data = window.URL.createObjectURL(newBlob)
        var link = document.createElement('a')
        link.href = data
        link.download = 'gibush.json'
        link.click()
      })
        .catch(error => {
          alert(error)
        })
    }
  }
}

</script>

<style scoped>
  h1 {
    margin: 30px;
  }
  .dashboard {
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .opacity-8{
    opacity: 0.8;
  }
  #export-gibush{
  left: 5%;
  position: absolute;
}
</style>
