<template>
<!-- shows all the gibushim in the database -->
  <div>
    <b-row>
      <b-col cols="6">
        <h2 class="text-right opacity-8"><strong>גיבושים</strong></h2>
      </b-col>
      <b-col><h5 class="float-left">ייבוא גיבוש:</h5></b-col>
      <b-col>
        <b-form-file class="float-right"
          size="sm"
          accept=".json"
          v-model="fileGibush"
          :state="Boolean(fileGibush)"
          placeholder="Choose a file or drop it here..."
          drop-placeholder="Drop file here..."
        ></b-form-file>
      </b-col>
      <b-col v-if="Boolean(fileGibush)">
        <b-button v-if="notSent" @click="importGibush" variant="primary" pill class="float-right">ייבא</b-button>
        <b-spinner v-else variant="primary"></b-spinner>
      </b-col>
      <b-col>
        <b-button id='export-gibush' variant="dark" :pill="true" @click="exportGibush">ייצוא גיבוש</b-button>
    </b-col>
    </b-row>
    <div class="dashboard">
      <box
        title=""
        icon="plus"
        linkName="AddGibush"
      />
      <box
        v-for="gibush of gibushim"
        :key="gibush.pk" :title="gibush.title" :params="gibush" icon="tent"
        linkName="Gibush" :linkParams="{id: gibush.pk, gibushDetails: gibush}"
      />
    </div>
  </div>
</template>

<script>
import Box from '../../components/Box/Box'
import axios from 'axios'
import httpStatusCodes from '../../models/status-codes'

export default {
  name: 'Gibushim',
  components: {Box},
  data () {
    return {
      fileGibush: null,
      gibushim: [],
      notSent: true
    }
  },
  methods: {
    importGibush () {
      if (this.fileGibush) {
        this.notSent = false
        let formData = new FormData()
        formData.append('json_file', this.fileGibush)
        axios.post(`${process.env.BASIC_API}/route/soldiers/import_gibush/`, formData, {
          headers: {'Content-Type': 'multipart/form-data'}
        })
          .then(response => {
            if (response.status === httpStatusCodes.CREATED) {
              this.notSent = true
              this.fileGibush = null
              alert('תהליך הייבוא הושלם בהצלחה!')
            }
          })
          .catch(error => {
            this.notSent = true
            this.fileGibush = null
            alert(error)
          })
      }
    },
    exportGibush() {
      axios({
        url: `${process.env.BASIC_API}/route/soldiers/export_gibush/?gibush=${this.gibushim[this.gibushim.length - 1].pk}`,
        method: 'GET',
        responseType: 'blob'
      }).then(response => {
        var newBlob = new Blob([response.data])
        if (window.navigator && window.navigator.msSaveOrOpenBlob) {
          window.navigator.msSaveOrOpenBlob(newBlob)
          return
        }
        const data = window.URL.createObjectURL(newBlob)
        var link = document.createElement('a')
        link.href = data
        link.download = 'gibush-for-shetach.json'
        link.click()
      })
        .catch(error => {
          alert(error)
        })
    }
  },
  created () {
    // gets all the gibushim
    axios.get(`${process.env.ROOT_API}/gibush/`, {})
      .then((response) => {
        for (var gibush in response.data) {
          this.gibushim.push(response.data[gibush])
        }
      })
      .catch(function (error) {
        console.log(error)
      })
  }

}
</script>

<style scoped>
  h1 {
    margin: 30px;
  }
  .dashboard {
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .opacity-8{
    opacity: 0.8;
  }
</style>
