<template>
  <!-- the menu bar on side -->
  <div class="main-menu">
    <b-nav vertical class="w-25" style="position: absolute;">
      <b-nav-item
        v-for="(item, index) of topItems"
        :key="index"
        @click="tryRouting(item.linkName, item.linkParams)"
      >
        <i class="fa">
          <img :src="iconPath(item.img_src)" :width="imgWidth" :height="imgHeight" />
        </i>
        <span class="nav-text" v-text="item.label"></span>
      </b-nav-item>
    </b-nav>
    <b-nav vertical class="w-25 logout" style="position: absolute;">
      <b-nav-item
        v-for="(item, index) of bottomItems"
        :key="index"
        :to="{ path: item.path}"
        @click="goBack(item.special)"
      >
        <i class="fa">
          <img :src="iconPath(item.img_src)" :width="imgWidth" :height="imgHeight" />
        </i>
        <span class="nav-text"></span>
      </b-nav-item>
    </b-nav>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "MenuBar",
  data() {
    return {
      gibushDetails: [],
      imgWidth: "20px",
      imgHeight: "20px",
    };
  },
  computed: {
    // returns the items for top part of menu and bottom
    topItems() {
      return [
        { linkName: "Main", img_src: "home", label: "דף בית" },
        {
          linkName: "Gibushim",
          img_src: "human-resources@2x",
          label: "גיבושים",
        },
        {
          linkName: "Teams",
          img_src: "network@2x",
          label: "צוותים",
        },
        {
          linkName: "AssessorList",
          img_src: "angel@2x",
          linkParams: { gibush_id: null },
          label: "מגבשים",
        },
        {
          linkName: "FieldDays",
          img_src: "tent@2x",
          label: "ימי שדה",
        },
      ];
    },
    bottomItems() {
      return [
        { path: "/", img_src: "full" },
        { img_src: "arrows", special: this.goBack },
        { path: "/dummy", img_src: "user" },
      ];
    },
  },
  created() {
    this.getDetails();
  },
  methods: {
    tryRouting(linkName, linkParams) {
      // routes to chosen page
      if (linkName) {
        this.$router.push({ name: linkName, params: linkParams });
      } else {
        alert("No link specified");
      }
    },
    getDetails() {
      // gets the gibush details for the route
      axios
        .get(`${process.env.ROOT_API}/gibush/1`, {})
        .then((response) => {
          this.gibushDetails = response.data;
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    goBack(see) {
      // go back a page
      if (see) {
        this.$router.go(-1);
      }
    },
    iconPath(imgSource) {
      // picture for the menu bar
      if (!imgSource) {
        return null;
      }
      return require("../../assets/" + imgSource + ".png");
    },
  },
};
</script>

<style>
div {
  direction: rtl;
}
ul {
  list-style-type: none;
  padding: 0;
}

.main-menu:hover,
div.main-menu.expanded {
  width: 250px;
  overflow: hidden;
  opacity: 1;
}

.main-menu:hover ~ #main {
  padding-right: 200px;
}

.main-menu {
  background: #292f4c;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  right: 0;
  direction: rtl;
  width: 55px;
  overflow: hidden;
  transition: width 0.2s linear;
  -webkit-transition: width 0.2s linear;
  transform: translateZ(0) scale(1, 1);
  -webkit-transform: translateZ(0) scale(1, 1);
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity: 1;
  z-index: 2;
}

.main-menu > ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li > a {
  position: relative;
  width: 255px;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #ffffff;
  font-size: 13px;
  text-decoration: none;
  transform: translateZ(0) scale(1, 1);
  -webkit-transform: translateZ(0) scale(1, 1);
  transition: all 0.14s linear;
  -webkit-transition: all 0.14s linear;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
}

a:hover,
a:focus {
  text-decoration: none;
  border-left: 0px solid #f7f7f7;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.main-menu li:hover > a,
nav.main-menu li.active > a,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #00bbbb;
  text-shadow: 0px 0px 0px;
}

.fa {
  position: relative;
  display: table-cell;
  width: 55px;
  height: 36px;
  text-align: center;
  top: 9px;
}

ul.logout {
  position: absolute;
  bottom: 0;
}
</style>
