<template>
  <div>
    <b-row id="title-all">
      <b-col cols="7">
        <h2 class="text-right opacity-8">
          <strong>מערכת ניהול גיבושים</strong>
        </h2>
      </b-col>
    </b-row>
    <div class="dashboard">
      <box
        v-for="item of items"
        :key="item.i"
        :soon="item.soon"
        :title="item.title"
        :params="item"
        :icon="item.icon"
        :linkName="item.linkName"
      ></box>
    </div>
  </div>
</template>

<script>
import Box from "../../components/Box/Box";
export default {
  name: "Main",
  components: { Box },
  data() {
    return {
      items: [
        {
          i: 1,
          title: "גיבושים",
          icon: "human-resources@2x",
          linkName: "Gibushim",
        },
        { i: 2, title: "צוותים", icon: "network@2x", linkName: "Teams" },
        {
          i: 3,
          title: "מגבשים",
          icon: "angel@2x",
          linkName: "AssessorList",
          linkParams: { gibush_id: null },
        },
        { i: 4, title: "ימי שדה", icon: "tent@2x", linkName: "FieldDays" },
        { i: 5, title: "סטטיסטיקות", icon: "stats", soon: true },
        { i: 6, title: "משתמשים", icon: "user-10", soon: true },
      ],
    };
  },
};
</script>

<style scoped>
h1 {
  margin: 30px;
}
.dashboard {
  text-align: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.opacity-8 {
  opacity: 0.8;
}
</style>
