<template>
<!-- the profile of particpant. has all data -->
  <div>
    <web-cam :insideProfile="true" v-on:Cancel="showCam = false" v-on:CloseCam="showCam = false; $router.go(0)" :soldierId="soldierId" :myunId="gibushId" :trigger="showCam" :identityNumber="identityNumber"></web-cam>
    <b-row style="padding-top: 10px; margin: 0;" align-v="stretch">
      <b-col style="margin: 0; padding: 0" cols="3">
        <div class="border-slant">
        <b-row v-if="picExist">
          <b-col>
          <b-button size="sm" @click="showCam = true" id="snap-again" variant="outline-dark"><b-icon icon="camera"></b-icon></b-button>
          <img id="profile-image" :src="`${serverPath}${profilePic}`">
          </b-col>
        </b-row>
        <b-row v-else class="border-bottom" style="margin-right: 0px;" id="profile-image">
          <b-col>
            <b-button pill @click="showCam = true" variant="primary" size="lg" style="margin-top: 40%;"><b-icon icon="camera"></b-icon></b-button>
          </b-col>
        </b-row>
        <b-row>
            <b-col>
              <h4 style="opacity: 0.8" class="text-center">{{participantDetails.participant.first_name}} {{participantDetails.participant.last_name}}</h4>
            </b-col>
        </b-row>
        </div>
        <b-row class="border-slant" style="margin-right: 0; margin-left: 0; margin-top: 7px;">
          <b-col>
            <b-row>
              <b-col>התאמה ליחידות</b-col>
              <br>
            </b-row>
            <b-row>
                <b-form-checkbox-group id="checkbox-group-1"  name="flavour-1">
                  <b-form-checkbox :disabled=true v-model="participantDetails.fit_matkal">מטכל</b-form-checkbox>
                  <b-form-checkbox :disabled=true v-model="participantDetails.fit_tzolelot">צוללות</b-form-checkbox>
                  <b-form-checkbox :disabled=true v-model="participantDetails.fit_shayetet">שייטת</b-form-checkbox>
                  <b-form-checkbox :disabled=true v-model="participantDetails.fit_hovlim">חובלים</b-form-checkbox>
                </b-form-checkbox-group>
            </b-row>
          </b-col>
        </b-row>
      </b-col>
      <b-col cols="7">
        <div class="border-slant">
          <b-row align-v="stretch">
            <b-col cols="1"></b-col>
            <b-col cols="10">
                <field-day-profile-details :stage="'א'" :details="fieldDayDetails"></field-day-profile-details>
            </b-col>
          </b-row>
        </div>
      </b-col>
      <b-col>
        <b-row class="border-slant" align-v="stretch">
          <b-col cols="12">
              <personal-details :personalDetails="personalDetails" />
          </b-col>
          </b-row>
      </b-col>
    </b-row>
    <router-view></router-view>
  </div>
</template>

<script>
import axios from 'axios'
import FieldDayProfileDetails from '../../../components/FieldDayProfileDetails'
import PersonalDetails from '../../../components/PersonalDetails'
import RetireModal from '../../../components/RetireModal'
import httpStatusCodes from '../../../models/status-codes'
import WebCam from '../../../components/WebCam'
import AddParticipantModal from '../../../components/AddParticipantModal'

export default {
  name: 'FieldDaySoldierProfile',
  components: {PersonalDetails, FieldDayProfileDetails, RetireModal, WebCam, AddParticipantModal},
  props: {
    title: String
  },
  data () {
    return {
      editFields: {
        firstName: {key: 'שם פרטי', type: 'text', value: null, state: null, isMandatory: true},
        lastName: {key: 'שם משפחה', type: 'text', value: null, state: null, isMandatory: true},
        id: {key: 'תעודת זהות', type: 'number', value: null, state: null, isMandatory: true},
        pa: {key: 'מספר אישי', type: 'number', value: null, state: null, isMandatory: false},
        birthDate: {key: 'תאריך לידה', type: 'date', value: null, state: null, isMandatory: false},
        firstPhone: {key: 'טלפון ראשון', type: 'number', value: null, state: null, isMandatory: true},
        secondPhone: {key: 'טלפון שני', type: 'number', value: null, state: null, isMandatory: false},
        thirdPhone: {key: 'טלפון שלישי', type: 'number', value: null, state: null, isMandatory: false},
        address: {key: 'כתובת', type: 'text', value: null, state: null, isMandatory: true},
        status: {key: 'סטאטוס מלש"ב', type: 'text', value: null, state: null, isMandatory: false},
        kaba: {key: 'קבא', type: 'number', value: null, state: null, isMandatory: false},
        dapar: {key: 'דפר', type: 'number', value: null, state: null, isMandatory: false},
        profile: {key: 'פרופיל רפואי', type: 'number', value: null, state: null, isMandatory: false},
        tzadach: {key: 'צדח', type: 'number', value: null, state: null, isMandatory: false}
      },
      editBoolFields: {
        newImm: {key: 'עולה חדש?', type: 'text', value: false, state: null, isMandatory: false},
        medic: {key: 'סעיף רפואי מכשיל?', type: 'switch', value: false, state: null, isMandatory: false}
      },
      showAddParticipant: false,
      retirePart: false,
      numToString: {
        1: 'first_stage_group',
        2: 'second_stage_group'
      },
      picExist: false,
      selectedStage: 0,
      selectedGroup: 0,
      identityNumber: null,
      profilePic: null,
      optionsStage: [
        {value: 0, text: 'בחר שלב'},
        {value: 1, text: "שלב א'"},
        {value: 2, text: "שלב ב'"}

      ],
      showModal: false,
      participantDetails: {},
      personalDetails: [],
      fieldDayDetails: [],
      secondStageDetails: [],
      team: {},
      commanderAssessment: [],
      secondStageAssessors: [],
      gibush: Number,
      boolToYesNo: {
        true: 'כן',
        false: 'לא'
      },
      finalGrade: '',
      finalRanking: '',
      gibushId: '',
      options1: '',
      options2: '',
      blankOptions: [{value: '0', text: 'בחר קבוצה'}],
      soldierId: '',
      badInput: '',
      serverPath: process.env.ROOT_API,
      showCam: false
    }
  },
  created () {
    this.fetchParticipantData()
  },
  watch: {
    $route (to, from) {
      this.fetchParticipantData()
    }
  },
  methods: {
    showAddParticipantModal () {
      // edit info about person
      this.editFields = {
        firstName: {key: 'שם פרטי', type: 'text', value: null, state: null, isMandatory: true},
        lastName: {key: 'שם משפחה', type: 'text', value: null, state: null, isMandatory: true},
        id: {key: 'תעודת זהות', type: 'number', value: null, state: null, isMandatory: true},
        pa: {key: 'מספר אישי', type: 'number', value: null, state: null, isMandatory: false},
        birthDate: {key: 'תאריך לידה', type: 'date', value: null, state: null, isMandatory: false},
        firstPhone: {key: 'טלפון ראשון', type: 'number', value: null, state: null, isMandatory: true},
        secondPhone: {key: 'טלפון שני', type: 'number', value: null, state: null, isMandatory: false},
        thirdPhone: {key: 'טלפון שלישי', type: 'number', value: null, state: null, isMandatory: false},
        address: {key: 'כתובת', type: 'text', value: null, state: null, isMandatory: true},
        status: {key: 'סטאטוס גיוס', type: 'text', value: null, state: null, isMandatory: false},
        kaba: {key: 'קבא', type: 'number', value: null, state: null, isMandatory: false},
        dapar: {key: 'דפר', type: 'number', value: null, state: null, isMandatory: false},
        profile: {key: 'פרופיל רפואי', type: 'number', value: null, state: null, isMandatory: false},
        tzadach: {key: 'צדח', type: 'number', value: null, state: null, isMandatory: false}
      }
      this.editBoolFields = {
        newImm: {key: 'עולה חדש?', type: 'text', value: false, state: null, isMandatory: false},
        medic: {key: 'סעיף רפואי מכשיל?', type: 'switch', value: false, state: null, isMandatory: false}
      }
      axios.get(`${process.env.ROOT_API}/participent_profile/?myun_id=${this.$route.params.gibush_id}&id=${this.$route.params.id}`)
        .then(response => {
          if (response.status === httpStatusCodes.OK && response.data && response.data[0]) {
            const participantDetails = response.data[0].participant
            this.editFields.firstName.value = participantDetails.first_name
            this.editFields.lastName.value = participantDetails.last_name
            this.editFields.pa.value = participantDetails.personal_number
            if (participantDetails.birth_date) {
              this.editFields.birthDate.value = participantDetails.birth_date.split('/').reverse().join('-')
            }
            this.editFields.firstPhone.value = participantDetails.first_phone
            this.editFields.secondPhone.value = participantDetails.second_phone
            this.editFields.thirdPhone.value = participantDetails.third_phone
            this.editFields.address.value = participantDetails.address
            this.editFields.status.value = participantDetails.enlistment_status
            this.editFields.kaba.value = participantDetails.kabha
            this.editFields.dapar.value = participantDetails.dapar
            this.editFields.id.value = participantDetails.identity_number
            this.editFields.tzadach.value = participantDetails.tzadach
            this.editBoolFields.newImm.value = participantDetails.is_new_immigrant
            this.editBoolFields.medic.value = participantDetails.disqualifying_medical_trait
          }
        })
        .catch(error => {
          console.log(error)
        })
      this.showAddParticipant = true
    },
    fetchParticipantData () {
      // gets all data on participant
      axios.get(`${process.env.BASIC_API}/fieldday/fieldday_stats/?field_day=${this.$route.params.field_day}&id=${Number(this.$route.params.id)}`, {})
        .then((response) => {
          console.log(response.data)
          this.participantDetails = response.data
          this.soldierId = response.data.id
          let temp = this.participantDetails
          this.profilePic = temp.participant.pic
          axios.get(`${process.env.ROOT_API}${this.profilePic}`)
            .then((response) => {
              this.picExist = true
            })
            .catch(error => {
              console.log(error)
              this.picExist = false
            })
          this.gibushId = temp.myun_id
          this.fieldDayDetails.push({
            'group_number': temp.group_number,
            'first_assessor': temp.first_assessor,
            'second_assessor': temp.second_assessor,
            'first_assessor_grade': temp.first_assessor_grade,
            'second_assessor_grade': temp.second_assessor_grade,
            'baror_grade': temp.baror_grade,
            'sozio_grade': temp.sozio_grade,
            'praiority_matkal': temp.praiority_matkal,
            'praiority_hovlim': temp.praiority_hovlim,
            'praiority_shayetet': temp.praiority_shayetet,
            'retirement': temp.retirement,
            'retirement_reason': temp.retirement_reason,
          })
          this.finalGrade = temp.final_grade
          this.finalRanking = temp.final_Ranking
          this.identityNumber = temp.participant.identity_number
          this.team = temp.team
          this.personalDetails.push({
            'identity_number': temp.participant.identity_number,
            'personal_number': temp.participant.personal_number,
            'birth_date': temp.participant.birth_date,
            'address': temp.participant.address,
            'is_new_immigrant': this.boolToYesNo[temp.participant.is_new_immigrant],
            'kabha': temp.participant.kabha,
            'dapar': temp.participant.dapar,
            'tzadach': temp.participant.tzadach,
            'medical_profile': temp.participant.medical_profile,
            'disqualifying_medical_trait': this.boolToYesNo[temp.participant.disqualifying_medical_trait]})
          this.commanderAssessment = temp.commander_assessment
        })
        .catch(function (error) {
          console.log(error)
        })
    }
  },
}

</script>

<style scoped>
.border-slant{
  border: #2c3e50 1px solid;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
#profile-pic{
  width: 100%;
  height: 250px;
  border: #2c3e50 1px solid;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
#snap-again{
  border: #2c3e50 1px solid;
  border-radius: 10px;
  right: 14px;
  top: 0%;
  position: absolute;
}
#profile-image{
  width: 100%;
  height: 250px;
  border: #2c3e50 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
  #bad-input {
    color: red;
  }
  .modal-text{
    font-size: 20px;
  }
  #retire{
    margin-right: 3%;
  }
  .buttons-prof{
    margin-bottom: 3%;
  }
  #final-stats{
    margin-right: 30%;
    position: absolute;
    width: 15%;
  }
  .final-grade{
    font-weight: bold;
    text-decoration: underline;
    font-size: 30px;
  }
  .opacity-8{
    opacity: 0.8;
  }
</style>
