<template>
  <div>
    <add-participant-modal v-on:finishAddParticipant="showAddParticipant = false" :update="true" :trigger="showAddParticipant" :fields="editFields" :boolFields="editBoolFields" :edit="true" :id="$route.params.id" ></add-participant-modal>
        <b-row class="border-bottom">
          <b-col cols="7">
            <h2 class="text-right opacity-8"><strong>פרופיל מועמד</strong></h2>
          </b-col>
        </b-row>
        <b-col cols="7"></b-col>
        <b-col cols="2">

        </b-col>
      </b-row>
      <br>
    <main>
      <b-row>
        <b-col cols=10>
          <b-nav class="nav-tabs">
              <b-nav-item  v-for="page in pages" :key="page.title" v-bind:active="tab === page.id" v-on:click="tab = page.id, $router.replace({ name: page.href, params: {'id': $route.params.id, [page.attribute_name]: Number(page.value)}})">
                {{page.title}}
              </b-nav-item>
          </b-nav>
        </b-col>
        <b-col>
          <b-button class="no-padding float-right" pill variant="dark" @click="showAddParticipantModal()">ערוך נתונים</b-button>
        </b-col>
      </b-row>
    </main>
      <router-view></router-view>
  </div>
</template>

<script>
import axios from 'axios'
import Header from '../../../components/Core/Header'
import SubHeader from '../../../components/Core/SubHeader'
import WebCam from '../../../components/WebCam'
import ParticipantProfileVue from '../ParticipantProfile.vue'
import AddParticipantModal from '../../../components/AddParticipantModal'

export default {
  name: 'FullParticipantProfile',
  components: {WebCam, Header, SubHeader, AddParticipantModal},
  data () {
    return {
      gibushId: '',
      retirePart: false,
      participantDetails: {},
      editFields: {
        firstName: {key: 'שם פרטי', type: 'text', value: null, state: null, isMandatory: true},
        lastName: {key: 'שם משפחה', type: 'text', value: null, state: null, isMandatory: true},
        id: {key: 'תעודת זהות', type: 'number', value: null, state: null, isMandatory: true},
        pa: {key: 'מספר אישי', type: 'number', value: null, state: null, isMandatory: false},
        birthDate: {key: 'תאריך לידה', type: 'date', value: null, state: null, isMandatory: false},
        firstPhone: {key: 'טלפון ראשון', type: 'number', value: null, state: null, isMandatory: true},
        secondPhone: {key: 'טלפון שני', type: 'number', value: null, state: null, isMandatory: false},
        thirdPhone: {key: 'טלפון שלישי', type: 'number', value: null, state: null, isMandatory: false},
        address: {key: 'כתובת', type: 'text', value: null, state: null, isMandatory: true},
        status: {key: 'סטאטוס מלש"ב', type: 'text', value: null, state: null, isMandatory: false},
        kaba: {key: 'קבא', type: 'number', value: null, state: null, isMandatory: false},
        dapar: {key: 'דפר', type: 'number', value: null, state: null, isMandatory: false},
        profile: {key: 'פרופיל רפואי', type: 'number', value: null, state: null, isMandatory: false},
        tzadach: {key: 'צדח', type: 'number', value: null, state: null, isMandatory: false}
      },
      editBoolFields: {
        newImm: {key: 'עולה חדש?', type: 'text', value: false, state: null, isMandatory: false},
        medic: {key: 'סעיף רפואי מכשיל?', type: 'switch', value: false, state: null, isMandatory: false}
      },
      pages: [],
      showAddParticipant: false,
      tab: 1
    }
  },
  created () {
    this.getTabs()
  },
  methods: {
    showAddParticipantModal () {
      // edit info about person
      this.editFields = {
        firstName: {key: 'שם פרטי', type: 'text', value: null, state: null, isMandatory: true},
        lastName: {key: 'שם משפחה', type: 'text', value: null, state: null, isMandatory: true},
        id: {key: 'תעודת זהות', type: 'number', value: null, state: null, isMandatory: true},
        pa: {key: 'מספר אישי', type: 'number', value: null, state: null, isMandatory: false},
        birthDate: {key: 'תאריך לידה', type: 'date', value: null, state: null, isMandatory: false},
        firstPhone: {key: 'טלפון ראשון', type: 'number', value: null, state: null, isMandatory: true},
        secondPhone: {key: 'טלפון שני', type: 'number', value: null, state: null, isMandatory: false},
        thirdPhone: {key: 'טלפון שלישי', type: 'number', value: null, state: null, isMandatory: false},
        address: {key: 'כתובת', type: 'text', value: null, state: null, isMandatory: true},
        status: {key: 'סטאטוס גיוס', type: 'text', value: null, state: null, isMandatory: false},
        kaba: {key: 'קבא', type: 'number', value: null, state: null, isMandatory: false},
        dapar: {key: 'דפר', type: 'number', value: null, state: null, isMandatory: false},
        profile: {key: 'פרופיל רפואי', type: 'number', value: null, state: null, isMandatory: false},
        tzadach: {key: 'צדח', type: 'number', value: null, state: null, isMandatory: false}
      }
      this.editBoolFields = {
        newImm: {key: 'עולה חדש?', type: 'text', value: false, state: null, isMandatory: false},
        medic: {key: 'סעיף רפואי מכשיל?', type: 'switch', value: false, state: null, isMandatory: false}
      }
      axios.get(`${process.env.ROOT_API}/participent_properties/${this.$route.params.id}`)
        .then(response => {
          if (response.data) {
            const participantDetails = response.data
            this.editFields.firstName.value = participantDetails.first_name
            this.editFields.lastName.value = participantDetails.last_name
            this.editFields.pa.value = participantDetails.personal_number
            if (participantDetails.birth_date) {
              this.editFields.birthDate.value = participantDetails.birth_date.split('/').reverse().join('-')
            }
            this.editFields.firstPhone.value = participantDetails.first_phone
            this.editFields.secondPhone.value = participantDetails.second_phone
            this.editFields.thirdPhone.value = participantDetails.third_phone
            this.editFields.address.value = participantDetails.address
            this.editFields.status.value = participantDetails.enlistment_status
            this.editFields.kaba.value = participantDetails.kabha
            this.editFields.dapar.value = participantDetails.dapar
            this.editFields.id.value = participantDetails.identity_number
            this.editFields.tzadach.value = participantDetails.tzadach
            this.editBoolFields.newImm.value = participantDetails.is_new_immigrant
            this.editBoolFields.medic.value = participantDetails.disqualifying_medical_trait
          }
        })
        .catch(error => {
          console.log(error)
        })
      this.showAddParticipant = true
    },
    getTabs () {
      axios.get(`${process.env.BASIC_API}/route/soldiers/associated_models/?id=${Number(this.$route.params.id)}`, {})
        .then((response) => {
          let count = 0
          for (let tab of response.data) {
            let page_dict = {}
            let attribute_name = tab.attribute
            if (attribute_name === 'myun_id') {
              let id = count + 1
              page_dict.value = tab.value
              page_dict.attribute_name = 'gibush_id'
              page_dict.id = id
              page_dict.href = 'ParticipantProfile1'
              page_dict.title = `מיון ${id}`
              count += 1
            } else if (attribute_name === 'team_id') {
              let id = count + 1
              page_dict.value = tab.value
              page_dict.attribute_name = attribute_name
              page_dict.id = id
              page_dict.href = 'RouteSoldierProfile'
              page_dict.title = `מסלול ${id}`
              count += 1
            } else if (attribute_name === 'field_day') {
              let id = count + 1
              page_dict.value = tab.value
              page_dict.attribute_name = attribute_name
              page_dict.id = id
              page_dict.href = 'FieldDayProfile'
              page_dict.title = `יום סיירות ${id}`
              count += 1
            }
            this.pages.push(page_dict)
          }
          console.log(this.pages)
          this.$router.replace({name: this.pages[0].href, params: {'id': this.$route.params.id, [this.pages[0].attribute_name]: Number(this.pages[0].value)}})
        })
    }
  }
}

</script>
