<template>
<!-- the profile of particpant. has all data -->
  <div>
    <web-cam :insideProfile="true" v-on:Cancel="showCam = false" v-on:CloseCam="showCam = false; $router.go(0)" :soldierId="soldierId" :myunId="gibushId" :trigger="showCam" :identityNumber="identityNumber"></web-cam>
    <b-row style="padding-top: 10px; margin: 0;" align-v="stretch">
      <b-col style="margin: 0; padding: 0" cols="3">
        <div class="border-slant">
        <b-row v-if="picExist">
          <b-col>
          <b-button size="sm" @click="showCam = true" id="snap-again" variant="outline-dark"><b-icon icon="camera"></b-icon></b-button>
          <img id="profile-image" :src="`${serverPath}${profilePic}`">
          </b-col>
        </b-row>
        <b-row v-else class="border-bottom" style="margin-right: 0px;" id="profile-image">
          <b-col>
            <b-button pill @click="showCam = true" variant="primary" size="lg" style="margin-top: 40%;"><b-icon icon="camera"></b-icon></b-button>
          </b-col>
        </b-row>
        <b-row>
            <b-col>
              <h4 style="opacity: 0.8" class="text-center">{{participantDetails.soldier.first_name}} {{participantDetails.soldier.last_name}}</h4>
            </b-col>
        </b-row>
        </div>
        <b-row class="border-slant" style="margin-right: 0; margin-left: 0; margin-top: 7px;">
          <b-col>
            <b-row>
              <b-col>דירוגים סופי</b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-row>
                  <b-col>
                    <p style="font-size: 11px; opacity: 0.8; padding: 0; margin: 0;">התאמה לפיקוד</p>
                  </b-col>
                </b-row>
                <b-row>
                <b-col>
                  <p class="border rounded-pill">{{fitCommanderRanking}}</p>
                </b-col>
                </b-row>
              </b-col>
              <b-col>
                <b-row>
                  <b-col>
                    <p style="font-size: 11px; opacity: 0.8; padding: 0; margin: 0;">סוציומטרי</p>
                  </b-col>
                </b-row>
                <b-row>
                <b-col>
                  <p class="border rounded-pill">{{sozioRanking}}</p>
                </b-col>
                </b-row>
              </b-col>
              <b-col>
                <b-row>
                  <b-col>
                    <p style="font-size: 11px; opacity: 0.8; padding: 0; margin: 0;">חברתיות</p>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col>
                    <p class="border rounded-pill">{{friendShipRanking}}</p>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-row>
                  <b-col>
                    <p style="font-size: 11px; opacity: 0.8; padding: 0; margin: 0;">אמינות</p>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col>
                    <p class="border rounded-pill">{{trustworthyRanking}}</p>
                  </b-col>
                </b-row>
              </b-col>
              <b-col>
                <b-row>
                  <b-col>
                    <p style="font-size: 11px; opacity: 0.8; padding: 0; margin: 0;">התמודדות בלחץ</p>
                  </b-col>
                </b-row>
                <b-row>
                <b-col>
                  <p class="border rounded-pill">{{stressRanking}}</p>
                </b-col>
                </b-row>
              </b-col>
              <b-col>
                <b-row>
                  <b-col>
                    <p style="font-size: 11px; opacity: 0.8; padding: 0; margin: 0;">חוסר התאמה</p>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col>
                    <p class="border rounded-pill">{{notMatchRanking}}</p>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-col>
      <b-col cols="7">
        <div class="border-slant">
          <b-row align-v="stretch">
            <b-col cols="1"></b-col>
            <b-col v-if="routeDetails" cols="10">
                <route-profile-details :stage="'א'" :details="routeDetails" :assessors="commanderAssessment" :team=team></route-profile-details>
            </b-col>
          </b-row>
        </div>
      </b-col>
      <b-col>
        <b-row class="border-slant" align-v="stretch">
          <b-col cols="12">
              <personal-details :personalDetails="personalDetails" />
          </b-col>
          </b-row>
      </b-col>
    </b-row>
    <router-view></router-view>
  </div>
</template>

<script>
import axios from 'axios'
import RouteProfileDetails from '../../../components/RouteProfileDetails'
import PersonalDetails from '../../../components/PersonalDetails'
import RetireModal from '../../../components/RetireModal'
import httpStatusCodes from '../../../models/status-codes'
import WebCam from '../../../components/WebCam'
import AddParticipantModal from '../../../components/AddParticipantModal'

export default {
  name: 'RouteSoldierProfile',
  components: {PersonalDetails, RouteProfileDetails, RetireModal, WebCam, AddParticipantModal},
  props: {
    title: String
  },
  data () {
    return {
      editFields: {
        firstName: {key: 'שם פרטי', type: 'text', value: null, state: null, isMandatory: true},
        lastName: {key: 'שם משפחה', type: 'text', value: null, state: null, isMandatory: true},
        id: {key: 'תעודת זהות', type: 'number', value: null, state: null, isMandatory: true},
        pa: {key: 'מספר אישי', type: 'number', value: null, state: null, isMandatory: false},
        birthDate: {key: 'תאריך לידה', type: 'date', value: null, state: null, isMandatory: false},
        firstPhone: {key: 'טלפון ראשון', type: 'number', value: null, state: null, isMandatory: true},
        secondPhone: {key: 'טלפון שני', type: 'number', value: null, state: null, isMandatory: false},
        thirdPhone: {key: 'טלפון שלישי', type: 'number', value: null, state: null, isMandatory: false},
        address: {key: 'כתובת', type: 'text', value: null, state: null, isMandatory: true},
        status: {key: 'סטאטוס מלש"ב', type: 'text', value: null, state: null, isMandatory: false},
        kaba: {key: 'קבא', type: 'number', value: null, state: null, isMandatory: false},
        dapar: {key: 'דפר', type: 'number', value: null, state: null, isMandatory: false},
        profile: {key: 'פרופיל רפואי', type: 'number', value: null, state: null, isMandatory: false},
        tzadach: {key: 'צדח', type: 'number', value: null, state: null, isMandatory: false}
      },
      editBoolFields: {
        newImm: {key: 'עולה חדש?', type: 'text', value: false, state: null, isMandatory: false},
        medic: {key: 'סעיף רפואי מכשיל?', type: 'switch', value: false, state: null, isMandatory: false}
      },
      showAddParticipant: false,
      retirePart: false,
      numToString: {
        1: 'first_stage_group',
        2: 'second_stage_group'
      },
      picExist: false,
      selectedStage: 0,
      selectedGroup: 0,
      identityNumber: null,
      profilePic: null,
      optionsStage: [
        {value: 0, text: 'בחר שלב'},
        {value: 1, text: "שלב א'"},
        {value: 2, text: "שלב ב'"}

      ],
      showModal: false,
      participantDetails: {},
      personalDetails: [],
      routeDetails: [],
      secondStageDetails: [],
      team: {},
      commanderAssessment: [],
      secondStageAssessors: [],
      gibush: Number,
      boolToYesNo: {
        true: 'כן',
        false: 'לא'
      },
      finalGrade: '',
      finalRanking: '',
      gibushId: '',
      options1: '',
      options2: '',
      blankOptions: [{value: '0', text: 'בחר קבוצה'}],
      soldierId: '',
      badInput: '',
      serverPath: process.env.ROOT_API,
      showCam: false
    }
  },
  created () {
    this.fetchParticipantData()
  },
  watch: {
    $route (to, from) {
      this.fetchParticipantData()
    }
  },
  methods: {
    showAddParticipantModal () {
      // edit info about person
      this.editFields = {
        firstName: {key: 'שם פרטי', type: 'text', value: null, state: null, isMandatory: true},
        lastName: {key: 'שם משפחה', type: 'text', value: null, state: null, isMandatory: true},
        id: {key: 'תעודת זהות', type: 'number', value: null, state: null, isMandatory: true},
        pa: {key: 'מספר אישי', type: 'number', value: null, state: null, isMandatory: false},
        birthDate: {key: 'תאריך לידה', type: 'date', value: null, state: null, isMandatory: false},
        firstPhone: {key: 'טלפון ראשון', type: 'number', value: null, state: null, isMandatory: true},
        secondPhone: {key: 'טלפון שני', type: 'number', value: null, state: null, isMandatory: false},
        thirdPhone: {key: 'טלפון שלישי', type: 'number', value: null, state: null, isMandatory: false},
        address: {key: 'כתובת', type: 'text', value: null, state: null, isMandatory: true},
        status: {key: 'סטאטוס גיוס', type: 'text', value: null, state: null, isMandatory: false},
        kaba: {key: 'קבא', type: 'number', value: null, state: null, isMandatory: false},
        dapar: {key: 'דפר', type: 'number', value: null, state: null, isMandatory: false},
        profile: {key: 'פרופיל רפואי', type: 'number', value: null, state: null, isMandatory: false},
        tzadach: {key: 'צדח', type: 'number', value: null, state: null, isMandatory: false}
      }
      this.editBoolFields = {
        newImm: {key: 'עולה חדש?', type: 'text', value: false, state: null, isMandatory: false},
        medic: {key: 'סעיף רפואי מכשיל?', type: 'switch', value: false, state: null, isMandatory: false}
      }
      axios.get(`${process.env.ROOT_API}/participent_profile/?myun_id=${this.$route.params.gibush_id}&id=${this.$route.params.id}`)
        .then(response => {
          if (response.status === httpStatusCodes.OK && response.data && response.data[0]) {
            const participantDetails = response.data[0].soldier
            this.editFields.firstName.value = participantDetails.first_name
            this.editFields.lastName.value = participantDetails.last_name
            this.editFields.pa.value = participantDetails.personal_number
            if (participantDetails.birth_date) {
              this.editFields.birthDate.value = participantDetails.birth_date.split('/').reverse().join('-')
            }
            this.editFields.firstPhone.value = participantDetails.first_phone
            this.editFields.secondPhone.value = participantDetails.second_phone
            this.editFields.thirdPhone.value = participantDetails.third_phone
            this.editFields.address.value = participantDetails.address
            this.editFields.status.value = participantDetails.enlistment_status
            this.editFields.kaba.value = participantDetails.kabha
            this.editFields.dapar.value = participantDetails.dapar
            this.editFields.id.value = participantDetails.identity_number
            this.editFields.tzadach.value = participantDetails.tzadach
            this.editBoolFields.newImm.value = participantDetails.is_new_immigrant
            this.editBoolFields.medic.value = participantDetails.disqualifying_medical_trait
          }
        })
        .catch(error => {
          console.log(error)
        })
      this.showAddParticipant = true
    },
    bringBack () {
      // bring back from retirement
      axios.post(`${process.env.ROOT_API}/retirements/`, {soldier_id: this.soldierId, myun_id: this.gibushId, action: 'delete'})
        .then(response => {
          if (response.status === httpStatusCodes.CREATED) {
            this.$router.go(0)
          }
        })
        .catch(error => {
          alert(error)
        })
    },
    postChangedGroup (bvModalEvt) {
      // changee particpant group
      if (this.selectedStage !== 0 && this.selectedGroup !== 0) {
        let groupChange = {soldier_id: this.soldierId, myun_id: this.gibushId}
        groupChange[this.numToString[this.selectedStage]] = this.selectedGroup
        axios.post(`${process.env.ROOT_API}/gibush_stats/`, groupChange)
          .then(response => {
            if (response.status === httpStatusCodes.CREATED) {
              this.$router.go(0)
            }
          })
          .catch(error => {
            console.log(error)
          })
      } else {
        this.badInput = 'אתה חייב לבחור שלב וקבוצה על מנת להעביר'
        bvModalEvt.preventDefault()
      }
    },
    changeGroup () {
      // gets the groups for each stage for modal
      this.badInput = ''
      this.showModal = true
      let options1 = []
      let options2 = []
      let tempOptions1 = [{value: '0', text: 'בחר קבוצה'}]
      let tempOptions2 = [{value: '0', text: 'בחר קבוצה'}]
      axios.get(`${process.env.ROOT_API}/gibush_group/?myun_id=${this.gibushId}&stage=1`)
        .then((response) => {
          let temp = response.data
          let count = 1
          for (let group in temp) {
            let exists = false
            for (let index in options1) {
              if (temp[group].group_id === options1[index]) {
                exists = true
              }
            }
            if (exists === false) {
              options1.push(count)
              count++
            }
          }
          for (let i = 1; i <= options1.length; i++) {
            tempOptions1.push({value: i, text: String(i)})
          }
        })
      axios.get(`${process.env.ROOT_API}/gibush_group/?myun_id=${this.gibushId}&stage=2`)
        .then((response) => {
          let temp = response.data
          let count = 1
          for (let group in temp) {
            let exists = false
            for (let index in options2) {
              if (temp[group].group_id === options2[index]) {
                exists = true
              }
            }
            if (exists === false) {
              options2.push(count)
              count++
            }
          }
          for (let i = 1; i <= options2.length; i++) {
            tempOptions2.push({value: i, text: String(i)})
          }
        })
      this.options1 = tempOptions1
      this.options2 = tempOptions2
    },
    fetchParticipantData () {
      // gets all data on participant
      axios.get(`${process.env.BASIC_API}/route/soldiers/routeSoldier_profile/?team_id=${this.$route.params.team_id}&id=${Number(this.$route.params.id)}`, {})
        .then((response) => {
          console.log(response.data)
          this.participantDetails = response.data
          this.soldierId = response.data.id
          let temp = this.participantDetails
          this.profilePic = temp.soldier.pic
          axios.get(`${process.env.ROOT_API}${this.profilePic}`)
            .then((response) => {
              this.picExist = true
            })
            .catch(error => {
              console.log(error)
              this.picExist = false
            })
          console.log(this.profilePic)
          this.gibushId = temp.myun_id
          this.routeDetails.push({
            'trustworthy': temp.user_trustworthy_avg,
            'stress': temp.user_stress_avg,
            'sozio': temp.total_soziometry,
            'fitCommander': temp.total_fit_commander,
            'notMatch': temp.total_not_match,
            'friendship': temp.total_friendship
          })
          this.finalGrade = temp.final_grade
          this.finalRanking = temp.final_Ranking
          this.identityNumber = temp.soldier.identity_number
          this.team = temp.team
          this.personalDetails.push({
            'identity_number': temp.soldier.identity_number,
            'personal_number': temp.soldier.personal_number,
            'birth_date': temp.soldier.birth_date,
            'address': temp.soldier.address,
            'is_new_immigrant': this.boolToYesNo[temp.soldier.is_new_immigrant],
            'kabha': temp.soldier.kabha,
            'dapar': temp.soldier.dapar,
            'tzadach': temp.soldier.tzadach,
            'medical_profile': temp.soldier.medical_profile,
            'disqualifying_medical_trait': this.boolToYesNo[temp.soldier.disqualifying_medical_trait]})
          this.commanderAssessment = temp.commander_assessment
        })
        .catch(function (error) {
          console.log(error)
        })
    }
  },
  computed: {
    notMatchRanking () {
      if (this.participantDetails.not_match_place) {
        return this.participantDetails.not_match_place
      }
      return '-'
    },
    friendShipRanking () {
      if (this.participantDetails.friendship_place) {
        return this.participantDetails.friendship_place
      }
      return '-'
    },
    fitCommanderRanking () {
      if (this.participantDetails.fit_commander_place) {
        return this.participantDetails.fit_commander_place
      }
      return '-'
    },
    sozioRanking () {
      if (this.participantDetails.soziometry_place) {
        return this.participantDetails.soziometry_place
      }
      return '-'
    },
    trustworthyRanking () {
      if (this.participantDetails.trustworthy_place) {
        return this.participantDetails.trustworthy_place
      }
      return '-'
    },
    stressRanking () {
      if (this.participantDetails.stress_place) {
        return this.participantDetails.stress_place
      }
      return '-'
    },
    optionsGroup () {
      // shows groups for selected stage in change group
      if (this.selectedStage === 1) {
        return this.options1
      } else if (this.selectedStage === 2) {
        return this.options2
      } else {
        return this.blankOptions
      }
    }
  }
}

</script>

<style scoped>
.border-slant{
  border: #2c3e50 1px solid;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
#profile-pic{
  width: 100%;
  height: 250px;
  border: #2c3e50 1px solid;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
#snap-again{
  border: #2c3e50 1px solid;
  border-radius: 10px;
  right: 14px;
  top: 0%;
  position: absolute;
}
#profile-image{
  width: 100%;
  height: 250px;
  border: #2c3e50 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
  #bad-input {
    color: red;
  }
  .modal-text{
    font-size: 20px;
  }
  #retire{
    margin-right: 3%;
  }
  .buttons-prof{
    margin-bottom: 3%;
  }
  #final-stats{
    margin-right: 30%;
    position: absolute;
    width: 15%;
  }
  .final-grade{
    font-weight: bold;
    text-decoration: underline;
    font-size: 30px;
  }
  .opacity-8{
    opacity: 0.8;
  }
</style>
