<template>
<!-- add a gibush page -->
  <div>
    <h1>
    </h1>
    <b-row>
         <b-col cols="7">
          <h2 style="opacity: 0.8;" class="text-right opacity-8"><strong>יצירת יום סיירות</strong></h2>
         </b-col>
        </b-row>
      <b-container class="w-50" style="align:right;">
        <b-row>
          <b-col cols="2">
            <span>
              שם היום סיירות:
            </span>
          </b-col>
          <b-col cols="6" style="padding-bottom:20px;">
            <b-form-input v-model="title"></b-form-input>
            <span class="error" v-if="titleError">אנא כתוב שם ליום סיירות</span>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="2">
               <span>
                בחר תאריך:
                </span>
          </b-col>
          <b-col cols="6">
              <v-date-picker
                mode="range"
                is-dark
                v-model='date'
                style="direction: ltr;
                      padding-right: 50px;
              "></v-date-picker>
              <span class="error" v-if="dateError">אנא בחר תאריך</span>
          </b-col>
        </b-row>
        <b-row style="padding-top: 30px;">
          <b-col cols="2">
            <span>
              הערה:
            </span>
          </b-col>
          <b-col cols="6" style="padding-bottom:20px;">
            <b-form-textarea
              id="textarea"
              v-model="description"
              rows="3"
            ></b-form-textarea>
            <span class="error" v-if="descriptionError">אנא כתוב תיאור ליום סיירות</span>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="6">
          </b-col>
          <b-col>
          <b-button variant="primary" @click="sendForm()">
            הוסף יום סיירות
          </b-button>
          </b-col>
        </b-row>
      </b-container>
  </div>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import httpStatusCodes from '../../models/status-codes'

export default {
  name: 'AddGibush',
  components: {
  },
  data () {
    return {
      date: null,
      title: '',
      description: '',
      dateError: false,
      titleError: false,
      descriptionError: false,
      message: 'text'
    }
  },
  methods: {
    sendForm () {
      // validates info and makes new gibush
      if (!this.validateFields()) {
        return
      }
      this.routeToAddParticipantsPage()
      axios.post(`${process.env.BASIC_API}/fieldday/fieldday/`, {
        start_date: moment(this.date.start).format('YYYY-MM-DD'),
        end_date: moment(this.date.end).format('YYYY-MM-DD'),
        title: this.title,
        description: this.description
      })
        .then(response => {
          if (response.status === httpStatusCodes.CREATED) {
            this.routeToAddParticipantsPage()
          }
        })
        .catch(error => {
          console.log(error)
        })
    },

    validateFields () {
      // validates info
      let noErrors = true
      if (!this.date) {
        this.dateError = true
        noErrors = false
      } else {
        this.dateError = false
      }

      if (!this.title) {
        this.titleError = true
        noErrors = false
      } else {
        this.titleError = false
      }

      if (!this.description) {
        this.descriptionError = true
        noErrors = false
      } else {
        this.descriptionError = false
      }

      return noErrors
    },

    routeToAddParticipantsPage () {
      // at the end of the add gibush page goes to add participant page with file
      this.$router.push({ path: `/fielddays/add-field-day/add-participants` })
    }
  }
}
</script>

<style scoped>
div {
  text-align: right;
}

.error {
  color: orangered;
}
</style>
