<template>
<!-- NOT IN USE -->
  <div>
    <b-row>
      <b-col cols="7">
        <h2 class="text-right opacity-8"><strong>ימי סיירות</strong></h2>
      </b-col>
    </b-row>
    <div class="dashboard">
      <box
        title=""
        icon="plus"
        linkName="AddFieldDay"
      />
      <box
        v-for="fieldDay of fieldDays"
        :key="fieldDay.pk" :title="fieldDay.title" :params="fieldDay" icon="tent"
        linkName="FieldDay" :linkParams="{id: fieldDay.pk}"
      />
    </div>
  </div>
</template>

<script>
import Box from '../../components/Box/Box'
import axios from 'axios'

export default {
  name: 'FieldDays',
  components: {Box},
  data () {
    return {
      fieldDays: []
    }
  },
  created () {
    axios.get(`${process.env.BASIC_API}/fieldday/fieldday/`, {})
      .then((response) => {
        for (let fieldDay of response.data) {
          this.fieldDays.push(fieldDay)
        }
      })
      .catch(function (error) {
        console.log(error)
      })
  }
}
</script>

<style scoped>
  h1 {
    margin: 30px;
  }
  .dashboard {
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

</style>
