<template>
<!-- inside the gibush page -->
  <div>
    <b-row>
      <b-col cols="7">
        <h2 class="text-right opacity-8"><strong>יום סיירות</strong></h2>
      </b-col>
    </b-row>
    <div v-if="listLoaded">
      <users-table
            :userList="gibushDetails"
            :myunId="Number($route.params.id)"
            :listLoaded="listLoaded"
            :clickLinkName="`FullParticipantProfile`"
          />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import UsersTable from '../../components/UsersTable.vue'

export default {
  name: 'FieldDay',
  components: {UsersTable},
  data () {
    return {
      gibushDetails: [],
      listLoaded: false,
      filterChange: false
    }
  },
  created () {
    axios.get(`${process.env.BASIC_API}/fieldday/fieldday_stats/?FieldDay=${this.$route.params.id}`, {})
      .then((response) => {
        this.gibushDetails = response.data
        this.listLoaded = true
      })
      .catch(function (error) {
        console.log(error)
      })
  },
  computed: {
    gibushId () {
      return this.gibushDetails.pk
    }
  },
  methods: {
    exportparticipant () {
      axios({
        url: `${process.env.ROOT_API}/export_gibush/?gibush=${this.gibushId}`,
        method: 'GET',
        responseType: 'blob'
      }).then(response => {
        var newBlob = new Blob([response.data])
        if (window.navigator && window.navigator.msSaveOrOpenBlob) {
          window.navigator.msSaveOrOpenBlob(newBlob)
          return
        }
        const data = window.URL.createObjectURL(newBlob)
        var link = document.createElement('a')
        link.href = data
        link.download = 'gibush.json'
        //  link.download = 'participants.json'
        link.click()
      })
        .catch(error => {
          alert(error)
        })
    }
  }
}

</script>

<style scoped>
  h1 {
    margin: 30px;
  }
  .dashboard {
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .opacity-8{
    opacity: 0.8;
  }
  #export-gibush{
  left: 5%;
  position: absolute;
}
</style>
