<template>
<!-- page to choose what type of insertion is wanted, sozio, or assessor eval -->
  <div>
    <b-row>
    <b-col cols="7">
      <h2 class="text-right opacity-8"><strong>הזנת נתונים</strong></h2>
    </b-col>
    <b-col cols="3">
        <b-dropdown class="float-left" variant="primary" right caret text="הורד קבצים   ">
          <b-dropdown-item class="text-right" @click="downloadSozio()">סוציומטרי</b-dropdown-item>
          <b-dropdown-item class="text-right" @click="downloadAssessors()">הערכות מגבשים</b-dropdown-item>
          <b-dropdown-item class="text-right" @click="downloadGroups()">קובץ קבוצות</b-dropdown-item>
        </b-dropdown>
      </b-col>
    </b-row>
    <h1>{{ title }} {{ translation[$route.params.level_phase] }}</h1>
    <div class="dashboard">
     <box
       v-for="(item, index) of items"
       :key="index"
       :soon="item.soon"
       :title="item.title"
       :icon="item.icon"
       :linkName="item.linkName"
       :linkParams="item.linkParams"
     />
    </div>
  </div>
</template>

<script>
import Box from '../../components/Box/Box'
import axios from 'axios'

export default {
  name: 'InsertValues',
  components: { Box },
  data () {
    return {
      title: 'הזנת נתונים שלב',
      translation: {
        a: 'א',
        b: 'ב'
      },
      stageNum: {
        a: 1,
        b: 2
      },
      items: [
        {'title': 'סוציומטרי', 'icon': 'evaluate', 'linkName': 'Soziometry', 'linkParams': {gibush_id: this.$route.params.gibush_id, group_id: this.$route.params.group_id, level_phase: this.$route.params.level_phase}},
        {'title': 'הערכות מגבשים', 'icon': 'questionnaire', 'linkName': 'AssessorEval', 'linkParams': {gibush_id: this.$route.params.gibush_id, group_id: this.$route.params.group_id, level_phase: this.$route.params.level_phase}},
        {'title': 'נתוני תרגילים', 'icon': 'running-man', soon: true},
        {'title': 'מועמדים בקבוצה', 'icon': 'crowd-of-users', linkName: 'ParticipantListGroup', linkParams: {gibush_id: this.$route.params.gibush_id, group_id: this.$route.params.group_id, level_phase: this.$route.params.level_phase}}
      ]
    }
  },
  methods: {
    downloadGroups () {
      // downlaod the groups page
      axios({
        url: `${process.env.ROOT_API}/download_groups/?myun_id=${this.$route.params.gibush_id}&stage=${this.stageNum[this.$route.params.level_phase]}&group_id=${this.$route.params.group_id}`,
        method: 'GET',
        responseType: 'blob'
      }).then(response => {
        var newBlob = new Blob([response.data])
        if (window.navigator && window.navigator.msSaveOrOpenBlob) {
          window.navigator.msSaveOrOpenBlob(newBlob)
          return
        }
        const data = window.URL.createObjectURL(newBlob)
        var link = document.createElement('a')
        link.href = data
        link.download = `group_${this.$route.params.group_id}_people.csv`
        link.click()
      })
        .catch(error => {
          alert(error)
        })
    },
    downloadAssessors () {
      // download the assessor eval page for print
      axios({
        url: `${process.env.ROOT_API}/assessor_evaluation_pdf/?myun_id=${this.$route.params.gibush_id}&stage=${this.stageNum[this.$route.params.level_phase]}&group_id=${this.$route.params.group_id}`,
        method: 'GET',
        responseType: 'blob'
      }).then(response => {
        var newBlob = new Blob([response.data])
        if (window.navigator && window.navigator.msSaveOrOpenBlob) {
          window.navigator.msSaveOrOpenBlob(newBlob)
          return
        }
        const data = window.URL.createObjectURL(newBlob)
        var link = document.createElement('a')
        link.href = data
        link.download = `assessors_group_${this.$route.params.group_id}.zip`
        link.click()
      })
        .catch(error => {
          alert(error)
        })
    },
    downloadSozio () {
      // download the sozio page
      axios({
        url: `${process.env.ROOT_API}/sozio_pdf/?myun_id=${this.$route.params.gibush_id}&stage=${this.stageNum[this.$route.params.level_phase]}&group_id=${this.$route.params.group_id}`,
        method: 'GET',
        responseType: 'blob'
      }).then(response => {
        var newBlob = new Blob([response.data])
        if (window.navigator && window.navigator.msSaveOrOpenBlob) {
          window.navigator.msSaveOrOpenBlob(newBlob)
          return
        }
        const data = window.URL.createObjectURL(newBlob)
        var link = document.createElement('a')
        link.href = data
        link.download = `sozio_group_${this.$route.params.group_id}.zip`
        link.click()
      })
        .catch(error => {
          alert(error)
        })
    }
  }
}
</script>

<style scoped>
h1 {
  margin: 30px;
}
.dashboard {
  text-align: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
</style>
