<template>
<!-- the pageinside of a stage if stage two no reception -->
  <div>
        <b-row>
        <b-col cols="7">
          <h2 class="text-right opacity-8"><strong>גיבוש {{$route.params.group_id}}</strong></h2>
        </b-col>
        </b-row>
      <b-row id="title">
        <b-col cols="8">
          <h4 id="stage">שלב {{translation[$route.params.level_phase]}}</h4>
        </b-col>

      </b-row>
      <b-row>
        <box
        v-for="(item, index) of items"
        :key="index" :title="item.title" :params="item" :icon="item.icon" :linkName="item.linkName"
        :linkParams="item.linkParams" :additionalInfo="item.additionalInfo"
        >
        </box>
      </b-row>
  </div>
</template>

<script>
import Box from '../../components/Box/Box'

export default {
  name: 'Levels',
  components: {Box},
  data () {
    let phases = {a: "א'", b: "ב'"}
    return {
      gibush_details: this.$route.params.gibush_details,
      translation: phases
    }
  },
  computed: {
    items () {
      // box items. if stage 2 removes the reception option
      let options = [
        {title: 'קליטת מועמדים', icon: 'reception@2x', linkName: 'ReceiveParticipant', 'linkParams': {gibush_id: this.$route.params.gibush_id, level_phase: this.$route.params.level_phase}},
        {title: 'מגבשים', icon: 'angel@2x', linkName: 'AssessorList', 'linkParams': {gibush_id: Number(this.$route.params.gibush_id)}},
        {title: 'קבוצות', icon: 'network@2x', linkName: 'Groups', 'linkParams': {gibush_id: this.$route.params.gibush_id, level_phase: this.$route.params.level_phase}},
        {title: 'מועמדים', icon: 'candidates@2x', linkName: 'ParticipantListStage', 'linkParams': {gibush_id: this.$route.params.gibush_id, level_phase: this.$route.params.level_phase}},
        {title: 'הזנת נתונים', icon: 'information@2x', linkName: 'ChooseGroup', 'linkParams': {gibush_id: this.$route.params.gibush_id, level_phase: this.$route.params.level_phase}},
        {title: 'תוצאות', icon: 'ranking@2x', linkName: 'StageResults', linkParams: {gibush_id: this.$route.params.gibush_id, level_phase: this.$route.params.level_phase}, additionalInfo: [{key: '1', name: 'שלב ' + this.translation[this.$route.params.level_phase]}]}
      ]
      if (this.$route.params.level_phase === 'b') {
        options.shift()
      }
      return options
    }
  }
}
</script>

<style>
  #stage{
    font-size: 25px;
    opacity: 0.8;
    text-align: right;
  }
  .opacity-8{
      opacity: 0.8;
    }
</style>
