<template>
<!-- the grades of the stage -->
  <div>
    <b-row>
    <b-col cols="7">
      <h2 class="text-right opacity-8"><strong>תוצאות סופיות: {{translateStage[$route.params.level_phase]}}</strong></h2>
    </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-button pill variant="primary" class="float-left" @click="downloadFile()">הורד קובץ תוצאות</b-button>
      </b-col>
    </b-row>
    <div v-if="listLoaded">
      <stage-grades
        :userList="resultsList"
        :listLoaded="listLoaded"
      />
    </div>
    <b-spinner v-else variant="primary"></b-spinner>
  </div>
</template>

<script>
import axios from 'axios'
import StageGrades from '../../components/StageGrades'

export default {
  name: 'StageResults',
  components: {StageGrades},
  data () {
    return {
      translateStage: {
        'a': "שלב א'",
        'b': "שלב ב'"
      },
      resultsList: [],
      listLoaded: false
    }
  },
  created () {
    this.fetchGrades()
  },
  methods: {
    downloadFile () {
      // download the file of the grades
      axios({
        url: `${process.env.ROOT_API}/download_grades/?myun_id=${this.$route.params.gibush_id}`,
        method: 'GET',
        responseType: 'blob'
      }).then(response => {
        const url = window.URL.createObjectURL(new Blob([response.data]))
        const link = document.createElement('a')
        link.href = url
        link.setAttribute('download', 'final_results.csv')
        document.body.appendChild(link)
        link.click()
      })
        .catch(error => {
          alert(error)
        })
    },
    fetchGrades () {
      // gets all the grades and assigns values for the stage
      axios.get(`${process.env.ROOT_API}/all_grades/?myun_id=${this.$route.params.gibush_id}`)
        .then((response) => {
          for (let person of response.data) {
            let stage1Assessor = []
            let stage2Assessor = []
            for (let assessor of person.assessors_grade_names) {
              if (assessor.stage === 1) {
                if (assessor.comment.length > 25) {
                  stage1Assessor.push({full_name: assessor.full_name, stage: assessor.stage, grade: assessor.grade, comment: assessor.comment.slice(0, 25) + '...'})
                } else {
                  stage1Assessor.push(assessor)
                }
              } else if (assessor.stage === 2) {
                if (assessor.comment.length > 25) {
                  stage2Assessor.push({full_name: assessor.full_name, stage: assessor.stage, grade: assessor.grade, comment: assessor.comment.slice(0, 25) + '...'})
                } else {
                  stage2Assessor.push(assessor)
                }
              }
            }
            if (this.$route.params.level_phase === 'a') {
              this.resultsList.push({
                id: person.participent.id,
                full_name: `${person.participent.first_name} ${person.participent.last_name}`,
                pic: person.participent.pic,
                identity_number: person.participent.identity_number,
                sozio: Number(person.first_stage_sozio),
                stage_grade: Number(person.first_stage_grade),
                assessors: stage1Assessor
              })
            } else {
              this.resultsList.push({
                id: person.participent.id,
                full_name: `${person.participent.first_name} ${person.participent.last_name}`,
                identity_number: person.participent.identity_number,
                sozio: Number(person.second_stage_sozio),
                stage_grade: Number(person.second_stage_grade),
                assessors: stage2Assessor
              })
            }
          }
          console.log(this.resultsList)
          this.listLoaded = true
        })
    }
  }
}
</script>

<style>
  .opacity-8{
    opacity: 0.8;
  }
</style>
