<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html dir="rtl">  
    <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
        <title>דף בעברית</title>
        <style type="text/css">
            @font-face {
            font-family: Arial;
            src: url("./usr/share/fonts/truetype/msttcorefonts/Arial.ttf");
            }
            @page {
                size: {{'A4'}};
                margin: 1cm;
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    margin-left: 9cm;
                    margin-right: 9cm;
                    height: 1cm;
                }
            }
            table {
                font-family: Arial;
                border-collapse: collapse;
                width: 100%;
                }

            td, th {
                border: 1px solid #dddddd;
                text-align: right;
                direction: rtl;
                padding: 8px;
                -webkit-transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
                -o-transform: rotateY(180deg);
                -ms-transform: rotateY(180deg);
                transform: rotateY(180deg);
                }
            .title{
                font-family: Arial;
                font-size: 15px;
            }
            .header{
                font-family: Arial;
                font-size: 30px;
            }
            .paragraph{
                font-family: Arial;
                font-size: 15px;
            }
            .assessor{
                font-family: Arial;
                font-size: 30px;
                font-style: underline;
            }
        </style>
    </head>    
    <body dir="rtl" style="text-align: right;">
        <h1 class="header" style="text-align: right;"> 
       הצובק - {{group}} םיכירעמ תכרעה ספוט
        </h1>
        <h2 class="assessor">
        {{assessor.last_name}} {{assessor.first_name}} :ךירעמ םש
        </h2>
        <h3 class="assessor">
        {{participant.last_name}} {{participant.first_name}} :בשלמ םש
        </h3>
        <h2 class="assessor">
       _____________________ :ךירעמ ןויצ
        </h2>
        <h2 class="assessor">
       :תילולימ הכרעה
        </h2>
        <br>
        <p>
        _____________________________________________________________________________________________________
        <br>
        _____________________________________________________________________________________________________
        <br>
        _____________________________________________________________________________________________________
        <br>
        _____________________________________________________________________________________________________
        <br>
        _____________________________________________________________________________________________________
        <br>
        _____________________________________________________________________________________________________
        </p>
    </body>
</html>