<template>
<div>
  <b-row>
    <b-col cols="7">
      <h2 style="opacity: 0.8" class="text-right opacity-8"><strong>הוספת חברי צוות: {{$route.params.team_name}}</strong></h2>
    </b-col>
  </b-row>
  <div v-if="listLoaded">
    <team-add-members :userList="allSoldiers" :teamName="$route.params.team_name" :teamId="Number($route.params.team_id)" :listLoaded="listLoaded" :selectedLeaders='selectedLeaders'></team-add-members>
  </div>
  <div v-else>
    <b-spinner variant="primary"></b-spinner>
  </div>
</div>
</template>

<script>
import TeamAddMembers from '../../components/TeamAddMembers'
import axios from 'axios'

export default {
  name: 'AddMembers',
  components: {TeamAddMembers},
  data () {
    return {
      allSoldiers: [],
      selectedLeaders: [],
      listLoaded: false
    }
  },
  created () {
    this.fetchSoldiers()
  },
  methods: {
    fetchSoldiers () {
      axios.get(`http://localhost:8000/route/soldiers/add_members_options/`)
        .then((response) => {
          this.allSoldiers = response.data
          this.listLoaded = true
        })
        .catch((error) => {
          alert(error)
        })
    }
  }
}
</script>

<style>

</style>
