<template>
  <div>
    <b-row>
    <b-col cols="7">
      <h2 style="opacity: 0.8" class="text-right opacity-8"><strong>יצירת צוות חדש</strong></h2>
    </b-col>
    </b-row>
    <b-row style="padding-top: 50px;">
      <b-col cols="4">
        <h4 class="text-center">שם הצוות:</h4>
      </b-col>
      <b-col cols="6">
        <b-input placeholder="הכנס את שם הצוות" :state="nameState" type="text" v-model="teamName"></b-input>
      </b-col>
    </b-row>
    <b-row style="padding-top: 20px;">
      <b-col>
        <p style="color:red;">{{badInput}}</p>
      </b-col>
    </b-row>
    <b-row style="padding-top: 20px;">
      <b-col>
        <b-button pill variant="primary" @click="makeGroup()">בחר מפק"צ</b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'AddTeam',
  data () {
    return {
      teamName: null,
      nameState: null,
      badInput: null
    }
  },
  methods: {
    validateInputs () {
      let check = true
      if (this.teamName === null || this.teamName === '') {
        check = false
        this.nameState = false
        this.badInput = 'אנא מלא את כל השדות'
      } else if (!this.teamName.includes('צוות')) {
        check = false
        this.nameState = false
        this.badInput = 'השם של הצוות חייב להכיל את המילה צוות. לדוגמה: צוות X'
      } else {
        this.nameState = true
      }
      return check
    },
    makeGroup () {
      if (this.validateInputs()) {
        this.$router.push({name: 'ChooseLeader', params: {team_name: this.teamName}})
      }
    }
  }
}
</script>

<style>

</style>
