<template>
  <div>
    <b-row>
    <b-col cols="7">
      <h2 style="opacity: 0.8" class="text-right opacity-8"><strong>בחר מפק"צ: {{$route.params.team_name}}</strong></h2>
    </b-col>
    </b-row>
    <div v-if="listLoaded">
      <commander-table :listLoaded="listLoaded" :userList="allSoldiers" :filterChange="true"></commander-table>
    </div>
    <div v-else>
      <b-spinner variant="primary"></b-spinner>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import CommanderTable from '../../components/CommanderTable'

export default {
  name: 'ChooseLeader',
  components: {CommanderTable},
  data () {
    return {
      allSoldiers: [],
      listLoaded: false
    }
  },
  created () {
    this.fetchSoldiers()
  },
  methods: {
    fetchSoldiers () {
      axios.get(`http://localhost:8000/gibush/Participent/?myun_id=1`)
        .then((response) => {
          this.allSoldiers = response.data
          console.log(this.allSoldiers)
          this.listLoaded = true
        })
        .catch((error) => {
          alert(error)
        })
    }
  }
}
</script>

<style>

</style>
