<template>
<!-- page to evaluate participant -->
<div v-on:keydown="enterPost">
  <info-received v-on:FinishReceive="showReceived = false" :time="timePopup" :text="popupText" :trigger="showReceived"></info-received>
  <b-row>
      <b-col cols="7">
        <h2 class="text-right opacity-8"><strong>הערכת מפק"צ:  {{$route.params.team_name}}</strong></h2>
      </b-col>
    </b-row>
    <b-row id="title">
      <b-col cols="8">
      </b-col>
      <transition name="fade">
        <b-col cols="3">
          <b-form-select v-if="chosenAssessor" :state="assessorState" id="assessor-box" v-model="selectedSozioNumber" :options="sozioNumberOptions"></b-form-select>
        </b-col>
      </transition>
      </b-row>
    <transition name="fade1">
      <div v-if="!chosenAssessor" class="beginning">
        <b-row>
          <b-col cols="4">
            <h3><span style="color: red;">*</span>בחר מעריך</h3>
          </b-col>
          <b-col cols="4">
            <b-form-select size="lg" v-model="selectedSozioNumber" :options="sozioNumberOptions"></b-form-select>
          </b-col>
        </b-row>
        <b-row style="padding-top: 100px;">
          <b-col cols="4">
          </b-col>
          <b-col cols="4">
            <b-button size="lg" variant="primary" pill @click="diffGroup = true">לקבוצה חדשה</b-button>
          </b-col>
        </b-row>
      </div>
    </transition>
  <transition name="fade">
  <div v-if="chosenAssessor" :class="chosenAssessor ? 'show': 'no-show'">
      <b-row class="new-row">
        <b-col cols="4">
          <p class="prompts"><span style="color: red;">*</span>שם המלש"ב:</p>
        </b-col>
        <b-col cols="5">
          <b-form-select :state="participantState" class="float-right" v-model="selectedParticipant" :options="participantOptions"></b-form-select>
        </b-col>
      </b-row>
      <b-row class="new-row">
        <b-col cols="4">
          <p class="prompts"><span style="color: red;">*</span>הכנס ציון:</p>
        </b-col>
        <b-col cols="5">
          <b-input :state="gradeState" autocomplete="off" class="float-right" :type="'number'" v-model="assessGrade"></b-input>
        </b-col>
      </b-row>
      <b-row class="new-row">
        <b-col cols="4">
          <p class="prompts"><span style="color: red;">*</span>הערה מילולית:</p>
        </b-col>
        <b-col cols="6">
          <b-form-textarea :state="commentState" autocomplete="off" v-model="comment" placeholder="כתוב הערה..." rows="5"></b-form-textarea>
        </b-col>
      </b-row>
      <b-row>
        <p style="color: red;">{{invalidInput}}</p>
      </b-row>
      <b-row class="new-row">
        <b-button id="continue-button" v-on:click="postGrade()" :pill="true" variant="primary">שלח</b-button>
      </b-row>
    </div>
    </transition>
</div>
</template>

<script>
import axios from 'axios'
import httpStatusCodes from '../../models/status-codes'
import InfoReceived from '../../components/InfoReceived'

export default {
  name: 'CommanderEvaluation',
  components: {InfoReceived},
  data () {
    return {
      diffGroup: false,
      popupText: '',
      countExist: 0,
      timePopup: 850,
      finishedAll: false,
      nextAssessor: false,
      chosenAssessor: false,
      showReceived: false,
      title: 'שלב',
      invalidInput: '',
      selectedParticipant: 'placeHolder',
      selectedSozioNumber: 'placeHolder',
      assessGrade: null,
      comment: '',
      participantOptions: [
        {'value': 'placeHolder', 'text': 'בחר מלש"ב'}
      ],
      sozioNumberOptions: [
        {'value': 'placeHolder', 'text': 'בחר מספר סוציומטרי'},
        {'value': '1', 'text': '1'},
        {'value': '2', 'text': '2'},
        {'value': '3', 'text': '3'},
        {'value': '4', 'text': '4'}
      ],
      existGrades: [],
      commentState: null,
      gradeState: null,
      assessorState: null,
      participantState: null
    }
  },
  watch: {
    selectedParticipant () {
      // watches selected parricpant and chanegs grades and comment accordingky
      if (this.selectedParticipant !== 'placeHolder' && this.selectedSozioNumber !== 'placeHolder') {
        let exists = false
        for (let existGrade of this.existGrades) {
          if (Number(existGrade.sozio_stage) === Number(this.selectedSozioNumber) && existGrade.id === this.selectedParticipant) {
            this.assessGrade = existGrade.grade
            this.comment = existGrade.comment
            exists = true
          }
        }
        if (!exists) {
          this.comment = null
          this.assessGrade = null
        }
      } else {
        this.comment = null
        this.assessGrade = null
      }
    },
    selectedSozioNumber () {
      // on change activates checkAssessors
      for (let soldier in this.existGrades) {
        if (!this.participantOptions.filter(d => d.value === this.existGrades[soldier].id).length > 0) {
          this.participantOptions.push({'value': this.existGrades[soldier].id, 'text': this.existGrades[soldier].soldier_name})
        }
      }
      this.checkAssessors()
    }
  },
  created () {
    // gets all relevant information (assessors, participants in group and grades)
    this.onSelectedSozio()
  },
  methods: {
    checkAssessors () {
      // sets the grades and stuff and puts a check next to particpant that has been filled by the chosen assessor
      if (this.selectedSozioNumber !== 'placeHolder') {
        this.chosenAssessor = true
        for (let participant in this.participantOptions) {
          let count = 0
          let exist = false
          for (let grade of this.existGrades) {
            if (Number(grade.sozio_stage) === Number(this.selectedSozioNumber) && grade.id === this.participantOptions[participant].value) {
              count++
              exist = true
              if (count === 1 && !this.participantOptions[participant].text.includes('\u2713')) {
                this.participantOptions[participant].text = '\u2713' + ' ' + this.participantOptions[participant].text
              }
            }
          }
          if (!exist && this.participantOptions[participant].text.includes('\u2713')) {
            this.participantOptions[participant].text = this.participantOptions[participant].text.substring(2)
          }
        }
      } else {
        this.chosenAssessor = false
      }
      if (this.selectedParticipant !== 'placeHolder' && this.selectedSozioNumber !== 'placeHolder') {
        let exists = false
        for (let existGrade of this.existGrades) {
          if (Number(existGrade.sozio_stage) === Number(this.selectedSozioNumber) && Number(existGrade.id) === Number(this.selectedParticipant)) {
            this.assessGrade = existGrade.grade
            this.comment = existGrade.comment
            exists = true
          }
        }
        if (!exists) {
          this.comment = null
          this.assessGrade = null
        }
      } else {
        this.comment = null
        this.assessGrade = null
      }
    },
    nextMember () {
      // goes to next participant after post
      axios.get(`${process.env.BASIC_API}/route/soldiers/commander_assessment/?team_id=${this.$route.params.team_id}&sozio_stage=${this.selectedSozioNumber}`)
        .then((response) => {
          this.existGrades = response.data
          for (let soldier in this.existGrades) {
            if (!this.participantOptions.filter(d => d.value === this.existGrades[soldier].id).length > 0) {
              this.participantOptions.push({'value': this.existGrades[soldier].id, 'text': this.existGrades[soldier].soldier_name})
            }
          }
          this.countExist = 1
          let count1 = 0
          let personChoose = null
          for (let participant of this.participantOptions) {
            let exists = false
            for (let existGrade of this.existGrades) {
              if (Number(existGrade.sozio_stage) === Number(this.selectedSozioNumber) && existGrade.id === participant.value && participant.value !== 'placeHolder') {
                exists = true
                this.countExist++
              }
            }
            if (!exists) {
              if (count1 === 1) {
                personChoose = participant.value
              }
              count1++
            }
          }
          if (personChoose) {
            this.selectedParticipant = personChoose
            this.checkAssessors()
          }
          if (this.countExist === this.participantOptions.length) {
            let finishedAssessor = 1
            for (let assessor of this.sozioNumberOptions) {
              let count = 1
              for (let participant of this.participantOptions) {
                for (let existGrade of this.existGrades) {
                  if (Number(existGrade.sozio_stage) === Number(assessor.value) && existGrade.id === participant.value && assessor.value !== 'placeHolder' && participant.value !== 'placeHolder') {
                    count++
                  }
                }
              }
              if (count !== this.participantOptions.length && assessor.value !== 'placeHolder') {
                this.selectedSozioNumber = assessor.value
                this.popupText = 'הנתונים עבור מעריך זה התקבלו. כעת עוברים למעריך הבא'
                this.timePopup = 1500
                this.showReceived = true
              } else if (count === this.participantOptions.length) {
                finishedAssessor++
              }
            }
            if (finishedAssessor === this.sozioNumberOptions.length) {
              this.timePopup = 1500
              this.popupText = 'כל הנתונים התקבלו בהצלחה עבור קבוצה זה'
              this.$router.go(0)
            } else {
              this.nextMember()
            }
          } else {
            this.timePopup = 850
            this.popupText = 'הנתונים התקבלו בהצלחה'
            this.showReceived = true
          }
        })
    },
    getGrades () {
      // gets all grades for the group
      axios.get(`${process.env.BASIC_API}/route/soldiers/commander_assessment/?team_id=${this.$route.params.team_id}&sozio_stage=${this.selectedSozioNumber}`)
        .then((response) => {
          this.existGrades = response.data
        })
        .catch(function (error) {
          alert(error)
        })
    },
    enterPost (e) {
      if (e.ctrlKey && e.keyCode === 13) {
        this.postGrade()
      }
    },
    onSelectedSozio () {
      this.getGrades()
      for (let soldier of this.existGrades) {
        this.participantOptions.push({'value': soldier.id, 'text': soldier.soldier_name})
      }
    },
    postGrade () {
      // validates input and posts entered grade
      let finalGrade = {team_id: this.$route.params.team_id, sozio_stage: this.selectedSozioNumber, soldier: this.selectedParticipant, grade: '', comment: ''}
      if (this.selectedParticipant !== 'placeHolder' && this.selectedSozioNumber !== 'placeHolder' && this.assessGrade !== null && this.comment !== null && this.comment !== ' ') {
        if (this.assessGrade > 6 || this.assessGrade < 1) {
          this.invalidInput = 'קלט לא תקין, הציון חייב להיות בין 1-6'
          this.gradeState = false
        } else {
          this.gradeState = true
          finalGrade.grade = this.assessGrade
          finalGrade.comment = this.comment
          axios.post(`${process.env.BASIC_API}/route/soldiers/commander_assessment/`, finalGrade)
            .then(response => {
              if (response.status === httpStatusCodes.CREATED) {
                this.invalidInput = ''
                this.assessorState = null
                this.participantState = null
                this.gradeState = null
                this.commentState = null
                this.nextMember()
              }
            })
            .catch(error => {
              alert(error)
            })
        }
      } else {
        if (this.selectedParticipant === 'placeHolder') {
          this.participantState = false
        } else {
          this.participantState = true
        }
        if (this.selectedSozioNumber === 'placeHolder') {
          this.assessorState = false
        } else {
          this.assessorState = true
        }
        if (this.assessGrade === null || this.assessGrade === '' || (this.assessGrade > 6 || this.assessGrade < 1)) {
          this.gradeState = false
        } else {
          this.gradeState = true
        }
        if (this.comment === ' ' || this.comment === null) {
          this.commentState = false
        } else {
          this.commentState = true
        }
        this.invalidInput = 'קלט לא תקין, נא מלא את כל השדות'
      }
    }
  }
}
</script>
<style>
.flex-required {
  text-align: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div{
  font-weight: bold;
}
#stage{
  opacity: 0.8;
  text-align: right;
}
.prompts{
  opacity: 0.8;
  text-align: center;
  font-size: 20px;
  padding-left: 15%;
}
.new-row{
  padding-top: 5%;
}
.option-box{
  width: 40%;
}
#continue-button{
  left: 6%;
  position: absolute;
}
.fade-enter-active {
  transition: opacity 1.2s;
}
.fade-leave-active{
  transition: opacity 0.2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.fade1-enter-active {
  transition: opacity 1.2s;
}
.fade1-leave-active{
  transition: opacity 0.2s
}
.fade1-enter, .fade1-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
