<template>
  <div>
    <b-row>
    <b-col cols="7">
      <h2 style="opacity: 0.8" class="text-right opacity-8"><strong>{{$route.params.team_name}}</strong></h2>
    </b-col>
    </b-row>
    <b-row>
      <b-col cols="7">
        <h3 style="opacity: 0.8;" class="text-right">מפק"צ: {{leader}}</h3>
      </b-col>
    </b-row>
    <b-row>
      <div class="dashboard">
        <box
          v-for="(item, index) of boxes"
          :key="index" :soon="item.soon" :title="item.title" :params="item" :icon="item.icon" :linkName="item.linkName"
          :linkParams="item.linkParams">
        </box>
    </div>
    </b-row>
  </div>
</template>

<script>
import Box from '../../components/Box/Box'
import axios from 'axios'

export default {
  name: 'Team',
  components: {Box},
  data () {
    return {
      leader: null,
      boxes: [
        {
          title: 'חברי צוות',
          icon: 'candidates-1',
          linkName: 'TeamMembers',
          linkParams: {team_name: this.$route.params.team_name, team_id: this.$route.params.team_id}
        },
        {
          title: 'הזנת נתונים',
          icon: 'information@2x',
          linkName: 'TeamAssessment'
        },
        {
          title: 'מודחים',
          icon: 'angel@2x',
          linkName: 'RetiredRouteParticipantList'
        },
        {
          title: 'הערכת מפק"צ',
          icon: 'information@2x',
          linkName: 'CommanderEvaluation'
        },
        {
          title: 'תוצאות סוציומטרי',
          icon: 'ranking@2x',
          linkName: 'TeamSozioResults'
        }
      ]
    }
  },
  created () {
    axios.get(`http://localhost:8000/route/soldiers/teams/`)
      .then((response) => {
        for (let team of response.data) {
          if (Number(team.id) === Number(this.$route.params.team_id)) {
            this.leader = team.commander_name
          }
        }
      })
      .catch(function (error) {
        console.log(error)
      })
  }
}
</script>

<style>
.dashboard {
  text-align: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
</style>
