<template>
  <div v-on:keydown="enterPost" style="overflow: hidden;">
    <header class="mb-3">
        <Header :text="$route.params.team_name"></Header>
        <SubHeader :text="`הערות חברי הצוות על: ${chosenMember}`"></SubHeader>
    </header>
    <b-row>
      <b-col cols="3" class="border-left" style="height: 80vh">
        <b-row style="height: 63px;">
          <b-col>
            <h4 style="color: grey; padding-top: 20px;">חברי הצוות</h4>
          </b-col>
        </b-row>
        <choose-member v-if="memberLoaded" @ChangeMember="switchMember" class="people-team" :teamMembers="membersShow"></choose-member>
        <b-spinner variant="primary" v-else></b-spinner>
      </b-col>
      <b-col>
        <b-row>
          <b-col>
        <b-tabs
          pills
          card
          v-model="currentpage"
        >
          <b-tab class="comments-team " v-for="page in pages" :key="page.id" :title="page.title">
            <all-comments v-if="listLoaded && page.title !== 'התאמה'" :comments="comments"></all-comments>
              <b-row v-else-if="listLoaded && page.title === 'התאמה'">
                <b-col class="border-left border-dark">
                  <h5><u> הסבר </u></h5>
                  <all-comments :comments="comments"></all-comments>
                </b-col>
                <b-col>
                  <h5><u> הצעות לשיפור </u></h5>
                  <all-comments :comments="rejects"></all-comments>
                </b-col>
              </b-row>
            <b-spinner variant="primary" v-else></b-spinner>
          </b-tab>
        </b-tabs>
        </b-col>
        </b-row>
        <b-row v-if="notMatch">
          <b-col cols="1"></b-col>
            <b-col cols="4" style="padding: 0; margin: 0;">
              <b-textarea :state="stateInput" v-model="finalComment" class="text-area-send" no-resize rows="2" placeholder="סכם/י את הערות הצוות כאן"></b-textarea>
            </b-col>
            <b-col style="padding: 0; margin: 0;">
              <b-button style="font-size:20px;"  rows="6" class="float-right button-send" variant="primary" @click="postComment">שמור</b-button>
            </b-col>
            <b-col cols="4" style="padding: 0; margin: 0;">
              <b-textarea :state="stateInput" v-model="finalReject" class="text-area-send" no-resize rows="2" placeholder="סכם/י את הצעות לשיפור כאן"></b-textarea>
            </b-col>
            <b-col style="padding: 0; margin: 0;">
              <b-button style="font-size:20px;"  rows="3" class="float-right button-send" variant="primary" @click="postReject">שמור</b-button>
            </b-col>
        </b-row>
        <b-row v-else>
          <b-col cols="1"></b-col>
          <b-col style="padding: 0; margin: 0;" sm="4" md="6" lg="9">
            <b-textarea :state="stateInput" v-model="finalComment" class="text-area-send" no-resize rows="2" placeholder="סכם/י את הערות הצוות כאן"></b-textarea>
          </b-col>
          <b-col style="padding: 0; margin: 0;">
            <b-button style="font-size:20px;"  rows="3" class="float-right button-send" variant="primary" @click="postComment">שמור</b-button>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <p style="color: red;">{{badInput}}</p>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import axios from 'axios'
import httpStatusCodes from '../../models/status-codes'
import Header from '../../components/Core/Header'
import SubHeader from '../../components/Core/SubHeader'
import AllComments from '../../components/Core/AllCommentsSozio'
import ChooseMember from '../../components/Core/ChooseMemberComments'

export default {
  name: 'TeamSozioComment',
  components: {Header, SubHeader, AllComments, ChooseMember},
  data () {
    return {
      memberLoaded: false,
      comments: [],
      stateInput: null,
      listLoaded: false,
      currentpage: 0,
      badInput: null,
      notMatch: false,
      chosenMember: null,
      finalComment: null,
      finalReject: null,
      chosenMemberID: null,
      pages: [
        {id: 1, title: 'אמינות'},
        {id: 2, title: 'פיקוד'},
        {id: 3, title: 'התאמה'},
        {id: 4, title: 'תפקוד תחת לחץ'}
      ],
      members: []
    }
  },
  created () {
    this.getAllComments()
    this.fetchMembers()
  },
  computed: {
    membersShow () {
      let temp = []
      for (let member of this.members) {
        if (member.id === this.chosenMemberID) {
          temp.push({id: member.id, full_name: member.full_name, soldier_values: member.soldier_values, chosen: true})
        } else {
          temp.push(member)
        }
      }
      return temp
    }
  },
  watch: {
    finalComment () {
      if (this.finalComment) {
        this.badInput = ''
        this.stateInput = null
      }
    },
    finalReject () {
      if (this.finalReject) {
        this.badInput = ''
        this.stateInput = null
      }
    },
    currentpage () {
      this.listLoaded = false
      axios.get(`${process.env.BASIC_API}/route/sozio/comments_summary/?soldier_id=${this.chosenMemberID}&sozio_stage=${this.$route.params.sozio_stage}&assessment_field=${this.currentpage + 1}`)
        .then((response) => {
          this.comments = []
          this.rejects = []
          for (let obj of response.data) {
            this.comments.push(obj.comment)
            this.rejects.push(obj.rejects)
          }
          this.listLoaded = true
          this.notMatch = (Number(this.currentpage) === Number(2))
        })
        .catch(function (error) {
          alert(error)
        })
    },
    chosenMemberID () {
      this.listLoaded = false
      axios.get(`${process.env.BASIC_API}/route/sozio/comments_summary/?soldier_id=${this.chosenMemberID}&sozio_stage=${this.$route.params.sozio_stage}&assessment_field=${this.currentpage + 1}`)
        .then((response) => {
          this.comments = []
          this.rejects = []
          for (let obj of response.data) {
            this.comments.push(obj.comment)
            this.rejects.push(obj.rejects)
          }
          this.listLoaded = true
        })
        .catch(function (error) {
          alert(error)
        })
    }
  },
  methods: {
    enterPost (e) {
      if (e.ctrlKey && e.keyCode === 13) {
        this.postComment()
      }
    },
    postComment () {
      if (this.finalComment) {
        axios.post(`${process.env.BASIC_API}/route/sozio/CommentSummaries/`, {sozio_stage: this.$route.params.sozio_stage, subject: this.currentpage + 1, subject_participant: this.chosenMemberID, comment: this.finalComment})
          .then(response => {
            if (response.status === httpStatusCodes.CREATED) {

            }
          })
          .catch(function (error) {
            alert(error)
          })
      } else {
        this.stateInput = false
        this.badInput = 'קלט לא תקין, אנא סכם את הערות הצוות ולאחר מכן לשמור'
      }
    },
    postReject () {
      if (this.finalReject) {
        axios.post(`${process.env.BASIC_API}/route/sozio/CommentSummaries/`, {sozio_stage: this.$route.params.sozio_stage, subject: this.currentpage + 1, subject_participant: this.chosenMemberID, reject: this.finalReject})
          .then(response => {
            if (response.status === httpStatusCodes.CREATED) {

            }
          })
          .catch(function (error) {
            alert(error)
          })
      } else {
        this.stateInput = false
        this.badInput = 'קלט לא תקין, אנא סכם את הערות הצוות ולאחר מכן לשמור'
      }
    },
    switchMember (member) {
      this.chosenMemberID = member[0]
      this.chosenMember = member[1]
    },
    getAllComments () {
      axios.get(`${process.env.BASIC_API}/route/sozio/comments_summary/?soldier_id=${this.$route.params.soldier_id}&sozio_stage=${this.$route.params.sozio_stage}&assessment_field=${this.currentpage + 1}`)
        .then((response) => {
          this.comments = []
          this.rejects = []
          for (let obj of response.data) {
            this.comments.push(obj.comment)
            this.rejects.push(obj.rejects)
          }
          this.listLoaded = true
        })
        .catch(function (error) {
          alert(error)
        })
    },
    fetchMembers () {
      axios.get(`${process.env.BASIC_API}/route/soldiers/team_soldiers/${this.$route.params.team_id}`)
        .then((response) => {
          for (let member of response.data.team_soldiers) {
            if (Number(member.id) === Number(this.$route.params.soldier_id)) {
              this.chosenMemberID = member.id
              this.chosenMember = `${member.soldier_values.first_name} ${member.soldier_values.last_name}`
            }
            this.members.push({id:
             member.id,
            soldier_values: member.soldier_values,
            full_name: `${member.soldier_values.first_name} ${member.soldier_values.last_name}`})
          }
          this.memberLoaded = true
        })
        .catch((error) => {
          alert(error)
        })
    }
  }
}

</script>

<style>
/* .stay-bottom{
  position: fixed;
  bottom: 2vh;
  width: 100%;
} */
.people-team{
  direction: ltr;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.comments-team{
  direction: ltr;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.button-send{
  height: 62px;
  border: grey 1px solid;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.text-area-send {
  border: grey 1px solid;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
</style>
