<template>
  <div>
    <b-row>
    <b-col cols="7">
      <h2 class="text-right opacity-8"><strong>צוותים</strong></h2>
    </b-col>
    </b-row>
    <b-row>
      <b-col cols="9">
        <b-form-input v-model="searchTeam" placeholder="חיפוש צוות"></b-form-input>
      </b-col>
    </b-row>
    <div class="dashboard">
      <box
        title=""
        icon="plus"
        linkName="AddTeam"
      ></box>
      <box
        v-for="team of teams"
        :key="team.pk" :title="team.name" :additionalInfo="[{name: team.commander_name, id: 1}]" :params="team"
        linkName="Team" :linkParams="{team_id: team.id, team_name: team.name}"
      ></box>
    </div>
  </div>
</template>

<script>
import Box from '../../components/Box/Box'
import axios from 'axios'

export default {
  name: 'Teams',
  components: {Box},
  data () {
    return {
      allTeams: [],
      searchTeam: null,
      teamsToShow: null
    }
  },
  computed: {
    teams () {
      return this.teamsToShow
    }
  },
  watch: {
    searchTeam (input) {
      this.teamsToShow = this.allTeams
      if (input && this.allTeams) {
        this.teamsToShow = this.allTeams.filter(
          item => (item.commander_name && item.commander_name.includes(input)) ||
            (item.name && item.name.includes(input))
        )
      }
    }
  },
  created () {
    axios.get('http://localhost:8000/route/soldiers/teams/', {})
      .then((response) => {
        this.allTeams = response.data
        this.teamsToShow = this.allTeams
        console.log(this.allTeams)
      })
      .catch(function (error) {
        console.log(error)
      })
  }

}
</script>

<style scoped>
  h1 {
    margin: 30px;
  }
  .dashboard {
    text-align: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .opacity-8{
    opacity: 0.8;
  }
</style>
