<template>
  <div>
      <header class="mb-3">
      <Header :text="$route.params.team_name"></Header>
      <SubHeader text="סיכום מילולי:"></SubHeader>
    </header>
    <main>
      <b-spinner v-if="!listLoaded" variant="primary" label="Spinning"></b-spinner>
      <div v-else-if="paginatedItems">
        <div v-for="table in paginatedItems" :key="table.id">
          <h5 class="text-decoration"><u> {{table[0].subject}} </u></h5>
          <b-table v-if="table[0].subject === 'אי התאמה'" responsive outlined class="text" striped :items="table" :fields="notMatchFields">
             <template v-slot:cell(profile)="row">
              <b-dropdown :ref="'dropdown' + row.item.id" size="md" right :boundary="'viewport'" no-caret :dropup="true" variant="link">
                <template v-slot:button-content>
                  <div v-if="row.item.pic">
                  <b-avatar variant="primary" :src="`${pathOfServer}${row.item.pic}`"></b-avatar>
                  </div>
                  <div v-else>
                    <b-avatar variant="primary"></b-avatar>
                  </div>
                </template>
                <b-dropdown-header style="padding: 0; margin: 0;" class="text-center">{{row.item.identity_number}}</b-dropdown-header>
                <b-dropdown-divider></b-dropdown-divider>
                <div  v-if="row.item.pic">
                  <b-avatar class="profile-pic" align-self="center"  size="7rem" variant="primary" :src="`${pathOfServer}${row.item.pic}`"></b-avatar>
                  </div>
                  <div v-else>
                    <b-avatar class="profile-pic" size="7rem" align-self="center" variant="primary"></b-avatar>
                  </div>
                  <b-dropdown-text class="text-center">{{row.item.full_name}}</b-dropdown-text>
                  <b-button class="text-center" style="margin-left: 32%" @click="$router.push({ name: 'FullParticipantProfile', params: {id: row.item.id}})" variant="outline-primary" size="sm">פרופיל</b-button>
              </b-dropdown>
            </template>
          </b-table>
          <b-table v-else responsive class="text" striped :items="table" :fields="fields">
             <template v-slot:cell(profile)="row">
              <b-dropdown :ref="'dropdown' + row.item.id" size="md" right :boundary="'viewport'" no-caret :dropup="true" variant="link">
                <template v-slot:button-content>
                  <div v-if="row.item.pic">
                  <b-avatar variant="primary" :src="`${pathOfServer}${row.item.pic}`"></b-avatar>
                  </div>
                  <div v-else>
                    <b-avatar variant="primary"></b-avatar>
                  </div>
                </template>
                <b-dropdown-header style="padding: 0; margin: 0;" class="text-center">{{row.item.identity_number}}</b-dropdown-header>
                <b-dropdown-divider></b-dropdown-divider>
                <div  v-if="row.item.pic">
                  <b-avatar class="profile-pic" align-self="center"  size="7rem" variant="primary" :src="`${pathOfServer}${row.item.pic}`"></b-avatar>
                  </div>
                  <div v-else>
                    <b-avatar class="profile-pic" size="7rem" align-self="center" variant="primary"></b-avatar>
                  </div>
                  <b-dropdown-text class="text-center">{{row.item.full_name}}</b-dropdown-text>
                  <b-button class="text-center" style="margin-left: 32%" @click="$router.push({ name: 'FullParticipantProfile', params: {id: row.item.id}})" variant="outline-primary" size="sm">פרופיל</b-button>
              </b-dropdown>
            </template>
          </b-table>
        </div>
        <div class="overflow-auto">
      <b-pagination
        @change="onPageChanged"
        v-model="currentPage"
        :total-rows="tables.length"
        :per-page="perPage"
        class="my-0"
      ></b-pagination>

      <p class="mt-3">עמוד נוכחי: {{ currentPage }}</p>
  </div>
      </div>
      <div
        v-else
      >
        אין נתונים להציג - לא מולאו שאלונים
      </div>
    </main>
  </div>
</template>

<script>
import axios from 'axios'
import Header from '../../components/Core/Header'
import SubHeader from '../../components/Core/SubHeader'

export default {
  name: 'TeamSozioSummary',
  components: {SubHeader, Header},
  data () {
    return {
      currentpage: 0,
      SozioNumber: null,
      pathOfServer: process.env.ROOT_API,
      DocumentNumber: null,
      listLoaded: false,
      retirePart: false,
      chosenSoldier: '',
      currentPage: 1,
      perPage: 2,
      header: '',
      tables: [],
      paginatedItems: false,
      // eslint-disable-next-line no-undef
      sozio: [{value: null, text: `בחר מספר סוציומטרי`},
        {value: 1, text: 1},
        {value: 2, text: 2},
        {value: 3, text: 3},
        {value: 4, text: 4}
      ],
      fields: [
        {
          key: 'profile',
          label: '',
          sortable: false
        },
        {
          key: 'full_name',
          label: 'שם מלא',
          sortable: true
        },
        {
          thStyle: {width: '70%'},
          key: 'comment',
          label: 'הסבר',
          sortable: false
        }],
      notMatchFields: [
        {
          key: 'profile',
          label: '',
          sortable: false
        },
        {
          key: 'full_name',
          label: 'שם מלא',
          sortable: true
        },
        {
          thStyle: {width: '35%'},
          key: 'comment',
          label: 'הסבר',
          sortable: false
        },
        {
          thStyle: {width: '35%'},
          key: 'reject',
          label: 'הצעות לשיפור',
          sortable: false
        }],
      baseUrl: 'http://127.0.0.1:8000/route/sozio'
    }
  },
  computed: {
  },
  created () {
    this.fetchData()
  },
  mounted () {
  },
  methods: {
    paginate (pageNumber) {
      if (this.tables) {
        this.paginatedItems = this.tables.slice(
          pageNumber * this.perPage,
          (pageNumber + 1) * this.perPage
        )
        console.log(this.paginatedItems)
      }
    },
    onPageChanged (page) {
      this.paginate(page - 1)
    },
    fetchData () {
      axios.get(`${this.baseUrl}/CommentSummaries/?team_id=${this.$route.params.team_id}&sozio_stage=${this.$route.params.SozioNumber}`)
        .then((response) => {
          let allSubjects = []
          for (let obj of response.data) {
            if (!allSubjects.includes(obj.subject_value)) {
              allSubjects.push(obj.subject_value)
              this.tables.push([])
            }
            this.tables[allSubjects.indexOf(obj.subject_value)].push(obj.subject_participant_properties.soldier_values)
            // eslint-disable-next-line no-unused-expressions
            this.tables[allSubjects.indexOf(obj.subject_value)][this.tables[allSubjects.indexOf(obj.subject_value)].length - 1].full_name = `${obj.subject_participant_properties.soldier_values.first_name} ${obj.subject_participant_properties.soldier_values.last_name}`
            try {
              this.tables[allSubjects.indexOf(obj.subject_value)][this.tables[allSubjects.indexOf(obj.subject_value)].length - 1].reject = '\u2022' + obj.reject.replace('\n', '\n\u2022')
            } catch (err) {
              this.tables[allSubjects.indexOf(obj.subject_value)][this.tables[allSubjects.indexOf(obj.subject_value)].length - 1].reject = obj.reject
            }
            try {
              this.tables[allSubjects.indexOf(obj.subject_value)][this.tables[allSubjects.indexOf(obj.subject_value)].length - 1].comment = '\u2022' + obj.comment.replace('\n', '\n\u2022')
            } catch (err) {
              this.tables[allSubjects.indexOf(obj.subject_value)][this.tables[allSubjects.indexOf(obj.subject_value)].length - 1].comment = obj.comment
            }
            this.tables[allSubjects.indexOf(obj.subject_value)][this.tables[allSubjects.indexOf(obj.subject_value)].length - 1].subject = obj.subject_value
          }
          this.listLoaded = true
          this.paginate(0)
        })
        .catch(function (error) {
          alert(error)
        })
    }
  }

}
</script>

<style scoped>
.users{
  cursor: pointer;
}
.text { white-space:pre;
       text-align:right; }
</style>
