<template>
  <div>
    <retire-modal @finishRetireParticipant="retirePart = false"  :Route="true" :id="chosenSoldier" :trigger="retirePart" />
    <b-modal
      v-model="chartModalOpen"
      size="xl"
      hide-footer
    >
      <sozio-chart
        :chartModalColumn="chartModalColumn"
        :chartModalTitle="chartModalTitle"
        :results="this.results"
      />
    </b-modal>
    <header class="mb-3">
      <Header :text="$route.params.team_name"></Header>
      <b-row>
        <SubHeader text="חיילי הצוות לפי דירוג חיילי:"></SubHeader>
        <b-col></b-col>
        <b-col cols="2" v-if="SozioNumber">
          <b-button size="med" variant="primary" pill @click="$router.push({ name: 'TeamSozioSummary', params: {SozioNumber: Number(SozioNumber)}})">סיכום מלל קבוצה</b-button>
        </b-col>
      </b-row>
    </header>
    <nav class="mb-3">
      <b-row>
        <b-col>
          <b-form-select v-model="SozioNumber" :options="sozio" @change="fetchData();"/>
        </b-col>
      </b-row>
    </nav>
    <main>
      <div>
        <b-table  v-if="formSelected && results" responsive class="users" striped hover :items="results" :fields="fields">
          <template v-slot:head()="scope">
            <div class="text-nowrap">
              <b-button @click="openChartModal(scope)" variant="link" v-b-tooltip.hover title="הצג גרף">
                <b-icon icon="bar-chart-line" aria-hidden="true" />
              </b-button>
              {{ scope.label }}
            </div>
          </template>

          <template v-slot:head(edit)="scope">
            <div class="text-nowrap">
              {{ scope.label }}
            </div>
          </template>

          <template v-slot:cell(sozio_line)="row">
            <b-button variant="secondary" v-b-tooltip.hover title="סכם הערות צוותיות" @click="$router.push({name: 'TeamSozioComment', params: {team_id: $route.params.team_id, team_name: $route.params.team_name, soldier_id: row.item.id, sozio_stage: SozioNumber}})">סיכום הערות</b-button>
          </template>

          <template v-slot:cell(edit)="row">
            <b-button @click="openRetireModal(row.item.id)" variant="outline-dark">הדח</b-button>
          </template>
        </b-table>
        <h2
          v-else-if="formSelected"
        >
          אין נתונים להציג - לא מולאו שאלונים
        </h2>
        <div
          v-else
        >
          אנא בחרו טופס
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import axios from 'axios'
import Header from '../../components/Core/Header'
import SubHeader from '../../components/Core/SubHeader'
import RetireModal from '../../components/RetireModal'
import SozioChart from '../../components/SozioChart'

export default {
  name: 'TeamSozioResults',
  components: {SubHeader, Header, RetireModal, SozioChart},
  data () {
    return {
      currentpage: 0,
      SozioNumber: null,
      DocumentNumber: null,
      listLoaded: false,
      results: null,
      retirePart: false,
      chosenSoldier: '',
      chartModalOpen: false,
      chartModalColumn: '',
      chartModalTitle: '',
      chartIsSorted: false,
      header: '',
      sozio: [{value: null, text: `בחר מספר סוציומטרי`},
        {value: 1, text: 1},
        {value: 2, text: 2},
        {value: 3, text: 3},
        {value: 4, text: 4}
      ],
      documents: [{value: null, text: ` בחר מספר טופס`}],
      fields: [
        {
          thStyle: {width: '2%'},
          key: 'edit',
          label: '',
          sortable: false
        },
        {
          key: 'soldier_name',
          label: 'שם מלא',
          sortable: true
        },
        {
          key: 'total_soziometry',
          label: 'חיילי',
          sortable: true
        },
        {
          key: 'total_friendship',
          label: 'חברתי',
          sortable: true
        },
        {
          key: 'total_not_match',
          label: 'אי התאמה',
          sortable: true
        },
        {
          key: 'total_fit_commanders',
          label: 'קצונה',
          sortable: true
        },
        {
          key: 'user_trustworthy_avg',
          label: 'אמינות',
          sortable: true
        },
        {
          key: 'user_stress_avg',
          label: 'תפקוד בלחץ',
          sortable: true
        },
        {
          key: 'commander_evaluation',
          label: 'הערכת מפקד',
          sortable: true
        },
        {
          thStyle: {width: '7%'},
          key: 'sozio_line',
          label: 'סיכום סוציו מילולי',
          sortable: false
        },],
      baseUrl: 'http://127.0.0.1:8000/route/sozio'
    }
  },
  computed: {
    formSelected () {
      return this.SozioNumber
    },
  },
  created () {
  },
  mounted () {
  },
  methods: {
    openRetireModal (id) {
      this.retirePart = true
      this.chosenSoldier = id
    },
    openChartModal (scope) {
      this.chartModalOpen = true
      this.chartModalColumn = scope.column
      this.chartModalTitle = scope.label
    },
    fetchData () {
      if (this.SozioNumber) {
        axios.get(`${this.baseUrl}/FinalResult/?team_id=${this.$route.params.team_id}&sozio_stage=${this.SozioNumber}`)
          .then((response) => {
            console.log(response.data)
            if (response.data.soldier_values) {
              this.results = response.data.soldier_values
            } else {
              this.results = null
            }
          })
          .catch(function (error) {
            alert(error)
          })
      }
    }
  }

}
</script>

<style scoped>
.users{
  cursor: pointer;
}
</style>
