<template>
  <div>
    <b-row>
    <b-col cols="7">
      <h2 style="opacity: 0.8" class="text-right opacity-8"><strong>חברי צוות: {{$route.params.team_name}}</strong></h2>
    </b-col>
    <b-col>
      <b-button pill variant="primary" @click="$router.push({name: 'AddMembers', params: {team_name: $route.params.team_name, team_id: $route.params.team_id}})">הוסף חברי צוות</b-button>
    </b-col>
    </b-row>
    <div style="padding-top: 30px;">
      <div v-if="!listLoaded">
        <b-spinner class="spinner-before" variant="primary"></b-spinner>
      </div>
      <div v-else>
        <team-table :listLoaded="listLoaded" :membersList="members"></team-table>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
import TeamTable from '../../components/TeamTable'

export default {
  name: 'TeamMembers',
  components: {TeamTable},
  data () {
    return {
      members: [],
      listLoaded: false
    }
  },
  created () {
    this.fetchMembers()
  },
  methods: {
    fetchMembers () {
      axios.get(`http://localhost:8000/route/soldiers/team_soldiers/${this.$route.params.team_id}`)
        .then((response) => {
          console.log(response.data)
          for (let member of response.data.team_soldiers) {
            console.log(member.id)
            this.members.push({id:
             member.id,
            soldier_values: member.soldier_values,
            full_name: `${member.soldier_values.first_name} ${member.soldier_values.last_name}`})
          }
          this.listLoaded = true
        })
        .catch((error) => {
          alert(error)
        })
    }
  }
}
</script>

<style>
.spinner-before{
  right: 50%;
  position: absolute;
}
</style>
