<template>
    <b-card-body>
        <p>רשום את דעתך על המפקד מהבחינות הבאות</p>
      <br>
      <br>
        <b-col>
            <b-row class="my-1">
                <b-form-textarea style="display:inline;"  autocomplete="off" v-model="fillers.professionality" placeholder="הערכה מקצועית" rows="3"></b-form-textarea>
            </b-row>
            <br>
            <b-row class="my-1">
                <b-form-textarea style="display:inline;"  autocomplete="off" v-model="fillers.friendship" placeholder="הערכה חברתית. התייחסות אישית (ביחס אליך אישית ביחס לצוות, תרומה לגיבוש הצוות):" rows="3"></b-form-textarea>
            </b-row>
            <br>
            <b-row class="my-1">
                <b-form-textarea style="display:inline;"  autocomplete="off" v-model="fillers.command" placeholder='הערה פיקודית (סגנון מנהיגות, כשר הנעת צוות, "חזון" פיקודי ויעדים ברורים):' rows="3"></b-form-textarea>
            </b-row>
        </b-col>
        <br>
        <b-col sm="2">
          <b-button size="lg" variant="primary" pill @click="sendForm()">שלח</b-button>
        </b-col>
        <b-col sm="11">
          <p id="bad-input" class="" v-text="badInput"></p>
        </b-col>
        <b-col>
          <p id="form-sent"
              v-if="wasFormSent">
            {{ successMessage }}
          </p>
        </b-col>
    </b-card-body>
</template>

<script>
import axios from 'axios'
export default {
  name: 'CommanderFeadback',
  props: ['fillers', 'DocumentNumber', 'SozioNumber'],
  components: {},
  data () {
    return {
      badInput: '',
      errorMessage: 'קלט לא תקין, עליך לבחור 3 חברי צוות ולפרט על כל אחד, מדוע לדעתך הוא מתאים להיות מפק״ץ',
      successMessage: 'טופס נשלח בהצלחה',
      wasFormSent: false
    }
  },
  methods: {
    sendForm () {
      console.log(this.fillers)
      let soldierDet = {'document_number': this.DocumentNumber,
        'sozio_stage': this.SozioNumber,
        'team': this.$route.params.team_id,
        'professionality': this.fillers.professionality,
        'friendship': this.fillers.friendship,
        'command': this.fillers.command}
      axios.post(`http://localhost:8000/route/sozio/CommanderFeedback/`, soldierDet)
        .then(response => {
          this.wasFormSent = true
          console.log('Data sent successfully')
          this.$emit('changeTab')
        })
        .catch(error => {
          alert(error)
        })
    }
  }
}
</script>

<style scoped>
.filler-row {
  height: 50px;
  align-items: center;
}

label {
  display: flex;
}

#form-sent {
  color: green;
}
</style>
