<template>
  <div>
    <b-card-body>
      <p>באיזו מידה?</p>
      <br>
      <br>
      <b-container fluid>
        <b-row class="my-1" v-for="soldier of fillers" :key="soldier.id">
          <b-col sm="2">
            <div style="margin-top: 9px;">
              <span > {{soldier.soldier_name}}: </span>
            </div>
          </b-col>
          <b-col sm="5">
            <span style="margin-left: 5px; font-size: 13px;">במידה רבה מאוד</span>
            <b-form-rating
              inline
              v-model="soldier.grade"
              no-border
              name="radio-inline"
            />
            <span style="margin-right: 5px; font-size: 13px;">במידה נמוכה מאוד</span>
          </b-col>
          <b-col sm='5'>
            <b-form-textarea style="display:inline;"  autocomplete="off" v-model="soldier.comment" placeholder="פרט..." rows="3"></b-form-textarea>
          </b-col>
        </b-row>
        <b-col sm="2">
          <b-button size="lg" variant="primary" pill @click="sendForm()">שלח</b-button>
        </b-col>
        <b-col sm="11">
          <p id="bad-input" class="" v-text="badInput"></p>
        </b-col>
        <b-col>
          <p id="form-sent"
              v-if="wasFormSent">
            {{ successMessage }}
          </p>
        </b-col>
      </b-container>
    </b-card-body>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Form',
  props: ['fillers', 'DocumentNumber', 'SozioNumber'],
  components: {},
  data () {
    return {
      radioOptions: [
        'במידה נמוכה מאוד',
        'במידה נמוכה',
        'במידה רבה מאוד',
        'במידה בינונית',
        'במידה רבה מאוד'
      ],
      badInput: '',
      errorMessage: 'קלט לא תקין, עליך לבחור 3 חברי צוות ולפרט על כל אחד, מדוע לדעתך הוא מתאים להיות מפק״ץ',
      successMessage: 'טופס נשלח בהצלחה',
      wasFormSent: false
    }
  },
  methods: {
    sendForm () {
      console.log(this.fillers)
      let soldierDet = []
      for (let soldier of this.fillers) {
        soldierDet.push({'document_number': this.DocumentNumber, 'sozio_stage': this.SozioNumber, 'grade': soldier.grade, 'comment': soldier.comment, 'subject_participent_id': soldier.id})
      }
      axios.post(`http://localhost:8000/route/sozio/CopingWithStress/`, soldierDet)
        .then(response => {
          this.wasFormSent = true
          console.log('Data sent successfully')
          this.$emit('changeTab')
        })
        .catch(error => {
          alert(error)
        })
    }
  }
}
</script>

<style scoped>
.filler-row {
  height: 50px;
  align-items: center;
}

label {
  display: flex;
}

#form-sent {
  color: green;
}
</style>
