<template>
<div>
  <b-row>
    <b-col cols="7">
      <h2 style="opacity: 0.8" class="text-right opacity-8"><strong>בחירת החברים בצוות: {{$route.params.team_name}}</strong></h2>
    </b-col>
  </b-row>
  <div v-if="listLoaded">
    <team-add-members v-model="fillers" :userList="fillers" :teamName="$route.params.team_name" :teamId="Number($route.params.team_id)" :listLoaded="listLoaded" :sozio=true :selectedLeaders='selectedLeaders' @addfreind='this.Load'></team-add-members>
  </div>
  <div v-else>
    <b-spinner variant="primary"></b-spinner>
  </div>
</div>
</template>

<script>
import TeamAddMembers from '../TeamAddMembers'
import axios from 'axios'

export default {
  name: 'AddMembers',
  components: {TeamAddMembers},
  props: ['DocumentNumber', 'SozioNumber', 'fillers', 'listLoaded', 'selectedLeaders'],
  data () {
    return {
      allSoldiers: []
    }
  },
  methods: {
    Load () {
      let soldierDet = []
      for (let soldier of this.fillers) {
        if (soldier.checked === true) {
          soldierDet.push({subject_participent_id: soldier.id, document_number: this.DocumentNumber, sozio_stage: this.SozioNumber})
        }
      }
      console.log(soldierDet)
      axios.post(`http://localhost:8000/route/sozio/Freindship/`, soldierDet)
        .then(response => {
          this.$emit('changeTab')
        })
        .catch(error => {
          alert(error)
        })
    }
  }
}
</script>

<style>

</style>
