<template>
  <div>
    <b-card-body>
      <p>מי לדעתך אינו מתאים להיות לוחם ביחידה?</p>
      <br>
      <br>
      <b-container fluid>
        <b-row class="my-1" v-for="soldier of noMatchSoldiers" :key="soldier.id">
          <b-col sm="2">
            <b-form-select v-model="soldier.subject_participent_id" :options="soldierOptions"></b-form-select>
          </b-col>
          <b-col sm="5">
            <b-form-textarea style="display:inline;"  autocomplete="off" v-model="soldier.comment" placeholder="נמק בחירתך" rows="3"></b-form-textarea>
          </b-col>
          <b-col sm='5'>
            <b-form-textarea style="display:inline;"  autocomplete="off" v-model="soldier.rejects" placeholder="כיצד הוא יכול לשפר את התאמתו?" rows="3"></b-form-textarea>
          </b-col>
        </b-row>
        <b-col sm="2">
          <b-button size="lg" variant="primary" pill @click="sendForm()">שלח</b-button>
        </b-col>
        <b-col sm="11">
          <p id="bad-input" class="" v-text="badInput"></p>
        </b-col>
        <b-col>
          <p id="form-sent"
              v-if="wasFormSent">
            {{ successMessage }}
          </p>
        </b-col>
      </b-container>
    </b-card-body>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'NoMatch',
  props: ['fillers', 'DocumentNumber', 'SozioNumber'],
  components: {},
  data () {
    const numberOfSoldiers = 3
    let noMatchSoldiers = []
    for (let i in _.range(numberOfSoldiers)) {
      noMatchSoldiers.push({
        id: i,
        document_number: this.DocumentNumber,
        sozio_stage: this.SozioNumber,
        subject_participent_id: null,
        soldier_name: null,
        comment: null,
        rejects: null
      })
    }
    return {
      noMatchSoldiers: [
        ...noMatchSoldiers
      ],
      badInput: '',
      wasFormSent: false,
      successMessage: 'טופס נשלח בהצלחה'
    }
  },
  watch: {
    fillers: function (newVal, oldVal) {
      this.noMatchSoldiers = []
      const numberOfSoldiers = 3
      for (let i in _.range(numberOfSoldiers)) {
        this.noMatchSoldiers.push({
          id: i,
          document_number: this.DocumentNumber,
          sozio_stage: this.SozioNumber,
          subject_participent_id: null,
          soldier_name: null,
          comment: null,
          rejects: null
        })
      }
    }
  },
  computed: {
    soldierOptions () {
      let i = 0
      for (let soldier of this.fillers) {
        if (soldier.comment) {
          soldier.subject_participent_id = soldier.id
          this.noMatchSoldiers[i] = soldier
          this.noMatchSoldiers[i]['document_number'] = this.DocumentNumber,
          this.noMatchSoldiers[i]['sozio_stage'] = this.SozioNumber,
          i = i + 1
        }
      }
      let options = []
      for (let soldier of this.fillers) {
        options.push({
          value: soldier.id,
          text: soldier.soldier_name,
          disabled: this.isSoldierSelected(soldier.id)
        })
      }
      return options
    }
  },
  created: {

  },
  methods: {
    isSoldierSelected (subject_participent_id) {
      return _.find(this.noMatchSoldiers, soldier => soldier.subject_participent_id === subject_participent_id)
    },
    sendForm () {
      axios.post(`http://localhost:8000/route/sozio/NotMatch/`, this.noMatchSoldiers)
        .then(response => {
          this.wasFormSent = true
          console.log('Data sent successfully')
          this.noMatchSoldiers = []
          this.$emit('changeTab')
        })
        .catch(error => {
          badInput: "couldn't send data - invalid form"
          alert(error)
        })
    }
  }
}
</script>

<style scoped>
.filler-row {
  height: 50px;
  align-items: center;
}

label {
  display: flex;
}

#form-sent {
  color: green;
}
</style>
