<template>
  <b-card>
    <b-card-body>
      <p>דרג את חברי הצוות עפ"י רמתם המקצועית הכוללת - כפי שנתפסת בעינייך. דרג במס' 1 את הלוחם המוערך על ידך ברמה הגבוהה ביותר ואח"כ על פי הסדר כשהלוחם הכי פחות מוערך על ידך יקבל את הדירוג 10</p>
      <b-container fluid>
        <b-row class="my-1" v-for="soldier in fillers" :key="soldier.id">
          <b-col sm="10">
            <label>
              <span>{{ soldier.soldier_name }}</span>:
            </label>
          </b-col>
          <b-col sm="2">
            <b-form-input :state="soldier.state" v-model="soldier.grade" autocomplete="off" ></b-form-input>
          </b-col>
        </b-row>
        <b-col cols="2">
          <b-button size="lg" variant="primary" pill @click="sendForm()">שלח</b-button>
        </b-col>
        <b-col cols="11">
          <p id="bad-input" class="" v-text="badInput"></p>
        </b-col>
        <b-col>
          <p id="form-sent"
              v-if="wasFormSent">
            {{ successMessage }}
          </p>
        </b-col>
      </b-container>
    </b-card-body>
  </b-card>
</template>
<script>
import axios from 'axios'
export default {
  name: 'RouteSoziometry',
  props: ['DocumentNumber', 'SozioNumber', 'fillers'],
  components: {},
  data () {
    return {
      badInput: '',
      wasFormSent: false,
      successMessage: 'yess'
    }
  },
  created () {
  },
  methods: {
    sendForm () {
      let grades = []
      for (let soldier of this.fillers) {
        grades.push({
          subject_participent_id: soldier.id,
          document_number: this.DocumentNumber,
          sozio_stage: this.SozioNumber,
          grade: soldier.grade})
      }
      let checkNoDoubles
      let lengthList = grades.length
      let goodInputCheck = true
      let doubleNums = []
      for (let i = 1; i <= lengthList - 2; i++) {
        checkNoDoubles = 0
        for (let index in this.fillers) {
          if (i === Number(this.fillers[index].grade)) {
            checkNoDoubles++
          }
        }
        if (checkNoDoubles !== 1) {
          goodInputCheck = false
          this.badInput = 'הציונים חייבים להיות מתאימים למספר המשתתפים ואסור שיהיו כפילויות'
        }
        if (checkNoDoubles > 1) {
          doubleNums.push(i)
        }
      }
      for (let i in this.fillers) {
        if (doubleNums.includes(Number(this.fillers[i].grade))) {
          this.fillers[i]['state'] = false
        } else if (!this.fillers[i].grade) {
          this.fillers[i]['state'] = false
        } else {
          this.fillers[i]['state'] = true
        }
      }
      console.log(this.fillers)
      for (let index in this.fillers) {
        if (isNaN(this.fillers[index].grade)) {
          this.badInput = 'קלט לא תקין - הציונים חייבים להיות מספרים'
          goodInputCheck = false
        }
      }
      if (goodInputCheck && this.filler !== -1) {
        this.badInput = ''
        axios.post(`http://127.0.0.1:8000/route/sozio/SozioRoute/`, grades)
          .then(response => {
            this.wasFormSent = true
            console.log('Data sent successfully')
            this.$emit('changeTab')
          })
          .catch(error => {
            alert(error)
          })
      }
    }
  }
}
</script>
<style>
  #bad-input{
  color: red;
  right: 40%;
  position: absolute;
  }
  #send-button{
    left: 0%;
    position: absolute;
  }
</style>
