<template>
  <b-card>
    <b-card-body>
      <p>בחר את שלושת חבריי הצוות המתאימים ביותר לתפקד כמפק״צים, פרט על כל אחד מהם מדוע לדעתך הוא מתאים</p>
      <b-container>
        <b-form-group>
          <b-row v-for="{id, soldier_name, checked, comment} in fillers"
                 class="filler-row"
                 :key="id">
            <b-col class="col-sm-1">
              <b-form-checkbox v-model="selected"
                               :value="id"
                               :disabled="!selected.includes(id) && selected.length >= 3"
                               @change="onSoldierSelect(id)"
                               name="flavour-3a">
              </b-form-checkbox>
            </b-col>
            <b-col class="col-sm-2">
              <label :for="id">
                <span>{{ soldier_name }}</span>
              </label>
            </b-col>
            <b-col>
              <b-form-input type="text"
                            placeholder="הסבר"
                            v-if="teamLeadCandidates.hasOwnProperty(id)"
                            v-model="teamLeadCandidates[id]"
                            :state="!!teamLeadCandidates[id]"
                            required
                            :disabled="!selected.includes(id)">
              </b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col class="col-sm-1">
              <b-button size="lg"
                        variant="primary"
                        pill
                        :disabled="selected.length < 3"
                        @click="onButtonClicked()">
                שלח
              </b-button>
            </b-col>
            <b-col>
              <p id="bad-input"
                 v-if="wasButtonClicked && !isValidForm()">
                {{ errorMessage }}
              </p>
              <p id="form-sent"
                 v-if="wasFormSent">
                {{ successMessage }}
              </p>
            </b-col>
          </b-row>
        </b-form-group>
      </b-container>
    </b-card-body>
  </b-card>
</template>

<script>

import axios from 'axios'

export default {
  name: 'TeamLeads',
  props: ['DocumentNumber', 'SozioNumber', 'fillers'],
  data () {
    return {
      selected: [],
      teamLeadCandidates: {},
      validInputs: 0,
      errorMessage: 'קלט לא תקין, עליך לבחור 3 חברי צוות ולפרט על כל אחד, מדוע לדעתך הוא מתאים להיות מפק״ץ',
      successMessage: 'טופס נשלח בהצלחה',
      wasButtonClicked: null,
      wasFormSent: false
    }
  },
  methods: {
    onSoldierSelect (id) {
      if (this.teamLeadCandidates.hasOwnProperty(id)) {
        delete this.teamLeadCandidates[id]
      } else {
        this.teamLeadCandidates[id] = null
      }
    },
    isValidForm () {
      let validInputCount = 0
      for (let candidateId in this.teamLeadCandidates) {
        if (this.teamLeadCandidates[candidateId]) {
          validInputCount++
        }
      }
      return validInputCount === 3
    },
    onButtonClicked () {
      this.wasButtonClicked = true
      if (this.isValidForm()) {
        this.sendForm()
      }
    },
    sendForm () {
      let teamLeadData = []
      for (const id in this.teamLeadCandidates) {
        console.log(this.teamLeadCandidates[id])
        teamLeadData.push({subject_participent_id: id, comment: this.teamLeadCandidates[id], sozio_stage: this.SozioNumber, document_number: this.DocumentNumber})
      }

      // send form
      alert('הטופס נשלח בהצלחה')
      this.wasFormSent = true
      this.wasButtonClicked = false
      axios.post('http://localhost:8000/route/sozio/FitCommander/', teamLeadData)
        .then((response) => {
          this.wasFormSent = true
          console.log('Data sent successfully')
          this.$emit('changeTab')
        })
        .catch((error) => {
          console.log(error)
        })
    }
  }
}
</script>

<style scoped>
.filler-row {
  height: 50px;
  align-items: center;
}

label {
  display: flex;
}

#form-sent {
  color: green;
}
</style>
