<template>
  <b-card>
    <b-card-body>
      <p>עד כמה אתה סומך על אמינותם של חברי הצוות השונים?</p>
      <br>
      <br>
      <b-container fluid>
        <b-row class="my-1" v-for="soldier in fillers" :key="soldier.id">
          <b-col sm="1">
            <label>
              <span>{{ soldier.soldier_name }}</span>:
            </label>
          </b-col>
              <b-col sm="5">
                <b-form-radio-group v-model="soldier.grade" :key="soldier.id">
                  <b-form-radio class="custom-control-inline" v-model="soldier.grade" name="some-radios" value="1">
                    3
                    <br>
                    אמין
                  </b-form-radio>
                  <b-form-radio class="custom-control-inline" v-model="soldier.grade" name="some-radios" value="2">
                    2
                    <br>
                    בספק
                  </b-form-radio>
                  <b-form-radio class="custom-control-inline" v-model="soldier.grade" name="some-radios" value="3">
                    1
                    <br>
                    לא אמין
                  </b-form-radio>
                </b-form-radio-group>
              </b-col>
              <b-col sm='6'>
                <b-form-textarea style="display:inline;"  autocomplete="off" v-model="soldier.comment" placeholder="הסבר..." rows="3"></b-form-textarea>
              </b-col>
            </b-row>
        <b-col sm="2">
          <b-button size="lg" variant="primary" pill @click="sendForm()">שלח</b-button>
        </b-col>
        <b-col sm="11">
          <p id="bad-input" class="" v-text="badInput"></p>
        </b-col>
        <b-col>
          <p id="form-sent"
              v-if="wasFormSent">
            {{ successMessage }}
          </p>
        </b-col>
      </b-container>
    </b-card-body>
  </b-card>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Trustworthy',
  props: ['DocumentNumber', 'SozioNumber', 'fillers'],
  components: {},
  data () {
    return {
      types: [
        'text',
        'number',
        'email',
        'password',
        'search',
        'url',
        'tel',
        'date',
        'time',
        'range',
        'color'
      ],
      badInput: '',
      wasFormSent: false,
      successMessage: 'good'
    }
  },
  created () {
  },
  methods: {
    sendForm () {
      let grades = []
      console.log(this.fillers)
      for (let soldier of this.fillers) {
        console.log(soldier)
        grades.push({
          subject_participent_id: soldier.id,
          document_number: this.DocumentNumber,
          sozio_stage: this.SozioNumber,
          grade: soldier.grade,
          comment: soldier.comment})
      }
      axios.post(`http://127.0.0.1:8000/route/sozio/TrustWorthy/`, grades)
        .then((response) => {
          this.wasFormSent = true
          console.log('Data sent successfully')
          this.$emit('changeTab')
        })
        .catch((error) => {
          console.log(error)
        })
    }
  }
}
</script>
<style>
  #bad-input{
  color: red;
  right: 40%;
  position: absolute;
  }
  #send-button{
    left: 0%;
    position: absolute;
  }
  .filler-row {
  height: 50px;
  align-items: center;
  }

  label {
    display: flex;
  }

  #form-sent {
    color: green;
  }
</style>
