<template>
<!-- list of participant for the group -->
  <div>
    <add-participant-modal
      @finishAddParticipant="showAddParticipant = false"
      :trigger="showAddParticipant"
      :boolFields="addBool"
      :fields="addFields"
      :level_phase="String($route.params.level_phase)"
      :myun_id="String($route.params.gibush_id)"
    />
    <b-row>
     <b-col cols="7">
       <h2 class="text-right opacity-8"><strong>רשימת משתתפים</strong></h2>
     </b-col>
    </b-row>
    <div class="filter-section">
      <b-row class="bg-light border filter-area">
        <b-col cols="3">
          <b-input-group>
              <b-form-select v-model="selectedStage" :options="stageOptions" />
              <b-form-select v-model="selectedGroup" :options="groupOptions" />
          </b-input-group>
        </b-col>
        <b-col>
          <b-form-checkbox-group class="float-right" v-model="selectedFilters" :options="filterItems" />
        </b-col>
      </b-row>
      <b-row>
        <b-col col>
          <users-table
            :userList="userList"
            :myunId="Number($route.params.gibush_id)"
            :listLoaded="listLoaded"
            :clickLinkName="`ParticipantProfile`"
            :filterChange="filterChange"
            :normalList="true"
          />
        </b-col>
      </b-row>
    </div>
    </div>
</template>

<script>
import UsersTable from '../../components/UsersTable'
import FilterCheckbox from '../../components/Filters/FilterCheckbox'
import AddParticipantModal from '../../components/AddParticipantModal'
import axios from 'axios'

export default {
  name: 'ParticipantsList',
  components: { UsersTable, FilterCheckbox, AddParticipantModal },
  data () {
    return {
      addFields: {
        firstName: {key: 'שם פרטי', type: 'text', value: null, state: null, isMandatory: true},
        lastName: {key: 'שם משפחה', type: 'text', value: null, state: null, isMandatory: true},
        id: {key: 'תעודת זהות', type: 'number', value: null, state: null, isMandatory: true},
        pa: {key: 'מספר אישי', type: 'number', value: null, state: null, isMandatory: false},
        birthDate: {key: 'תאריך לידה', type: 'date', value: null, state: null, isMandatory: false},
        firstPhone: {key: 'טלפון ראשון', type: 'number', value: null, state: null, isMandatory: true},
        secondPhone: {key: 'טלפון שני', type: 'number', value: null, state: null, isMandatory: false},
        thirdPhone: {key: 'טלפון שלישי', type: 'number', value: null, state: null, isMandatory: false},
        address: {key: 'כתובת', type: 'text', value: null, state: null, isMandatory: true},
        status: {key: 'סטאטוס גיוס', type: 'text', value: null, state: null, isMandatory: false},
        kaba: {key: 'קבא', type: 'number', value: null, state: null, isMandatory: false},
        dapar: {key: 'דפר', type: 'number', value: null, state: null, isMandatory: false},
        profile: {key: 'פרופיל רפואי', type: 'number', value: null, state: null, isMandatory: false},
        tzadach: {key: 'צדח', type: 'number', value: null, state: null, isMandatory: false}
      },
      addBool: {
        newImm: {key: 'עולה חדש?', type: 'text', value: false, state: null, isMandatory: false},
        medic: {key: 'סעיף רפואי מכשיל?', type: 'switch', value: false, state: null, isMandatory: false}
      },
      filter: false,
      earlyFilter: false,
      userList: [],
      stageNum: {
        'a': 1,
        'b': 2
      },
      groupList: [],
      listLoaded: false,
      showAddParticipant: false,
      selectedStage: 0,
      selectedGroup: 0,
      options1: [],
      options2: [],
      stageOptions: [
        {value: 0, text: 'בחר שלב'},
        {value: 1, text: "שלב א'"},
        {value: 2, text: "שלב ב'"}
      ],
      blankOptions: [
        {value: 0, text: 'קבוצה'}
      ],
      filterItems: [
        {text: 'עולה חדש', value: 'newImmigrant'}
      ],
      selectedFilters: [],
      filterChange: false,
      filterCriteria: {filterImmigrant: null, filterRetired: null},
      getLine: `${process.env.ROOT_API}/participent_list/?myun_id=${this.$route.params.gibush_id}`
    }
  },
  created () {
    this.checkEarlyFilter()
    this.fetchRecords()
    this.fetchGroups()
  },
  computed: {
    groupOptions () {
      if (this.selectedStage === 1) {
        return this.options1
      } else if (this.selectedStage === 2) {
        return this.options2
      } else {
        return this.blankOptions
      }
    }
  },
  watch: {
    selectedFilters () {
      // changes the filter options
      this.filterChange = !this.filterChange
      if (this.selectedFilters.includes('newImmigrant')) {
        this.filterCriteria.filterImmigrant = true
      } else {
        this.filterCriteria.filterImmigrant = null
      }
      if (this.selectedFilters.includes('פרש')) {
        this.filterCriteria.filterRetired = true
      } else {
        this.filterCriteria.filterRetired = null
      }
      if (!this.selectedFilters.length) {
        this.filterCriteria.filterImmigrant = null
        this.filterCriteria.filterRetired = null
      }
      this.fetchFilter()
    },
    selectedStage () {
      // selected stage activates filter check
      if (this.selectedStage === 0) {
        this.selectedGroup = 0
      }
      this.filterChange = !this.filterChange
      this.filterCriteria.filterStage = this.selectedStage
      this.fetchFilter()
    },
    selectedGroup () {
      this.filterChange = !this.filterChange
      this.filterCriteria.filterGroup = this.selectedGroup
      if (this.selectedStage !== 0) {
        this.fetchFilter()
      }
    }
  },
  methods: {
    routeToRetire () {
      // route to retired participant. not sure if in use
      this.$router.push({name: 'RetiredParticipantList', params: {gibush_id: this.$route.params.gibush_id}})
    },
    checkEarlyFilter () {
      // checks if a filyer was set early for example which group was selected
      if (this.$route.params.group_id && this.$route.params.level_phase) {
        this.filter = true
        this.earlyFilter = true
        this.filterCriteria.filterGroup = this.$route.params.group_id
        this.selectedStage = this.stageNum[this.$route.params.level_phase]
        this.selectedGroup = this.$route.params.group_id
        this.filterChange = !this.filterChange
      } else if (this.$route.params.level_phase) {
        this.filter = true
        this.earlyFilter = true
        this.selectedStage = this.stageNum[this.$route.params.level_phase]
        this.filterChange = !this.filterChange
      }
    },
    fetchFilter () {
      // filter does a get. so i checked which filters were selected and added to the get line that is used at the end of the func
      this.getLine = `${process.env.ROOT_API}/participent_list/?myun_id=${this.$route.params.gibush_id}`
      if (this.filterCriteria.filterImmigrant) {
        this.getLine += `&is_new_immigrant=True`
      }
      if (this.filterCriteria.filterRetired) {
        this.getLine += `&participent_status=פרש`
      }
      if (this.filterCriteria.filterStage === 1) {
        if (this.filterCriteria.filterGroup !== 0 && this.filterCriteria.filterGroup) {
          this.getLine += `&first_stage_group=${this.filterCriteria.filterGroup}`
        } else {
          this.getLine += `&stage=1`
        }
      }
      if (this.filterCriteria.filterStage === 2) {
        if (this.filterCriteria.filterGroup !== 0 && this.filterCriteria.filterGroup) {
          this.getLine += `&second_stage_group=${this.filterCriteria.filterGroup}`
        } else {
          this.getLine += `&stage=2`
        }
      }
      if (this.getLine !== `${process.env.ROOT_API}/participent_list/?myun_id=${this.$route.params.gibush_id}`) {
        axios.get(this.getLine)
          .then((response) => {
            this.filterChange = !this.filterChange
            this.userList = response.data
            this.listLoaded = true
          })
          .catch(error => {
            alert(error)
          })
      } else {
        if (this.earlyFilter) {
          this.earlyFilter = false
        }
        this.fetchRecords()
      }
    },
    fetchRecords () {
      // gets records (people)
      if (!this.earlyFilter) {
        axios.get(`${process.env.ROOT_API}/participent_list/?myun_id=${this.$route.params.gibush_id}`)
          .then((response) => {
            this.userList = response.data
            this.filterChange = !this.filterChange
            this.listLoaded = true
          })
          .catch(function (error) {
            console.log(error)
          })
      }
    },
    fetchGroups () {
      // gets all the groups so that user can filter
      let options1 = []
      let options2 = []
      let tempOptions1 = [{value: 0, text: 'קבוצה'}]
      let tempOptions2 = [{value: 0, text: 'קבוצה'}]
      axios.get(`${process.env.ROOT_API}/gibush_group/?myun_id=${this.$route.params.gibush_id}&stage=1`)
        .then((response) => {
          let temp = response.data
          for (let group in temp) {
            let exists = false
            for (let index in options1) {
              if (temp[group].group_id === options1[index]) {
                exists = true
              }
            }
            if (exists === false) {
              options1.push(temp[group].group_id)
            }
          }
          for (let i = 1; i <= options1.length; i++) {
            tempOptions1.push({value: i, text: String(i)})
          }
        })
      axios.get(`${process.env.ROOT_API}/gibush_group/?myun_id=${this.$route.params.gibush_id}&stage=2`)
        .then((response) => {
          let temp = response.data
          for (let group in temp) {
            let exists = false
            for (let index in options2) {
              if (temp[group].group_id === options2[index]) {
                exists = true
              }
            }
            if (exists === false) {
              options2.push(temp[group].group_id)
            }
          }
          for (let i = 1; i <= options2.length; i++) {
            tempOptions2.push({value: i, text: String(i)})
          }
        })
      this.options1 = tempOptions1
      this.options2 = tempOptions2
    },
    setFilter (input, event) {
      console.log(input)
      console.log(event)
    }
  }
}
</script>

<style scoped>
.filter-section {
  right: 0px;
}
.add-participant {
  width: 3%;
}
.filter-area{
  width: 100%;
  margin-top: 4px;
  margin-bottom: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}
</style>
