<template>
<!-- the profile of particpant. has all data -->
  <div>
    <web-cam :insideProfile="true" v-on:Cancel="showCam = false" v-on:CloseCam="showCam = false; $router.go(0)" :soldierId="soldierId" :myunId="gibushId" :trigger="showCam" :identityNumber="identityNumber"></web-cam>
    <div v-if="$route.path === `/participants/gibush/${$route.params.gibush_id}/participant/${$route.params.id}`">
        <add-participant-modal v-on:finishAddParticipant="showAddParticipant = false" :update="true" :trigger="showAddParticipant" :fields="editFields" :boolFields="editBoolFields" :edit="true" :id="$route.params.id" :myunId="Number($route.params.gibush_id)"></add-participant-modal>
        <b-modal
          v-model='showModal'
          @ok="postChangedGroup"
          no-close-on-esc no-close-on-backdrop hide-header-close
          cancel-title="בטל"
          ok-title="העבר"
          title="העברה בין קבוצות - בחר את הקבוצה הרצויה"
        >
          <b-row>
            <b-col cols="2">
              <p dir="rtl" class="modal-text"><span style="color:red;">*</span>שלב</p>
            </b-col>
            <b-col cols="6">
              <b-form-select v-model="selectedStage" :options="optionsStage" />
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="2">
              <p dir="rtl" class="modal-text"><span style="color:red;">*</span>קבוצה</p>
            </b-col>
            <b-col cols="6">
              <b-form-select v-model="selectedGroup" :options="optionsGroup" />
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="12">
              <p class="text-right" id="bad-input">{{badInput}}</p>
            </b-col>
          </b-row>
      </b-modal>
      <retire-modal @finishRetireParticipant="retirePart = false" :gibushId="gibushId" :id="soldierId" :trigger="retirePart" />
        <b-row class="border-bottom">
          <b-col cols="7">
            <h2 class="text-right opacity-8"><strong>פרופיל מועמד</strong></h2>
          </b-col>
        </b-row>

      <b-row style="padding-top: 10px;" align-v="start">
        <b-col cols="3">
          <div style="width: 100%;" v-if="participantDetails.participent_status !== 'פרש'">
            <b-button
              variant="primary"
              :pill="true"
              @click="changeGroup()"
            >
              העבר קבוצה
            </b-button>
            <b-button
              class="float-right"
                variant="danger"
                :pill="true"
                @click="retirePart = true"
              >
                הפרש מועמד
              </b-button>
          </div>
          <div v-else style="width: 100%; ">
            <h5 style="color: red; font-weight: bold;">המועמד הופרש</h5>
            <b-button variant="success" @click="bringBack()">החזר מפרישה</b-button>
          </div>
        </b-col>
        <b-col cols="7"></b-col>
        <b-col cols="2">
          <b-button class="no-padding float-right" pill variant="dark" @click="showAddParticipantModal()">ערוך נתונים</b-button>
        </b-col>
      </b-row>
    </div>
    <b-row style="padding-top: 10px; margin: 0;" align-v="stretch">
      <b-col style="margin: 0; padding: 0" cols="3">
        <div class="border-slant">
        <b-row v-if="picExist">
          <b-col>
          <b-button size="sm" @click="showCam = true" id="snap-again" variant="outline-dark"><b-icon icon="camera"></b-icon></b-button>
          <img id="profile-image" :src="`${serverPath}${profilePic}`">
          </b-col>
        </b-row>
        <b-row v-else class="border-bottom" style="margin-right: 0px;" id="profile-image">
          <b-col>
            <b-button pill @click="showCam = true" variant="primary" size="lg" style="margin-top: 40%;"><b-icon icon="camera"></b-icon></b-button>
          </b-col>
        </b-row>
        <b-row>
            <b-col>
              <h4 style="opacity: 0.8" class="text-center">{{participantDetails.participent.first_name}} {{participantDetails.participent.last_name}}</h4>
            </b-col>
        </b-row>
        </div>
        <b-row class="border-slant" style="margin-right: 0; margin-left: 0; margin-top: 7px;">
          <b-col>
            <b-row>
              <b-col>דירוג סופי</b-col>
            </b-row>
            <b-row>
              <b-col>
                <b-row>
                  <b-col>
                    <p style="font-size: 11px; opacity: 0.8; padding: 0; margin: 0;">ציון סופי</p>
                  </b-col>
                </b-row>
                <b-row>
                <b-col v-if="finalGrade">
                  <p class="border rounded-pill">{{Number.parseFloat(finalGrade).toFixed(2)}}</p>
                </b-col>
                <b-col v-else>
                  <p class="border rounded-pill">-</p>
                </b-col>
                </b-row>
              </b-col>
              <b-col>
                <b-row>
                  <b-col>
                    <p style="font-size: 11px; opacity: 0.8; padding: 0; margin: 0;">סוציומטרי</p>
                  </b-col>
                </b-row>
                <b-row>
                <b-col>
                  <p class="border rounded-pill">{{finalSozio}}</p>
                </b-col>
                </b-row>
              </b-col>
              <b-col>
                <b-row>
                  <b-col>
                    <p style="font-size: 11px; opacity: 0.8; padding: 0; margin: 0;">ציוני מעריכים</p>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col>
                    <p class="border rounded-pill">{{finalAssessor}}</p>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
            <b-row style="padding:0; margin: 0;">
              <b-col cols="3"></b-col>
              <b-col cols="6">
                <b-row>
                  <b-col>
                    <p style="font-size: 14px; opacity: 0.8; padding: 0; margin: 0;">דירוג</p>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col v-if="finalRating">
                    <p class="border rounded-pill">{{finalRating}}</p>
                  </b-col>
                  <b-col v-else>
                    <p class="border rounded-pill">-</p>
                  </b-col>
                </b-row>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-col>
      <b-col cols="7">
        <div class="border-slant">
          <b-row align-v="stretch">
            <b-col cols="1"></b-col>
            <b-col cols="10">
                <profile-details :stage="'א'" :details="firstStageDetails" :assessors="firstStageAssessors"></profile-details>
            </b-col>
          </b-row>
          <b-row align-v="stretch">
            <b-col cols="1"></b-col>
              <b-col cols="10">
                <profile-details :stage="'ב'" :details="secondStageDetails" :assessors="secondStageAssessors"></profile-details>
              </b-col>
          </b-row>
        </div>
      </b-col>
      <b-col>
        <b-row class="border-slant" align-v="stretch">
          <b-col cols="12">
              <personal-details :personalDetails="personalDetails" />
          </b-col>
          </b-row>
      </b-col>
    </b-row>
    <router-view></router-view>
  </div>
</template>

<script>
import axios from 'axios'
import ProfileDetails from '../../components/ProfileDetails'
import PersonalDetails from '../../components/PersonalDetails'
import RetireModal from '../../components/RetireModal'
import httpStatusCodes from '../../models/status-codes'
import WebCam from '../../components/WebCam'
import AddParticipantModal from '../../components/AddParticipantModal'

export default {
  name: 'ParticipantProfile',
  components: {PersonalDetails, ProfileDetails, RetireModal, WebCam, AddParticipantModal},
  props: {
    title: String
  },
  data () {
    return {
      editFields: {
        firstName: {key: 'שם פרטי', type: 'text', value: null, state: null, isMandatory: true},
        lastName: {key: 'שם משפחה', type: 'text', value: null, state: null, isMandatory: true},
        id: {key: 'תעודת זהות', type: 'number', value: null, state: null, isMandatory: true},
        pa: {key: 'מספר אישי', type: 'number', value: null, state: null, isMandatory: false},
        birthDate: {key: 'תאריך לידה', type: 'date', value: null, state: null, isMandatory: false},
        firstPhone: {key: 'טלפון ראשון', type: 'number', value: null, state: null, isMandatory: true},
        secondPhone: {key: 'טלפון שני', type: 'number', value: null, state: null, isMandatory: false},
        thirdPhone: {key: 'טלפון שלישי', type: 'number', value: null, state: null, isMandatory: false},
        address: {key: 'כתובת', type: 'text', value: null, state: null, isMandatory: true},
        status: {key: 'סטאטוס מלש"ב', type: 'text', value: null, state: null, isMandatory: false},
        kaba: {key: 'קבא', type: 'number', value: null, state: null, isMandatory: false},
        dapar: {key: 'דפר', type: 'number', value: null, state: null, isMandatory: false},
        profile: {key: 'פרופיל רפואי', type: 'number', value: null, state: null, isMandatory: false},
        tzadach: {key: 'צדח', type: 'number', value: null, state: null, isMandatory: false}
      },
      editBoolFields: {
        newImm: {key: 'עולה חדש?', type: 'text', value: false, state: null, isMandatory: false},
        medic: {key: 'סעיף רפואי מכשיל?', type: 'switch', value: false, state: null, isMandatory: false}
      },
      showAddParticipant: false,
      retirePart: false,
      numToString: {
        1: 'first_stage_group',
        2: 'second_stage_group'
      },
      picExist: false,
      selectedStage: 0,
      selectedGroup: 0,
      identityNumber: null,
      profilePic: null,
      optionsStage: [
        {value: 0, text: 'בחר שלב'},
        {value: 1, text: "שלב א'"},
        {value: 2, text: "שלב ב'"}

      ],
      showModal: false,
      participantDetails: {},
      personalDetails: [],
      firstStageDetails: [],
      secondStageDetails: [],
      firstStageAssessors: [],
      secondStageAssessors: [],
      gibush: Number,
      boolToYesNo: {
        true: 'כן',
        false: 'לא'
      },
      finalGrade: '',
      finalRating: '',
      gibushId: '',
      options1: '',
      options2: '',
      blankOptions: [{value: '0', text: 'בחר קבוצה'}],
      soldierId: '',
      badInput: '',
      serverPath: process.env.ROOT_API,
      showCam: false
    }
  },
  created () {
    this.fetchParticipantData()
  },
  watch: {
    $route (to, from) {
      this.fetchParticipantData()
    }
  },
  methods: {
    showAddParticipantModal () {
      // edit info about person
      this.editFields = {
        firstName: {key: 'שם פרטי', type: 'text', value: null, state: null, isMandatory: true},
        lastName: {key: 'שם משפחה', type: 'text', value: null, state: null, isMandatory: true},
        id: {key: 'תעודת זהות', type: 'number', value: null, state: null, isMandatory: true},
        pa: {key: 'מספר אישי', type: 'number', value: null, state: null, isMandatory: false},
        birthDate: {key: 'תאריך לידה', type: 'date', value: null, state: null, isMandatory: false},
        firstPhone: {key: 'טלפון ראשון', type: 'number', value: null, state: null, isMandatory: true},
        secondPhone: {key: 'טלפון שני', type: 'number', value: null, state: null, isMandatory: false},
        thirdPhone: {key: 'טלפון שלישי', type: 'number', value: null, state: null, isMandatory: false},
        address: {key: 'כתובת', type: 'text', value: null, state: null, isMandatory: true},
        status: {key: 'סטאטוס גיוס', type: 'text', value: null, state: null, isMandatory: false},
        kaba: {key: 'קבא', type: 'number', value: null, state: null, isMandatory: false},
        dapar: {key: 'דפר', type: 'number', value: null, state: null, isMandatory: false},
        profile: {key: 'פרופיל רפואי', type: 'number', value: null, state: null, isMandatory: false},
        tzadach: {key: 'צדח', type: 'number', value: null, state: null, isMandatory: false}
      }
      this.editBoolFields = {
        newImm: {key: 'עולה חדש?', type: 'text', value: false, state: null, isMandatory: false},
        medic: {key: 'סעיף רפואי מכשיל?', type: 'switch', value: false, state: null, isMandatory: false}
      }
      axios.get(`${process.env.ROOT_API}/participent_profile/?myun_id=${this.$route.params.gibush_id}&id=${this.$route.params.id}`)
        .then(response => {
          if (response.status === httpStatusCodes.OK && response.data && response.data[0]) {
            const participantDetails = response.data[0].participent
            this.editFields.firstName.value = participantDetails.first_name
            this.editFields.lastName.value = participantDetails.last_name
            this.editFields.pa.value = participantDetails.personal_number
            if (participantDetails.birth_date) {
              this.editFields.birthDate.value = participantDetails.birth_date.split('/').reverse().join('-')
            }
            this.editFields.firstPhone.value = participantDetails.first_phone
            this.editFields.secondPhone.value = participantDetails.second_phone
            this.editFields.thirdPhone.value = participantDetails.third_phone
            this.editFields.address.value = participantDetails.address
            this.editFields.status.value = participantDetails.enlistment_status
            this.editFields.kaba.value = participantDetails.kabha
            this.editFields.dapar.value = participantDetails.dapar
            this.editFields.id.value = participantDetails.identity_number
            this.editFields.tzadach.value = participantDetails.tzadach
            this.editBoolFields.newImm.value = participantDetails.is_new_immigrant
            this.editBoolFields.medic.value = participantDetails.disqualifying_medical_trait
          }
        })
        .catch(error => {
          console.log(error)
        })
      this.showAddParticipant = true
    },
    bringBack () {
      // bring back from retirement
      axios.post(`${process.env.ROOT_API}/retirements/`, {soldier_id: this.soldierId, myun_id: this.gibushId, action: 'delete'})
        .then(response => {
          if (response.status === httpStatusCodes.CREATED) {
            this.$router.go(0)
          }
        })
        .catch(error => {
          alert(error)
        })
    },
    postChangedGroup (bvModalEvt) {
      // changee particpant group
      if (this.selectedStage !== 0 && this.selectedGroup !== 0) {
        let groupChange = {soldier_id: this.soldierId, myun_id: this.gibushId}
        groupChange[this.numToString[this.selectedStage]] = this.selectedGroup
        axios.post(`${process.env.ROOT_API}/gibush_stats/`, groupChange)
          .then(response => {
            if (response.status === httpStatusCodes.CREATED) {
              this.$router.go(0)
            }
          })
          .catch(error => {
            console.log(error)
          })
      } else {
        this.badInput = 'אתה חייב לבחור שלב וקבוצה על מנת להעביר'
        bvModalEvt.preventDefault()
      }
    },
    changeGroup () {
      // gets the groups for each stage for modal
      this.badInput = ''
      this.showModal = true
      let options1 = []
      let options2 = []
      let tempOptions1 = [{value: '0', text: 'בחר קבוצה'}]
      let tempOptions2 = [{value: '0', text: 'בחר קבוצה'}]
      axios.get(`${process.env.ROOT_API}/gibush_group/?myun_id=${this.gibushId}&stage=1`)
        .then((response) => {
          let temp = response.data
          let count = 1
          for (let group in temp) {
            let exists = false
            for (let index in options1) {
              if (temp[group].group_id === options1[index]) {
                exists = true
              }
            }
            if (exists === false) {
              options1.push(count)
              count++
            }
          }
          for (let i = 1; i <= options1.length; i++) {
            tempOptions1.push({value: i, text: String(i)})
          }
        })
      axios.get(`${process.env.ROOT_API}/gibush_group/?myun_id=${this.gibushId}&stage=2`)
        .then((response) => {
          let temp = response.data
          let count = 1
          for (let group in temp) {
            let exists = false
            for (let index in options2) {
              if (temp[group].group_id === options2[index]) {
                exists = true
              }
            }
            if (exists === false) {
              options2.push(count)
              count++
            }
          }
          for (let i = 1; i <= options2.length; i++) {
            tempOptions2.push({value: i, text: String(i)})
          }
        })
      this.options1 = tempOptions1
      this.options2 = tempOptions2
    },
    fetchParticipantData () {
      // gets all data on participant
      axios.get(`${process.env.ROOT_API}/participent_profile/?myun_id=${this.$route.params.gibush_id}&id=${Number(this.$route.params.id)}`, {})
        .then((response) => {
          this.participantDetails = response.data[0]
          this.soldierId = response.data[0].participent.id
          let temp = this.participantDetails
          this.profilePic = temp.participent.pic
          axios.get(`${process.env.ROOT_API}${this.profilePic}`)
            .then((response) => {
              this.picExist = true
            })
            .catch(error => {
              console.log(error)
              this.picExist = false
            })
          console.log(this.profilePic)
          this.gibushId = temp.myun_id
          this.firstStageDetails.push({
            'group_id': temp.first_stage_group,
            'sozio': temp.first_stage_sozio,
            'final_grade': temp.first_stage_grade
          })
          this.secondStageDetails.push({
            'group_id': temp.second_stage_group,
            'sozio': temp.second_stage_sozio,
            'final_grade': temp.second_stage_grade
          })
          this.finalGrade = temp.final_grade
          this.finalRating = temp.final_rating
          this.identityNumber = temp.participent.identity_number
          this.personalDetails.push({
            'identity_number': temp.participent.identity_number,
            'personal_number': temp.participent.personal_number,
            'birth_date': temp.participent.birth_date,
            'address': temp.participent.address,
            'is_new_immigrant': this.boolToYesNo[temp.participent.is_new_immigrant],
            'kabha': temp.participent.kabha,
            'dapar': temp.participent.dapar,
            'tzadach': temp.participent.tzadach,
            'medical_profile': temp.participent.medical_profile,
            'disqualifying_medical_trait': this.boolToYesNo[temp.participent.disqualifying_medical_trait]})
          let allAssessors = temp.assessors_grade_names
          for (let i in allAssessors) {
            if (allAssessors[i].stage === 1) {
              this.firstStageAssessors.push(allAssessors[i])
            } else if (allAssessors[i].stage === 2) {
              this.secondStageAssessors.push(allAssessors[i])
            }
          }
        })
        .catch(function (error) {
          console.log(error)
        })
    }
  },
  computed: {
    finalSozio () {
      // returns average of sozio only two digits after decimal
      if (this.firstStageDetails[0].sozio && this.secondStageDetails[0].sozio) {
        let sum = Number(this.secondStageDetails[0].sozio) + Number(this.firstStageDetails[0].sozio)
        console.log(sum)
        return Number.parseFloat(sum / 2).toFixed(2)
      }
      return '-'
    },
    finalAssessor () {
      // returns average of assessor grades only two digits after decimal
      if (this.firstStageAssessors.length === 0 && this.secondStageAssessors.length === 0) {
        return '-'
      } else {
        let sum = 0
        for (let assessor of this.firstStageAssessors) {
          sum += Number(assessor.grade)
        }
        for (let assessor of this.secondStageAssessors) {
          sum += Number(assessor.grade)
        }
        return Number.parseFloat(sum / (this.secondStageAssessors.length + this.firstStageAssessors.length)).toFixed(2)
      }
    },
    optionsGroup () {
      // shows groups for selected stage in change group
      if (this.selectedStage === 1) {
        return this.options1
      } else if (this.selectedStage === 2) {
        return this.options2
      } else {
        return this.blankOptions
      }
    }
  }
}

</script>

<style scoped>
.border-slant{
  border: #2c3e50 1px solid;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
#profile-pic{
  width: 100%;
  height: 250px;
  border: #2c3e50 1px solid;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
#snap-again{
  border: #2c3e50 1px solid;
  border-radius: 10px;
  right: 14px;
  top: 0%;
  position: absolute;
}
#profile-image{
  width: 100%;
  height: 250px;
  border: #2c3e50 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
  #bad-input {
    color: red;
  }
  .modal-text{
    font-size: 20px;
  }
  #retire{
    margin-right: 3%;
  }
  .buttons-prof{
    margin-bottom: 3%;
  }
  #final-stats{
    margin-right: 30%;
    position: absolute;
    width: 15%;
  }
  .final-grade{
    font-weight: bold;
    text-decoration: underline;
    font-size: 30px;
  }
  .opacity-8{
    opacity: 0.8;
  }
</style>
