<template>
<!-- Particpant reception page -->
  <div>
    <add-participant-modal @finishAddParticipant="showAddParticipant = false" :trigger="showAddParticipant" :boolFields="addBool" :fields="addFields" :level_phase="String($route.params.level_phase)" :myun_id="String($route.params.gibush_id)"></add-participant-modal>
  <b-row>
  <b-col cols="7">
    <h2 class="text-right opacity-8"><strong>קליטת מועמדים</strong></h2>
  </b-col>
    <b-col cols="5">
      <b-button class="float-left" variant="primary" @click="showAddParticipant = true">
        הוסף משתתף
      </b-button>
    </b-col>
  </b-row>
    <div class="table-space">
      <users-table
        :userList="userList"
        :listLoaded="listLoaded"
        :receiveParticipant="true"
        :myunId="Number(myun_id)"
        :clickLinkName="`ParticipantProfile`"
      >
      </users-table>
    </div>
  </div>
</template>

<script>
import UsersTable from '../../components/UsersTable'
import AddParticipantModal from '../../components/AddParticipantModal'
import axios from 'axios'

export default {
  name: 'ReceiveParticipant',
  components: {UsersTable, AddParticipantModal},
  data () {
    return {
      userList: [],
      listLoaded: false,
      myun_id: this.$route.params.gibush_id,
      showCam: false,
      addFields: {
        firstName: {key: 'שם פרטי', type: 'text', value: null, state: null, isMandatory: true},
        lastName: {key: 'שם משפחה', type: 'text', value: null, state: null, isMandatory: true},
        id: {key: 'תעודת זהות', type: 'number', value: null, state: null, isMandatory: true},
        pa: {key: 'מספר אישי', type: 'number', value: null, state: null, isMandatory: false},
        birthDate: {key: 'תאריך לידה', type: 'date', value: null, state: null, isMandatory: false},
        firstPhone: {key: 'טלפון ראשון', type: 'number', value: null, state: null, isMandatory: true},
        secondPhone: {key: 'טלפון שני', type: 'number', value: null, state: null, isMandatory: false},
        thirdPhone: {key: 'טלפון שלישי', type: 'number', value: null, state: null, isMandatory: false},
        address: {key: 'כתובת', type: 'text', value: null, state: null, isMandatory: true},
        status: {key: 'סטאטוס מלש"ב', type: 'text', value: null, state: null, isMandatory: false},
        kaba: {key: 'קבא', type: 'number', value: null, state: null, isMandatory: false},
        dapar: {key: 'דפר', type: 'number', value: null, state: null, isMandatory: false},
        profile: {key: 'פרופיל רפואי', type: 'number', value: null, state: null, isMandatory: false},
        tzadach: {key: 'צדח', type: 'number', value: null, state: null, isMandatory: false}
      },
      addBool: {
        newImm: {key: 'עולה חדש?', type: 'text', value: false, state: null, isMandatory: false},
        medic: {key: 'סעיף רפואי פוסל?', type: 'switch', value: false, state: null, isMandatory: false}
      },
      showAddParticipant: false
    }
  },
  created () {
    this.fetchRecords()
  },
  methods: {
    fetchRecords () {
      // gets all the participants in database and sends to user list
      axios.get(`${process.env.ROOT_API}/Participent/?myun_id=${this.myun_id}`)
        .then((response) => {
          for (let participant in response.data) {
            this.userList.push(response.data[participant])
          }
          this.listLoaded = true
        })
        .catch(function (error) {
          console.log(error)
        })
    }
  }
}
</script>

<style scoped>

</style>
