<template>
<!-- list of retired participant -->
  <div>
    <b-row>
    <b-col cols="7">
      <h2 class="text-right opacity-8"><strong>רשימת הדחות</strong></h2>
    </b-col>
    </b-row>
    <div v-if="listLoaded && $route.params.hasOwnProperty('gibush_id')">
      <users-table
        :userList="retiredList"
        :listLoaded="listLoaded"
        :retired="true"
        :myunId="Number($route.params.gibush_id)"
        :clickLinkName="'ParticipantProfile'"
      />
    </div>
    <div v-if="listLoaded && $route.params.hasOwnProperty('team_id')">
      <users-table
        :userList="retiredList"
        :listLoaded="listLoaded"
        :retiredRoute="true"
        :clickLinkName="'FullParticipantProfile'"
      />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import UsersTable from '../../components/UsersTable'

export default {
  name: 'RetiredParticipantList',
  components: { UsersTable },
  data () {
    return {
      retiredList: [],
      listLoaded: false
    }
  },
  created () {
    this.fetchRetired()
  },
  methods: {
    fetchRetired () {
      // gets retired particpants
      if (this.$route.params.hasOwnProperty('gibush_id')) {
        axios.get(`${process.env.ROOT_API}/retirements/?myun_id=${this.$route.params.gibush_id}`)
          .then((response) => {
            if (response.data !== 'no retirements') {
              this.retiredList = response.data
            }
            this.listLoaded = true
          })
          .catch(error => {
            alert(error)
          })
      } else {
        axios.get(`http://localhost:8000/route/soldiers/Retirements/?team_id=${this.$route.params.team_id}`)
          .then((response) => {
            if (response.data !== 'no retirements') {
              this.retiredList = response.data
              console.log(this.retiredList)
            }
            this.listLoaded = true
          })
          .catch(error => {
            alert(error)
          })
      }
    }
  }
}
</script>

<style scoped>
.opacity-8{
  opacity: 0.8;
}
</style>
